<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>E客电动</title>
    <include file="Base/mobile_script"/>
</head>

<body ontouchstart="">

<block name="body"></block>

<block name="script"></block>

<div class="mobbtm">
    <div class="tc3">
        Copyright © 2014-2016 ECO Inc. All rights reserved
    </div>
    <div class="tc4">
        粤备ICP399405-1号
    </div>
</div>

<script>
    $(document).ready(function () {

    })
</script>
</body>

</html>