<? php session_start();?>
<!DOCTYPE html>
<html>

<head>
    <title>E客电动</title>
    <!-- Unresponsive -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if (lte IE 8) ]> <script type="text/javascript">location.href="upgrade.html";</script> <![endif]-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <include file="Base/script_login"/>
    <!--<link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon" />-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="loginboardbody">
<div class="container">
    <block name="body"></block>

    <block name="script"></block>
    <div class="row">
        <div class="col-xs-12 tc">
            <div class="bottbar">
                <div class="t1">Copyright © 2016, ECO Co., Ltd. All Rights Reserved.深圳市E客智慧科技有限公司</div>
                <div class="t2">粤ICP备14253163号-1</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>