<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>E客电动</title>
    <include file="Base/mobile_script"/>
</head>

<body ontouchstart="">
<div class="tpcbanner">
    <a href="/mobile/index" class="tplogo"><img src='/Public/mobile/img/logo.png' /></a>
    <span class="iconfont icon-gengduo-copy topmorebtn selected"></span>
    <span class="iconfont icon-me btn_myindex"></span>
    <span class="iconfont icon-cart btn_mycart"></span>
</div>
<!--下拉框（START）-->
<div class="tpcddl tpcddlset">
    <span class="iconfont icon-gengduo-copy topmorebtn"></span>
    <div class="ddlul">
        <div class="liitm">
            <a href="/mobile/index">E客首页</a>
        </div>
        <div class="liitm">
            <a href="/mobile/mall">E客商城<span class="hottag">NEW</span></a>
        </div>
        <div class="liitm">
            <a class="btn_myindex" href="javascript:void(0)">个人中心</a>
        </div>
        <div class="liitm">
            <a class="btn_cart" href="javascript:void(0)">购物车</a>
        </div>
    </div>
</div>
<div class="tpcddlwp tpcddlset"></div>
<!--下拉框（END）-->


<block name="body"></block>

<block name="script"></block>

<div class="mobbtm">
    <div class="tc3">
        Copyright © 2014-2016 ECO Inc. All rights reserved
    </div>
    <div class="tc4">
        粤备ICP399405-1号
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn_myindex').click(function () {
            var user_id = localStorage.getItem('user_id');

            if (!user_id) {
                location.href = '/mobile/login';
            }
            else {
                location.href = '/mobile/me?access='+ user_id;
            }
        })

        $('.btn_mycart').click(function () {
            var user_id = localStorage.getItem('user_id');

            if (!user_id) {
                location.href = '/mobile/login';
            }
            else {
                location.href = '/mobile/cart?access='+ user_id;
            }
        })

        userLogin();
    })

    function valLogin(access) {
        var user_id = localStorage.getItem('user_id');
//        alert(access);
//        alert(user_id);
        if (!user_id) {
            return false;
        }

        if (!access) {
            return false;
        }

        if (access != user_id) {
            return false;
        }

        return true;
    }
</script>
</body>

</html>