<link rel="stylesheet" href="/Public/mobile/css/base.css" />
<link rel="stylesheet" href="/Public/mobile/css/global.css" />
<script type="text/javascript" src="/Public/mobile/js/framework.js"></script>
<script type="text/javascript" src="/Public/mobile/js/swipe.js"></script>
<script type="text/javascript" src="/Public/mobile/js/global.js"></script>

<!--<script type="text/javascript" src="__PUBLIC__/common/js/js/jquery.js" ></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/common/js/js/order_tools.js" ></script>-->
<script type="text/javascript" src="__PUBLIC__/common/js/js/wx.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/plugin.js"></script>