<!DOCTYPE html>
<html>

<head>
    <title>E客电动</title>
    <!-- Unresponsive -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--[if (lte IE 8) ]>
    <script type="text/javascript">location.href = "upgrade.html";</script> <![endif]-->
    <meta name="keywords" content="E客电动、E客科技、E客、电动车、踏板车、机车、智能车、时尚电动车、E1、E1 S、E1 PLUS"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <include file="Base/script"/>

    <![endif]-->
</head>

<body>

<div class="nxtopbanner">
    <div class="inner">
        <a href="index.html" class="ltlogo">
            <img src="/Public/common/js/img/logo.png"/>
        </a>
        <div class="rtico">
            <a id="my-cart" href="javascript:void(0)"><span class="iconfont icon-gouwuche"></span></a>
            <a id="my-index" href="javascript:void(0)"><span class="iconfont icon-user"></span></a>
        </div>
        <div class="mdcontent">
            <ul class="uln">
                <li class="ykzn">
                    <a href="/index/scooter">E客电动</a>
                    <!--<div class="mdliddl">-->
                    <!--<div class="mdliddlindxtcg01">-->
                    <!--&nbsp;-->
                    <!--</div>-->
                    <!--<div class="mdliddlindxtcg02">-->
                    <!--<a href="/index/scooter" class="innacht">-->
                    <!--<div class="mdliddlindxtcg03"></div>-->
                    <!--<div class="mdliddlindxtcg04">EC1</div>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="mdliddlindxtcg02">-->
                    <!--<a href="/index/scooter" class="innacht">-->
                    <!--<div class="mdliddlindxtcg03"></div>-->
                    <!--<div class="mdliddlindxtcg04">EC2</div>-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="mdliddlindxtcg01">-->
                    <!--&nbsp;-->
                    <!--</div>-->

                    <!--</div>-->
                </li>
                <li>
                    <a href="/index/mall">商城</a>
                </li>
                <li>
                    <a href="/index/authorized">合作伙伴</a>
                </li>
                <li>
                    <a href="/index/server">服务</a>
                </li>
                <li>
                    <a id="bbs" href="javascript:tobbs()">社区</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<block name="body"></block>

<block name="script"></block>
<!--<div class="pagebottom">-->
<!--<div class="container tcg1">-->
<!--<div class="row" style="margin-bottom:20px;">-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">发现易客</div>-->
<!--<div class="t2">易客智能</div>-->
<!--<div class="t2">商城</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">易客新款</div>-->
<!--<div class="t2">EC1 Publish</div>-->
<!--<div class="t2">EC2 Publish</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">商城</div>-->
<!--<div class="t2">在售商品</div>-->
<!--<div class="t2">购物车</div>-->

<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<a href="#" class="iconfont icon-unie61d weibo_bt"></a>-->
<!--<a href="#" class="iconfont icon-weixin weixin_bt"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">社区</div>-->
<!--<div class="t2">骑士招募</div>-->
<!--<div class="t2">新手试驾</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">服务</div>-->
<!--<div class="t2">出行保障</div>-->
<!--<div class="t2">维修站点</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">使用易客</div>-->
<!--<div class="t2">FAQ</div>-->
<!--<div class="t2">技术支持</div>-->

<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="t1">24小时全国服务热线</div>-->
<!--<div class="qgrx">400-888-8888</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="iconfont icon-angledown" onclick="$('html,body').animate({scrollTop: 0}, 300);"
     style="cursor:pointer;width:60px;height:60px;display:inline-block;right:20px;bottom:20px;position:fixed;z-index:5;background:#3d3c42;color:#FFF;transform:rotate(180deg);text-align:center;line-height:54px;font-size:36px;"></div>
<div class="pagebottom">
    <div class="container tcg1">
        <div class="row">
            <div class="col-xs-5">
                粤ICP备16104906号 Copyright 2014-2016 ECO Inc. All rights reserved.
            </div>
            <div class="col-xs-1">
                <img style="width: 80px" src="/Public/common/js/img/app_url.png">
            </div>
            <div class="col-xs-1">
                <img style="width: 80px" src="/Public/common/js/img/wx_url.jpg">
            </div>
            <div class="col-xs-2">
                <div class="t1">全国服务热线</div>
                <div class="qgrx">400-009-2909</div>
            </div>
            <div class="col-xs-2">
                <div class="t1">周一至周日</div>
                <div class="qgrx">8:00-17:00</div>
            </div>
        </div>
    </div>
</div>

<div class="tcg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div>
                    Copyright © 2014-2016 ECO Inc. All rights reserved.
                </div>
            </div>
            <!--<div class="col-xs-4">-->
            <!--<div>-->
            <!--<span>Privacy Policy</span> <span>Terms of Use</span>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</div>

<!-- /container -->

</body>
<script type="text/javascript">
    $(document).ready(function () {

        $('#my-cart').click(function () {
            var user_id = localStorage.getItem('user_id');

            if (!user_id) {
                location.href = '/index/login';

                return;
            }

            location.href = '/index/cart?access=' + user_id;
        })

        $('#my-index').click(function () {
            var user_id = localStorage.getItem('user_id');

            if (!user_id) {
                location.href = '/index/login';

                return;
            }

            location.href = '/index/user_order?access=' + user_id;
        })

//        systemInfo();
    })

    //    function systemInfo() {
    ////        $.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){
    ////            alert(remote_ip_info.country);
    ////            alert(remote_ip_info.province);
    ////            alert(remote_ip_info.city);
    ////            alert(remote_ip_info.ip);
    ////        });
    //
    //        var url = 'http://chaxun.1616.net/s.php?type=ip&output=json&callback=?&_='+Math.random();
    //        $.getJSON(url, function(data){
    //            alert(JSON.stringify(data));
    //        });
    //    }

    function tobbs() {
//        return;

        var user_id = localStorage.getItem('user_id');

        if (!user_id) {
            location.href = '/index/login';

            return;
        }

        location.href = 'http://bbs.ecomoter.com?access=' + user_id;
    }
    function valLogin(access) {
        var user_id = localStorage.getItem('user_id');

        if (!user_id) {
            return false;
        }

        if (!access) {
            return false;
        }

        if (access != user_id) {
            return false;
        }

        return true;
    }
</script>
</html>