
<link rel="stylesheet" href="__PUBLIC__/common/js/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/iconfont.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/global.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/frontend.css" />
<script type="text/javascript" src="__PUBLIC__/common/js/js/jquery.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/global.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/plugin.js"></script>

