
<link rel="stylesheet" href="__PUBLIC__/common/js/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/iconfont.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/global.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/frontend.css" />
<script type="text/javascript" src="__PUBLIC__/common/js/js/jquery.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/jquery.lazyload.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/global.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/user_pc_tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/order_tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/wx.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/plugin.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/c.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/exif.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/mega-pixImage.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/img-tools.js"></script>