      </div>
      <!-- BEGIN 内容区-->
   </div>
   <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">{$Think.config.support}</div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
    
     <script>
     jQuery(document).ready(function() {    
         App.init(); // initlayout and core plugins
     });
     </script>
    <!-- END JAVASCRIPTS -->
    
   </body>
</html> 