body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:320px;
  height:580px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-28px;
  top:-28px;
  width:380px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:118px;
  width:320px;
  height:512px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u3 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:781px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:60px;
  top:50px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:127px;
  top:34px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:240px;
  top:30px;
  width:70px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:289px;
  top:42px;
  width:7px;
  height:7px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:285px;
  top:38px;
  width:15px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:256px;
  top:41px;
  width:9px;
  height:9px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:265px;
  top:42px;
  width:7px;
  height:7px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:249px;
  top:42px;
  width:7px;
  height:7px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:91px;
  top:146px;
  width:259px;
  height:76px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:76px;
}
#u25 {
  position:absolute;
  left:2px;
  top:30px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:190px;
  top:232px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:80px;
  top:296px;
  width:280px;
  height:89px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:89px;
}
#u29 {
  position:absolute;
  left:2px;
  top:36px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:106px;
  top:300px;
  width:230px;
  height:82px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:82px;
}
#u31 {
  position:absolute;
  left:2px;
  top:33px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:160px;
  top:392px;
  width:121px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:170px;
  top:440px;
  width:101px;
  height:101px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:190px;
  top:541px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
