<extend name="Base/common"/>


<block name="body">


<!-- 页面部分 -->
<style>
    body {
        background: #f4f4f4;
    }

    .ecproditm .imgdivhod {
        height: 180px;
    }
</style>
<div style="height:140px;"></div>
<div class="container" style="margin-bottom:20px;">

<div class="row">
<div class="col-xs-2">&nbsp;</div>
<div class="col-xs-8">
<style>
    body {
        color: #444;
        background: #FFF;
    }

    #homepge {
        position: fixed;
        left: -100000px;
        width: 100%;
    }

    .mietig {
        padding: 10px;
        border: 1px dotted #d6e6f2;
        color: #579cd0;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .mietig:last-child {
        margin-bottom: 0;
    }

    .duratt {
        font-size: 18px;
        color: #579cd0;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
        position: relative;
        text-align: center;
    }

    .duratt .l {
        height: 1px;
        background: #d6e6f2;
        width: 30%;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .duratt .l.rt {
        left: auto;
        right: 0;
    }
</style>
<div style="padding:20px;line-height:28px;font-size:16px;">
<div style="font-size:24px;">以想法之名，携梦想之行</div>
<div style="margin-bottom:15px;font-size:12px;">——天使圈•创业者学院深圳新学期开始招生啦！</div>

<div style="margin-bottom:20px;font-weight:bold;border-left:5px solid #d6e6f2;padding-left:20px;"><img
        src="http://angelhere.cn/img/fk02.jpg" height="40" style="margin-bottom:10px;"/><br/> 硅谷创业者学院（Founder
    Institute）在全球6大洲落地超过135个城市，培养了超过2000个企业，全球拥有超过6400个导师，孵化项目总估值超过120亿美元，毕业公司融资达4亿以上，提供了15000个工作岗位。
</div>
<div style="margin-bottom:20px;font-weight:bold;border-left:5px solid #d6e6f2;padding-left:20px;"><img
        src="http://angelhere.cn/img/fk01.jpg" height="40" style="margin-bottom:10px;"/><br/>英特尔是计算创新领域的全球领先厂商。英特尔设计和构建关键技术，为全球的计算设备奠定基础.
    英特尔中国于2015年4月在中国成立众创空间加速器计划，旨在打造全球领先的创客生态，通过建立联合众创空间、线上创新中心，以及推进创投与产业孵化，实现从从创想到创客、从创新到创业提供全程价值链输出。
</div>

<div>
    本期课程由硅谷创业者学院提供先进的理念与技术支持，通过实战型CEO的针对性指导和系统的商业课程进行培训，英特尔众创空间加速器还将针对在物联网，大数据，机器人，可穿戴智能设备等新技术领域有技术需求的创业者进行专家辅导。同时英特尔还设立专项<strong>奖学金</strong>，凡在创业者学院毕业并在产品中采用英特尔的任何相关技术的团队均可获得<strong>三万元人民币的奖学金</strong>。
    欢迎有志在科技领域发展的创业者加入，这里将是您迅速提升自我、呵护创业梦想最好的成长天梯。
</div>
<div style="padding:20px 0 0;">
    <div class="duratt">
        <div class="l lt"></div>
        <div class="l rt"></div>
        课程特色
    </div>
    <div class="mietig">硅谷背景（先进理念+定位分析+资金扶持+技术支持+完善培训）</div>
    <div class="mietig">英特尔支持（英特尔技术平台支持和专家指导，提供多项帮助）</div>
    <div class="mietig">专项<strong>奖学金</strong>（成功毕业并使用英特尔技术的团队均可获得<strong>奖学金</strong>）</div>
    <div class="mietig">专家领航（中美一流创业CEO实时指导甚至直接投资）</div>
    <div class="mietig">方法系统（想法到产品开发运营再到进入市场融资一步到位）</div>
    <div class="mietig">一气呵成（4个月想法变公司）</div>
    <div class="mietig">平台宽广（给你最有价值的社交圈，和优秀的人一起成长）</div>
    <div class="mietig">口碑俱佳（多家媒体头条报道，毕业生企业发展迅猛）</div>


</div>

<div style="padding:20px 0 0;">
    <div class="duratt">
        <div class="l lt"></div>
        <div class="l rt"></div>
        课程设置
    </div>
    <div style="background:#fff;box-shadow:0 1px 15px rgba(0,0,0,.1);font-size:14px;margin-bottom:20px;padding:15px;border-radius:5px;">
        我们将实行每周1节课一主题教学模式，每次课4小时，每周2次小组聚会，20小时线下任务，进行为期4个月的不脱产课程学习。课程内容包括公司营收、成本和利润，市场营销和销售，如何对外宣传以及融资等等，教会创业者如何创建稳定和有持久发展潜力的公司。
        <br/>
        每个导师将根据该周主题、结合自身经验为创业者讲解关键知识,然后与每位创业者一起讨论其创业项目,并针对性的给予创业者从核心理念到盈利模式的反馈。在导师教课之外,创业者需要参加一个星期两次的与自己的小组组员会面并一起工作的活动。在顺利毕业之后还将进行毕业路演及项目融资。
        <br/>
        通过四个月的孵化课程帮助创业者验证创业想法,在不脱产的前提下，为创业者建立梦想中的科技公司，并极大地减少创业风险。创业者所学到的知识和课程中所做的作业都直接为建立他们心中的理想公司服务，理论与实践结合，在课程中并可获得导师的实时指导甚至直接投资。
    </div>
    <img src="http://angelhere.cn/img/tyuj2.jpg" width="100%" style="margin-bottom:20px;"/>

    <div style="margin-bottom:20px;">
        报名之后我们将会根据您的信息对您进行全方位跟踪服务，一对一联系，届时将邀请您进行在线DNA测试。<br/>
        与其他孵化器看中创业者的项目不同，FI更注重学员的个人素质和创业DNA。So通过测试的学员才能进入为期4个月的不脱产课程哦...
    </div>
    <div id="baomingnow">
        <div class="sgett" style="margin-bottom:20px;">现在报名</div>
        <style>
            .sgett {
                background: #a6e1ec;
                color: #FFF;
                text-align: center;
                margin-bottom: 15px;
                border-radius: 100px;
            }

            .fomtb {
                width: 100%;
                font-size: 14px;
                margin-bottom: 15px;
            }

            .fomtb td {
                padding-bottom: 10px;
            }

            .fomtb input, .fomtb textarea {
                background: #F0F0F0;
                border: none;
                width: 100%;
                box-sizing: border-box;
                padding: 0 10px;
                height: 40px;
            }

            .fomtb textarea {
                height: 120px;
                padding-top: 8px;
            }

            .fomtb td {
                vertical-align: top;
            }

            .fomtb td.col1 {
                padding-top: 8px;
            }
        </style>
        <table class="fomtb">
            <tr>
                <td class="col1">姓名</td>
                <td><input type="text" id="nametxt"/></td>
            </tr>
            <tr>
                <td class="col1">电话</td>
                <td><input type="tel" id="phonetxt"/></td>
            </tr>
            <tr>
                <td class="col1">公司/职位</td>
                <td><input type="text" id="zwtxt"/></td>
            </tr>
            <tr>
                <td class="col1">创业简介</td>
                <td><textarea placeholder="请用少于50字简单介绍您的创业想法" id="desctxt"></textarea></td>
            </tr>
            <tr>
                <td class="col1"></td>
                <td>
                    <button id="resokbtn"
                            style="display:inline-block;border:none;background:#ee5a19;color:#FFF;border-radius:5px;height:40px;width:100%;box-sizing: border-box;">
                        提交
                    </button>
                </td>
            </tr>
        </table>
        <div class="sgett">联系我们</div>
        <div>邮箱：info@angelhere.com</div>
        <div style="margin-bottom:15px;">官网：<a href="http://www.angelhere.cn">www.angelhere.cn</a></div>
        <div class="sgett">关注天使圈</div>
        <div style="text-align:center;">
            <img style="margin-top:30px;margin-bottom:10px;" src="/Public/statics/img/tsqqr.png"/>

            <div style="font-size:12px;color:#aaa;margin-bottom:55px;">长按识别二维码或搜索“天使圈”公众号</div>

            <div style="margin-bottom:120px;padding:10px;border-left:1px dotted #ccc;line-height:18px;border-right:1px solid #EEE;padding:0 15px;text-align:left;font-size:12px;">
                天使圈是一个跨中美两地，由多位硅谷海归创办的新型超早期高科技孵化器，为中国本土创业公司提供种子期、天使期投资、创业孵化等服务。与传统的孵化器不同，天使圈结合自身的天使基金从理念、产品、盈利模式、销售、市场、融资等角度全方位帮助创业公司，并且是创业者学院中国运营方。
            </div>
        </div>
        <div class="sgett">关注英特尔</div>
        <div style="text-align:center;">
            <img style="margin-top:30px;margin-bottom:15px;" src="http://angelhere.cn/img/qrintel.jpg" width="120"/>

            <div style="font-size:12px;color:#aaa;margin-bottom:15px;">长按识别二维码或搜索“英特尔众创空间加速器”公众号</div>

        </div>
    </div>
</div>
<style>
    .collapseboard {
        padding: 20px 0;
    }

    .collapseboard .ttcm {
        padding: 10px;
        border: 1px solid #579cd0;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .12);
        border-radius: 100px;
        text-align: center;
        position: relative;
        margin: 15px 0;
        cursor: pointer;
        color: #1f76bd;
    }

    .collapseboard .ttcm .crv {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -15px;
        background: url(/img/corarr-rt.png) center center no-repeat;
        background-size: cover;
        /*box-shadow:0 0 5px rgba(0,0,0,.15);*/
        border-radius: 100px;

    }

    .collapseboard .ttcm.selected .crv {
        background-image: url(/img/corarr-bt.png);
    }

    .collapseboard .ttctt {
        display: none;
    }

    .collapseboard .ttctt.selected {
        display: block;
    }
</style>
<div class="collapseboard">


    <div class="ttcm" rel="#kechengtese">
        课程特色
        <div class="crv"></div>
    </div>
    <div class="ttctt" id="kechengtese">
        <div class="sgett">硅谷背景</div>
        <p>硅谷创业者学院（Founder Institute）由硅谷系列创业家，SpaceX联合创始人-- Adeo Ressi创办。
            在全球6大洲落地超过135个城市，培养了超过2000个企业，全球拥有超过6400个导师，孵化项目总估值超过120亿美元，毕业公司融资达4亿以上，提供了15000个工作岗位，是全球最大的超早期科技孵化器。</p>

        <p>
            天使圈作为创业者学院中国运营方，我们采用硅谷先进的理念和经验，帮助互联网创业公司找到合适自身、可持续、可扩展的成长模式，同时将传统行业资源与互联网思维对接，不仅为创业公司提供资金上的帮助，同时也提供技术支持以及商业模式完善辅导和各种创业培训服务。</p>

        <div class="sgett">英特尔支持</div>
        <p>
            英特尔提供技术模块及平台支持，包括Curie可穿戴智能设备，Edison物联网，Realsense实感技术，yunnee无人机，机器人和大数据云计算等。从而解决创业者们有关模块创造、软件等方面的问题，从而使其能够更专注于新产品研发。目前这些技术已运用到3D体感游戏、3D电影、Cein手指静脉身份认证等产品中。除技术支持外，英特尔还将给创业者们提供实验环境，并设立专项奖金等。</p>
        <img src="http://angelhere.cn/img/fk04.jpgg" width="100%" style="margin-bottom:25px;"/>

        <div class="sgett">专项奖学金</div>
        <p>除了给予技术支持外，英特尔还针对智能硬件项目设立了专项奖学金，凡在创业者学院毕业并在产品中采用英特尔的任何相关技术的团队均可获得三万元人民币的奖学金。</p>

        <div class="sgett">方法系统</div>
        <p>最好的学习方法就是实践。通过每周一次为期 4 个月的系统性培训课程以及与公司建立相关的作业，在您从创业者学院毕业时，就会成为一家可持久经营的科技公司的创始人。另外，课程是不脱产课程学习，因此您无需辞去本职工作。</p>
        <style>
            .chimiths {
                display: table;
                width: 100%;
                margin-bottom: 15px;
            }

            .chimiths .cohitm {
                background: #fed585;
                width: 25%;
                height: 100px;
                display: table-cell;
                color: #FFF;
                box-sizing: border-box;
                padding: 10px;
                font-size: 12px;
                line-height: 18px;
            }

            .chimiths .cohitm * {
                text-shaow: 0 1px 4px rgba(0, 0, 0, .7);
            }

            .chimiths .cohitm:nth-child(2) {
                background: #ffc572;
                color: #FFF;
            }

            .chimiths .cohitm:nth-child(3) {
                background: #ffb359;
                color: #FFF;
            }

            .chimiths .cohitm:nth-child(4) {
                background: #fc9734;
                color: #FFF;
            }

            .chimiths .cohitm .t1 {
                font-size: 15px;
                margin-bottom: 5px;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
            }
        </style>
        <div class="chimiths">
            <div class="cohitm">
                <div class="t1">第1个月</div>
                <div>想法和用户获取</div>
            </div>
            <div class="cohitm">
                <div class="t1">第2个月</div>
                <div>公司和团队组建</div>
            </div>
            <div class="cohitm">
                <div class="t1">第3个月</div>
                <div>产品开发和销售</div>
            </div>
            <div class="cohitm">
                <div class="t1">第4个月</div>
                <div>进入市场、白手起家、融资</div>
            </div>
        </div>

        <div class="sgett">专家精讲</div>
        <p>
            再也不用自己闷头苦干。我们联合硅谷和本地知名创业家组成导师团，每次课程都会由三到四名中美一流导师主讲，天使圈·创业者学院将邀请本地科技领袖、成功创业家等具有实战经验型的CEO、创始人组成本地导师团。从“过来人”创业家导师那里获得一对一指导、反馈和评估。在大多数时候，导师和创业者的比例都要大于
            1:1，而且创业者学院全球导师网络的人数超过了4400人。</p>
        <img src="http://angelhere.cn/img/fk03.jpg" width="100%" style="margin-bottom:10px;"/>

        <p>天使圈·创业者学院还将有独一无二的“毕业生股权池”使每一届的毕业生和导师们能分享股权升值。</p>

        <div class="sgett">产出率高</div>
        <p>
            许多创业者通过创业者学院改善了自己的创业想法，制定合适的营销策略，建立顾问团，聘请联合创始人，改进路演演讲，做出产品原型，做好融资准备，甚至获得收入等等。日前全球共孵化2000余家公司，孵化公司总估值150亿美元。</p>

        <div><img src="http://angelhere.cn/img/about2.jpg" width="100%"/></div>
    </div>


    <div class="ttcm" rel="#wangqikecheng">
        往期回顾
        <div class="crv"></div>
    </div>
    <div class="ttctt" id="wangqikecheng">

        <div class="sgett">往期课程</div>
        <p>
            天使圈·创业者学院在中国深圳成功开设第一期课程，吸引了近300个项目报名，经筛选后有36个项目入围，6个项目最终毕业。第一期“毕业项目路演”于2015年4月26日在深圳进行，六个毕业项目全部融资成功，融资总额近千万。硅谷创业者学院创始人Adeo
            Ressi首次访华，并亲临现场助阵。</p>
        <img src="http://angelhere.cn/img/eabout3.jpg" width="100%"/>

        <p>2015年6月天使圈Founder Institute在成都筹备中国第二期，共187个项目报名，27个项目被筛选入围，共6个项目毕业，6个项目全部融资成功，融资1600多万。</p>
        <img src="http://angelhere.cn/img/eabout4.jpg" width="100%" style="margin-bottom:15px;"/>

        <div class="sgett">传媒关注</div>
        <p>天使圈·创业者学院的创新模式也吸引了众多媒体的目光，南方都市报、深圳特区报、华西都市报等媒体对天使圈·创业者学院多次进行报道，并置于头版头条位置引起广泛关注。</p>
        <img src="http://angelhere.cn/img/eabout5.jpg" width="100%" style="margin-bottom:15px;"/>

        <p>除了纸媒之外，深圳卫视频道、深圳财经频道、深圳公共频道等电视媒体也到场进行采访和报道。图为Adeo Ressi和FI中国运营方-天使圈CEO刘唯劼接受电视台采访：</p>
        <img src="http://angelhere.cn/img/eabout6.jpg" width="100%"/>

        <p>在自主开展创业指导的同时，结合“大众创新，万众创业”政策引导下，天使圈·创业者学院还积极响应政府号召，联合国内多家专业创投机构共同成立“互联网+”创投基金，全方位的为创业者提供帮助。</p>

        <div class="sgett">优秀毕业生</div>
        <img src="http://angelhere.cn/img/eabout7.jpg" width="100%" style="margin-bottom:15px;"/>
        <a href="#baomingnow"
           style="display:block;width:100%;height:40px;line-height: 40px;color:#FFF;background:#579cd0;text-align:center;">
            还等什么？赶快报名吧
        </a>
    </div>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapseboard .ttcm').click(function () {

            var $this = $(this);
            $this.toggleClass('selected');
            var ct = $($this.attr('rel'));

            if ($this.hasClass('selected')) {
                ct.addClass('selected');
            } else {
                ct.removeClass('selected');
            }
        });

        $('#resokbtn').click(function () {
            var url = "http://wx.myoungoo.com/api/test/addData";
            var txt = $('#nametxt').val() + "||||" + $('#phonetxt').val() + "||||" + $('#zwtxt').val() + "||||" + $('#desctxt').val() + "|||" + new Date();
            var data = {'data': txt};
            $.ajax({
                url: url,
                data: data,
                type: 'get',
                success: function (obj) {

                    alert('我们已经收到您的资料，并且尽快联系您。');
                }
            });
        });
    });
</script>

</div>
</div>
</div>


</block>