<extend name="Base/common"/>


<block name="body">


<!-- 页面部分 -->
<div style="height:140px;"></div>
<div class="container" style="margin-bottom:20px;">

<div class="row">
<div class="col-xs-2">&nbsp;</div>
<div class="col-xs-8">
<style>
    body {
        color: #444;
        background: #FFF;
    }

    h1 {
        font-size:25px;
        margin-bottom:20px;
    }
    .phcte {
        font-size:12px;
        margin-bottom:40px;
        padding:15px;
        background:rgba(0,0,0,.05);
        border-radius:5px;
        line-height:24px;
    }

    .bgtt1 {
        font-size:24px;
        margin-bottom:10px;
    }
    .bgtt2 {
        margin-bottom:20px;
        font-size:16px;
    }
    .bgtt3 {
        padding-left:30px;
        border-left:2px solid rgba(0,0,0,.1);
        margin-bottom:40px;
    }
</style>


    <h1>项目课程 (邀请制活动)</h1>
    <p class="phcte">创业者学院的课程每周一次，旨在帮助创业者彻底审视自己公司业务的方方面面，从核心理念到盈利模式。每周的课程都是由三位创业CEO 导师负责，他们会分享自己的经验并向创业者提供专业的反馈和建议。创业者的任务是在课程期间与自己所在的小组组员一起完成各项与公司建设相关的作业。</p>

    <div class="bgtt1">Orientation</div>
    <div class="bgtt2">Welcome and meet your peers.</div>
    <div class="bgtt3">This is where it all begins. During Orientation, we will review the Founder Institute program structure, curriculum, tools, and requirements in detail. In addition, you will identify mentors that can help you get the most out of the program, meet the other founders in your cohort, and learn more about their ideas and skillsets. Assignments for this session include creating a plan to complete the program, watching recommended Founder Institute training videos, and more.</div>

    <div class="bgtt1">Vision and Ideas</div>
    <div class="bgtt2">Develop a set of strong ideas.</div>
    <div class="bgtt3">The best startup ideas are formed from the intersection of a real customer problem and your personal strengths and passions. During this session, you will learn how to form, communicate, and analyze startup ideas in a structured manner. By the end of the week, you will form and analyze several business ideas (or three variations of the same idea) that you could realistically spend the next 20 years working on, and begin interviewing potential customers about their problems.</div>

    <div class="bgtt1">Research and Customer Development</div>
    <div class="bgtt2">Test your ideas with research.</div>
    <div class="bgtt3">Large and fast growing markets have the power to elevate mediocre companies into greatness, and conversely, dying markets can doom otherwise solid companies. In this session, you’ll learn how to systematically research your market and gain a deep understanding of your target customer. Assignments include competitive research, defining your key business assumptions, interviewing additional potential customers, and more.</div>

    <div class="bgtt1">Revenue Models</div>
    <div class="bgtt2">Chose an idea and a model.</div>
    <div class="bgtt3">Strong unit economics are essential for a strong business. This week, you will learn the components and key metrics of different revenue models from experienced CFOs and Founders. Then, you will build a number of financial models for your ideas, speak to potential customers, select a single revenue model to pursue, and more. In addition, you will use all of the research performed to date to select your final startup idea to build in the program.</div>

    <div class="bgtt1">Naming and Positioning</div>
    <div class="bgtt2">Name your business.</div>
    <div class="bgtt3">Your naming and positioning are the starting point for all of your company’s marketing. In this session, you will learn the components of great company names, and how to position your product effectively in the eyes of the consumer. By the end of the week, you will brainstorm and analyze a variety of names, and then select a final name after performing more customer research. In addition, you will build your first pitch deck, and begin interviewing law firms for your company.</div>

    <div class="bgtt1">Mentor Idea Review</div>
    <div class="bgtt2">Present your idea for feedback.</div>
    <div class="bgtt3">The Mentor Idea Review is the first major test in the Founder Institute Program. During this session, every founder presents a three minute pitch to a large number of entrepreneur and CEO mentors for evaluation and feedback. These mentors will grade you on many criteria, such as the validity and market potential of your ideas, and your understanding of your target customer. After the session, you will incorporate their feedback into your planning, begin to set up your company and marketing infrastructure, and more.</div>

    <div class="bgtt1">Startup Legal and IP</div>
    <div class="bgtt2">Build a legal and IP strategy.</div>
    <div class="bgtt3">A company cannot be successful without a solid legal and intellectual property foundation. In this session, you will learn all of the key concepts, processes, and requirements unique to building a technology company in your locale. Before the next session, you will then select a law firm, incorporate your company using startup best practices, and develop other key agreements, such as an advisor agreement. In addition, you will take measures to secure the IP you have created to date.</div>

    <div class="bgtt1">Team and Advisors</div>
    <div class="bgtt2">Recruit your first team members.</div>
    <div class="bgtt3">Great companies start with great people. In this session, you will learn how to identify the key hiring needs for your company, how to recruit key hires like Co-Founders (even if you can’t offer any salary), and the best practices for equity allocation amongst a startup workforce. Assignments include identifying and contacting potential advisors, building a hiring strategy and pipeline, starting your first “product sprint”, and more.</div>

    <div class="bgtt1">Product Development</div>
    <div class="bgtt2">Plan to build your offering.</div>
    <div class="bgtt3">Quickly releasing a product is critical towards getting the feedback you need to build a successful company. This week, top product-oriented entrepreneurs will teach you the basics of product development, and how to advance from an idea to an offering on a budget. Assignments include additional customer development, determining the key features to prioritize with your product, building a product roadmap and “first release” plan, and more.</div>

    <div class="bgtt1">Mentor Progress Review</div>
    <div class="bgtt2">Present your progress for feedback.</div>
    <div class="bgtt3">Similar to the "Mentor Idea Review", this is the second major test in the program. In the “Mentor Progress Review”, you will present a three minute pitch to a large number of mentors for feedback and evaluation, focusing on aspects like your recent progress and product planning. Afterwards, you will incorporate their feedback into your pitch deck, revenue, hiring, and product plans, begin forming the advisory board for your company, and more.</div>

    <div class="bgtt1">Sales and Traction</div>
    <div class="bgtt2">Start generating traction.</div>
    <div class="bgtt3">If you can’t get customers to use and pay for your product, then nothing else matters. During the session, you will learn how to “hustle” to identify and close your first customers from entrepreneurs that have done it before. Then, you will put everything you have built to the test, by releasing your first product (if you have not already), securing your first (or new) customers, testing different pricing, and more.</div>

    <div class="bgtt1">Branding and Marketing</div>
    <div class="bgtt2">Establish market credibility.</div>
    <div class="bgtt3">As new platforms and technologies mature, the rules of marketing for technology companies are constantly changing. This week is all about learning the latest strategies, “growth hacking” tactics, and tools to generate distribution and traction for your product. Assignments include identifying and building relationships with the key influencers in your industry, building a PR and distribution strategy, developing a company blog and social media presence, and more.</div>

    <div class="bgtt1">Bootstrapping and Fundraising</div>
    <div class="bgtt2">Capitalize the business.</div>
    <div class="bgtt3">Every company needs capital to grow, and it can come from revenue or outside sources like investors. This finance heavy session will educate you on the different strategies, structures, and tactics for getting investment, as well as how to bootstrap and manage your company cash flow to profitability. After the session, you will consult with your Directors and Advisors to form a plan to capitalize your company, and take various steps depending on the strategy you choose.</div>

    <div class="bgtt1">Graduation</div>
    <div class="bgtt2">Graduate from the program.</div>
    <div class="bgtt3">Most people that enter the program do not make it to Graduation, because the Founder Institute curriculum is very demanding. However, the select few that Graduate have achieved several years of progress on their startup in just a few months. We typically celebrate the Graduating class with a small event attended by family members, mentors, investors, and more. Afterwards, Graduates gain access to the Founder Institute network, tools, and ongoing resources… and the real work of building and growing an enduring company begins!</div>




</div>
</div>


</block>