<extend name="Base/common"/>

<block name="body">
    <div class="tpcbanner">
        <div class="tt1">准备上课</div>
        <div class="tt2">lesson start</div>
        <span class="iconfont icon-angleleft historyback" parentUrl="/show/coach_home"></span>
    </div>

    <div class="pad-20">
        <div class="shdblked">
            <div class="cmiyitm">
                <span class="iconfont icon-timecourse"></span>
                <?php if($data['order'][0]['type'] == 1) :?>
                    <span class="t2">{$data['order'][0].name} / {$data['order'][0].name_en}</span>
                <?php else :?>
                    <span class="t2">私教 / {$data['order'][0].user_name}</span>
                <?php endif; ?>
            </div>
        </div>
    </div>

    <div id="is-vip" style="margin-bottom:15px" url="#">
        <!--?url属性里面的网址"?back=1"表示可以无视historyback直接强制返回到parentUrl-->
        <button class="confirmbtn full"><span class="iconfont icon-check"></span>开始上课</button>
    </div>
</block>

<block name="script">
    <script>
        var order_id = '{$data['order'][0].order_id}';

        $(function(){
            User.loadData = function() {
                if (User.data.amount > 0) {
                    $('#is-vip').show();
                }
                else {
                    $('#not-vip').show();
                }

                $('#my-amount').html(User.data.amount);
            }

            User.load();

            $('#btn_back').click(function() {
                location.href = '/home/coach/home';
            })

            $('.confirmbtn').click(function() {
                Order.start(order_id);
            })
        });
    </script>
</block>