<extend name="Base/common"/>

<block name="body">
    <div class="tpcbanner">
        <div class="tt1">关于我们</div>
        <div class="tt2">ABOUT US</div>
    </div>
    <img src="/Public/common/js/img/gsglfbanner.jpg" width="100%"/>
    <div class="pad-20" style="background: #FFF;line-height:24px;">
        <div>
            高手高尔夫是全国首家针对青少年、成人的一站式个性化高尔夫教育机构，提供教育成长规划，高尔夫培训，高尔夫海外游学等专业化培训服务。我们集合全国最具教学经验的高尔夫名师，每年向数千名学生提供高尔夫培训教育和活动。凭借着卓越的课程以及骄人的口碑，成为高尔夫学习的“学习圣地”。
        </div>
    </div>
    <img src="/Public/common/js/img/gsglfbanner2.jpg" width="100%"/>
    <div class="btmenu">
        <div class="td tapquick" url="/show/home">
            <div class="tc1">预约球场</div>
            <div class="tc2">Reserve Court</div>
        </div>
        <div class="td tapquick selected" url="#">
            <div class="tc1">关于我们</div>
            <div class="tc2">About Us</div>
        </div>
        <div class="td tapquick" url="/show/me_orders">
            <div class="tc1">我的订单</div>
            <div class="tc2">My Orders</div>
        </div>
    </div>
</block>

<block name="script">
    <script>

    </script>
</block>