<extend name="Base/common"/>

<block name="body">
    <div class="tpcbanner">
        <div class="tt1">修改个人资料</div>
        <div class="tt2">Edit Profile</div>
        <span class="iconfont icon-angleleft historyback" parentUrl="/show/me_profilel"></span>
    </div>
    <style>
        .migrow {
            margin-bottom:10px;
            position:relative;
        }
        .migrow .tt {
            height:20px;
            line-height:20px;
            display:inline-block;
            position:absolute;
            left:15px;
            top:50%;
            margin-top:-10px;
            z-index:10;
            color:#bbb;
            font-size:14px;
        }
        .migrow input[type="text"], .migrow input[type="tel"] {
            padding-left:80px;
        }
    </style>
    <div class="pad-20">
        <div class="migrows">
            <div class="migrow">
                <span class="tt">昵称</span>
                <input id="nickname" type="text" placeholder="请输入昵称" value="" />
            </div>
            <div class="migrow">
                <span class="tt">真实姓名</span>
                <input id="name" type="text" placeholder="请输入真实姓名" />
            </div>
            <div class="migrow">
                <span class="tt">手机号</span>
                <input id="tel" type="tel" placeholder="请输入手机号" value="" />
            </div>
            <div class="migrow">
                <input id="val_code" type="tel" placeholder="请输入验证码" style="padding-left:15px;" />
                <button class="getvcode">获取验证码</button>
            </div>

            <button class="whitebtn full" >保存信息</button>
        </div>
    </div>
</block>

<block name="script">
    <!--onclick="$.toastMsg('错误信息')"-->
    <script>
        $(function(){
            User.loadData = function () {
                $('#nickname').val(User.data.NickName);
                $('#name').val(User.data.Name);
                $('#tel').val(User.data.Tel);
                $('#tel').attr('old', User.data.Tel);
            };

            User.load();

            $('.whitebtn').click(function() {
                var nickname = $('#nickname').val();
                var name = $('#name').val();
                var tel = $('#tel').val();
                var old_tel = $('#tel').attr('old');
                var code = $('#val_code').val();
                var validate_cdoe = $('#val_code').attr('code');

                if (!name) {
                    alert('名字不能为空!'); return;
                }

                if (!tel) {
                    alert('电话不能为空!'); return;
                }

                if (tel != old_tel) {
                    if (!validate_cdoe) {
                        alert('请先获取验证码!'); return;
                    }

                    if (code != validate_cdoe) {
                        alert('验证码错误!'); return;
                    }
                }

                User.updated = function(result) {
                    if (result.code == 200) {
                        $('#Tel').attr('old', $tel);
                    }
                }

                User.update(name, tel, nickname);

                is_count = false;
            })

            $('.getvcode').click(function() {
                var tel = $('#tel').val();

                if (!tel) {
                    alert('请先输入电话号码!');

                    return;
                }

                is_count = true;

                setTime(this);

                User.setCode = function(result) {
                    if (result.code == 200) {
                        $('#val_code').attr('code', result.data);
                    }
                }

                User.getCode(tel);
            });
        });

        var countdown=60;
        var is_count = false;

        function setTime(val) {
            if (!is_count && countdown == 0)
                return;

            if (countdown == 0 || is_count == false) {
                $(val).removeAttr("disabled");
                $(val).html("发送验证码");
                countdown = 60;
                is_count = false
            } else {
                $(val).attr("disabled", "true");
                $(val).html("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() { setTime(val) },1000)
        }
    </script>
</block>