<extend name="Base/common"/>

<block name="body">
    <?php
    import("Org.Fit.WeChat.jssdk");
    $jssdk = new \JSSDK("wx8f573f8116d3d740", "f6c37757e5f11a12b4cdd80c2cda8b7e");
    $signPackage = $jssdk->GetSignPackage();
    ?>
    <div class="tpcbanner">
        <div class="tt1">预约详细</div>
        <div class="tt2">Order Detail</div>
        <span class="iconfont icon-angleleft historyback" parentUrl="/show/me_orders?back=1"></span>
    </div>

    <div class="pad-20">
        <div style="background:#40cf76;margin:0 0 10px 0;padding:10px;text-align:center;color:#FFF;border-radius:5px;">
            <div style="font-size:16px;">成功预约,请准时上课</div>
        </div>
        <div class="shdblked">
            <div class="cmiyitm">
                <span class="iconfont icon-timecourse"></span>
                <span class="t2">{$data['order'][0].name}</span>
            </div>
            <div class="cmiyitm" style="display: none">
                <span class="iconfont icon-time"></span>
                <span class="t2"><?php echo date("m月d日", strtotime($data['order'][0]['run_date'])) ?> <?php $arr=array("天","一","二","三","四","五","六");
echo "星期".$arr[date("w",strtotime($data['order'][0]['run_date']))]; ?> {$data['order'][0].start_time}-{$data['order'][0].end_time}</span>
            </div>
            <div class="cmiyitm">
                <span class="iconfont icon-price"></span>
                <div class="t2 price" style="display: none">价格：<span class="font10px">￥</span>{$data['order'][0].vip_price_1} <span class="split"></span></div>
                <div class="t2 free" style="font-weight: bold; color:#29cde7; display: none">新用户，免费试练</div>
            </div>
            <div class="cmiyitm">
                <span class="iconfont icon-location"></span>
                <!--<span class="iconfont icon-angleright"></span>-->
                <span id="lesson_local" class="t2">{$data['order'][0].local}</span>
            </div>
            <div class="cmiyitm">
                <span class="iconfont icon-phone"></span>
                <span class="t2">{$data['order'][0].phone}</span>
            </div>
            <?php if ($data['order'][0]['type'] != 3) :?>
                <div class="cmiyitm tc gocourse tapquick" url="/show/gt_course?id={$data['order'][0].lesson_id}">
                    <span>更多详情</span>
                </div>
            <?php else :?>
                <div class="cmiyitm tc gocourse tapquick" url="/show/gt_ptdetail?id={$data['order'][0].coach_id}">
                    <span>更多详情</span>
                </div>
            <?php endif; ?>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="UTF-8" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var price = '{$data['order'][0].price}';
        var vip_price = '{$data['order'][0].vip_price_1}';
        var pay_amount = '{$data['order'][0]['pay_amount']}'
        var lat = "{$data['order'][0].lat}";
        var lng = "{$data['order'][0].lng}";
        var local = "{$data['order'][0].local}";
        var name = "{$data['order'][0].name}";

        $(function(){
            User.loadData = function() {
                if (User.data.amount > 0) {
                    $('#is-vip').show();
                }
                else {
                    $('#not-vip').show();
                }

                $('#my-amount').html(User.data.amount);
            }

            User.load();

            if (pay_amount == '0.00') {
                $('.t2.free').show();
            }
            else  {
                $('.t2.price').show();
            }

            $('.confirmbtn').click(function() {
                location.href = '/show/me_order?id={$data['order'][0].order_id}';
            })

            $('#lesson_local').click(function() {
//                location.href = '/show/wx_map';
                wx.config({
                    debug: false,
                    appId: '<?php echo $signPackage["appId"];?>',
                    timestamp: <?php echo $signPackage["timestamp"];?>,
                nonceStr: '<?php echo $signPackage["nonceStr"];?>',
                        signature: '<?php echo $signPackage["signature"];?>',
                        jsApiList: ['openLocation']
            });

            wx.ready(function () {
                wx.openLocation({
                    latitude: lat, // 纬度，浮点数，范围为90 ~ -90
                    longitude: lng, // 经度，浮点数，范围为180 ~ -180  22.543460,113.950500
                    name: name, // 位置名
                    address: local, // 地址详情说明
                    scale: 20, // 地图缩放级别,整形值,范围从1~28。默认为最大
                    infoUrl: '#' // 在查看位置界面底部显示的超链接,可点击跳转
                });
            });

            wx.error(function (res) {
                //                    alert(res.errMsg);
            });
        });
        });
    </script>
</block>