<extend name="Base/common"/>

<block name="body">
    <div class="tpcbanner">
        <div class="tt1">高手高尔夫</div>
        <div class="tt2">My Profile</div>
        <!--<a id="get_vip" class="colorbtn colorshadow vipbadge" href="/show/gt_vipcard">成为VIP</a>-->
    </div>
    <div class="btmenu">
        <div class="td tapquick selected" url="/show/home">
            <div class="tc1">预约球场</div>
            <div class="tc2">Reserve Court</div>
        </div>
        <div class="td tapquick" url="/show/gt_aboutus">
            <div class="tc1">关于我们</div>
            <div class="tc2">About Us</div>
        </div>
        <div class="td tapquick" url="/show/me_orders">
            <div class="tc1">我的订单</div>
            <div class="tc2">My Orders</div>
        </div>
    </div>

    <style>
        body:after {
            display: block;
            content: ' ';
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            background: url(/Public/common/js/img/profilebg.jpg) center bottom no-repeat;
            background-size: cover;
        }
    </style>
    <div class="profc01">
        <div id="head_pic" class="profc02">
            <div class="imvip" style="display: none">VIP</div>
        </div>
        <a href="/show/me_edit" class='iconfont icon-pen profc03'></a>
    </div>
    <div class="profc04">
        <div class="profc05">
            <div class="profc06">
                <span id="name"></span>
            </div>
            <!--<div>
                <span class="colorbtn profc07">训练新手</span>
            </div>-->
        </div>
        <div class="profc08">
            <div class="itm tapquick" url="/show/me_orders">我的预约</div>
            <div class="itm tapquick" url="/show/me_finance">我的账户</div>
            <div class="itm">我的教练</div>
            <div class="itm">站内信</div>

        </div>
        <div id="not-vip" class="bcvipc tapquick" url="/show/gt_vipcard" style="display: none">成为VIP，享受特价</div>
        <div id="is-vip" class="bcvipc tapquick vipcharge" url="/show/gt_charge" style="display: none">VIP充值</div>
    </div>

</block>

<block name="script">
    <script>
        $(function(){
            User.loadData = function (user) {
                $('#name').html(user.Name);
                $('#head_pic').css("backgroundImage","url("+ user.HeadPic +")");

                if (user.amount == '0.00') {
                    $('#not-vip').show();
                }
                else {
                    $('#get_vip').html('充值');
                    $('.imvip').show();
                    $('#is-vip').show();
                }
            };

            User.load();
        });
    </script>
</block>