<extend name="Base/common"/>

<block name="style">
    <style>
        body {
            background:#555;
            color:#FFF;
        }
        .p0y-c1 {
            padding:80px 0;
        }
        .p0y-c1 .spin {
            width:60px;
        }
        .p0y-c1 .txt {
            font-size:14px;
            padding:20px 0;
            line-height:24px;
        }
    </style>
</block>

<block name="body">
    <div class="tc p0y-c1">
        <!--<img class="spin" src="/Public/common/js/img/loading-spin.svg" />-->
        <div class="txt">
            正在等待微信结果<br/>请稍后 ...
        </div>
    </div>
</block>

<block name="script">
    <script>

    </script>
</block>