<extend name="Base/common"/>

<block name="body">
    <style>
        body {
            padding-top:30px;
        }
    </style>
    <div class="resu_dip01">
        <div class="iconfont icon-iconfontcheck resu_dip02 success"></div>
        <div class="clear"></div>
        <div class="resu_dip03">支付成功</div>
        <div class="resu_dip04">请查看订单详细结果</div>
        <!--此处的返回按钮跳转指向应该是被设定的-->
        <button class="whitebtn full tapquick" url="{$web_url}">查看详细</button>
    </div>
</block>

<block name="script">
    <script>
        $(function(){

        });
    </script>
</block>