<extend name="Base/common"/>

<block name="body">
    <div class="tpcbanner">
        <div class="tt1">成为VIP</div>
        <div class="tt2">VIP</div>
        <span class="iconfont icon-angleleft historyback" parentUrl="/show/home"></span>
    </div>

    <div class="pad-20">
        <div style="margin:20px 20px 0 20px;border-radius:12px;background:url(/Public/common/js/img/profilebg5.jpg) center bottom no-repeat;min-height:160px;background-size:cover;box-shadow:0 1px 12px rgba(0,0,0,.4), inset 0 3px 0 rgba(255,255,255,.25);padding:30px;">
            <div class="tc" style="color:#EEE;">
                <div class="iconfont icon-star" style="font-size:48px;color:#ffd800;text-shadow:0 0 7px rgba(255,216,0,.8);line-height:60px;height:60px;width:60px;display:inline-block;"></div>
                <div style="margin-bottom:10px;"></div>
                <div style="font-size:18px;">开通VIP，开挂健身</div>
                <div style="opacity:.8">It's time to get VIP</div>
                <div style="background:rgba(255,255,255,.2);height:1px;margin:20px 0;"></div>
                <div>
                    <style>
                        .vipitmci {
                            background:#EEE;
                            color:#666;
                            padding:10px 15px;
                            border-radius:100px;
                            margin-bottom:10px;
                            font-size:12px;
                            display: block;
                            border:none;
                            box-shadow: 0 1px 3px rgba(0,0,0,.25);
                        }
                        .vipitmci.okbtn {
                            background:#FFD800;
                            font-weight: bold;
                            width:100%;
                        }
                        .vipitmci.okbtn:active {
                            background:#F9B126;
                        }
                    </style>
                    <div class="vipitmci">充值立获现金奖励</div>
                    <div class="vipitmci">享受VIP特价</div>
                    <div class="vipitmci">每自然月约练8天，再获120元</div>
                    <div class="vipitmci">充值1000起，即可开通</div>
                    <button class="vipitmci okbtn tapquick" url="gt_charge.html">开通/充值</button>
                </div>
            </div>

        </div>
    </div>
</block>

<block name="script">
    <script>
        $(function(){

        });
    </script>
</block>