<layout name="layout" />
<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <h3 class="center-block" style="text-align: center;padding-bottom: 10px;">{$zonglei.name}</h3>
            <div class="works"><img src="{$zonglei.pic}"/></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="aboutmain">
        <div class="neirong">
            <div class="article">
                <div class="article">
                    {$zileiinfo['zlinfo']['content']}                    
                </div>
            </div>
            <div class="lianxi">
                <div class="gonggao"><a href="#">成为供稿人</a></div>
                <div class="disanf">
                    <ul>                        
                    	<li><a target= _blank href="https://weibo.com/u/6468344436?refer_flag=1001030101_&is_all=1"><img src="__IMG__/guangpu_3.jpg"></a></li>
                        <li><a href="#"><img src="__IMG__/guangpu_1.jpg"></a></li>
                        <li class="disanfli"><a href="#" class="theme-login"><img src="__IMG__/guangpu_2.jpg"></a></li>                    
                    </ul>                    
                </div>
                <div class="fashi">
                    <h1>联系方式</h1>
                    <p>0755-26917851</p>
                    <p>kefu@mengxiangguangpu.com</p>
                    <p>深圳市南山区马家龙一街CTB创意工厂107室</p>
                </div>
            </div>	
        </div>
    </div>
</div>