<extend name="Base/common"/>

<block name="body">
    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">

                    <!-- Basic Home Page Template -->
                    <div class="row separator">
                        <section class="span8 articles-list">

                            <p>
                            <h3>{$title}</h3>
                            <a id="my_post"
                               style="cursor:pointer;float:right;margin-right:0px;margin-bottom: 10px">我的贴子</a>
                            <a id="post_add"
                               style="cursor:pointer;float:right;margin-right: 30px">发新贴</a>
                            </p>
                            <ul class="articles">
                                <!--class=standard video image-->
                                <volist name="data" id="itm">
                                    <li class="article-entry standard">

                                        <if condition="($itm.istop eq 1)"><h4>
                                            <a style="color:red"
                                               href="/index/post_info.html?pid={$itm.Id}&access={$access}">置顶:{$itm.title}</a>
                                        </h4>
                                            <else/>
                                            <h4>
                                                <a href="/index/post_info.html?pid={$itm.Id}&access={$access}">{$itm.title}</a>
                                            </h4></if>

                                        <span class="article-meta">by {$itm.author} {$itm.creat_at} in <a
                                                href="/index/sindex.html?id={$itm.section_id}">{$itm.section_name}</a></span>
                                        <?php if ($delete == 1) :?>
                                        <a style="color:red;position:absolute;right:40px;bottom: 0px" href="javascript:void(0)"
                                           class="itm-del" val="{$itm.Id}">删除</a>
                                        <a style="color:red;position:absolute;right:80px;bottom: 0px" href="javascript:void(0)"
                                           class="itm-top" val="{$itm.Id}">置顶</a>
                                        <?php endif; ?>
                                        <span class="like-count">{$itm.num}</span>
                                    </li>
                                </volist>
                            </ul>
                            <div class="pages" style="margin-top:20px">
                                {$page}
                            </div>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->

                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">版主</h3>
                            <volist name="section_admin" id="itm_admin" empty="$empty">
                                <p class="intro">{$itm_admin.name}</p>
                            </volist>
                        </div>
                    </section>

                    <include file="Base/section"/>
                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of Page Container -->
</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            if ('{$access}' != '') {
                localStorage.user_id = '{$access}';
            }

            $('#my_post').click(function () {
                if (localStorage.user_id == undefined) {
                    location.href = 'http://mall.ecomoter.com/index/login';
                }
                location.href = '/index/my_post.html?access=' + localStorage.user_id;
            });

            $('#post_add').click(function () {
                if (localStorage.user_id == undefined) {
                    location.href = 'http://mall.ecomoter.com/index/login';
                }
                location.href = '/index/post_add.html?access=' + localStorage.user_id;
            });

            $('.sindex').click(function () {
                if (localStorage.user_id == undefined) {
                    location.href = 'http://mall.ecomoter.com/index/login';
                }
                location.href = '/index/sindex?id=' + $(this).attr("val") + '&access=' + localStorage.user_id;
            });

            $('.itm-del').click(function () {
                var id = $(this).attr('val');

                if (confirm('是否删除该贴子?')) {
                    fit.ajax({
                        url: '/index/del_post',
                        data: {
                            'id': id
                        },
                        success: function (result) {
                            alert(result.msg);

                            window.location.reload();
                        }
                    });
                }
            });

            $('.itm-top').click(function () {
                var id = $(this).attr('val');

                if (confirm('是否置顶该贴子?')) {
                    fit.ajax({
                        url: '/index/top_post',
                        data: {
                            'id': id
                        },
                        success: function (result) {
                            alert(result.msg);

                            window.location.reload();
                        }
                    });
                }
            });
        });

    </script>
</block>