<layout name="layout" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/willesPlayone.css" />
<div class="container" style="padding-top:11px;">    
    <div class="works" style="max-width:1024px;">
          <div id="willesPlay">
              <div class="playContent">
                <video width="100%" height="100%"  autoplay poster="{$article.thumbnail}" style="max-height: 580px;object-fit: fill">
                  <source src="{$article.seotitle}" type="video/mp4">
                  </source>
                  当前浏览器不支持 video直接播放，点击这里下载视频： <a href="/">下载视频</a> </video>
                <!-- <div class="glyphicon glyphicon-play"></div> -->
              </div>
              <div class="playControll">
                <div class="playPause playIcon"></div>
                <div class="timebar"> <span class="currentTime">0:00:00</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                  </div>
                  <span class="duration">0:00:00</span> </div>
                <div class="otherControl"> <span class="volume glyphicon glyphicon-volume-down"></span> <span class="fullScreen glyphicon glyphicon-fullscreen"></span>
                  <div class="volumeBar">
                    <div class="volumewrap">
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 8px;height: 40%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>   
       
    </div>	
</div>
<section class="examples">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-12"> 
                <div class="biaoti">
                    <h1>往期精彩</h1>
                    <p style="font-weight: bold;">{$fulei.name}</p>
                </div>
            </div>
            <div class="col-md-10 col-xs-12">
                <div class="carousel-example">
                    <!-- FLEXIBLE BOOTSTRAP CAROUSEL -->
                    <div id="simple-content-carousel" class="carousel flexible slide" data-ride="carousel" data-interval="5000" data-wrap="true">

                        <div class="items">
                            <volist name="fuleiinfo" id="vo" key="k">
                                <div class="flex-item">
                                    <a href="{:U('Mogul/detail?id='.$vo['aid'])}"><img class="img-responsive" src="{$vo.thumbnail}"/></a>
                                </div> 
                            </volist>   
                                                                                
                        </div>
                        <div class="carousel-inner" role="listbox"></div>

                        <a class="left carousel-control" href="#simple-content-carousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#simple-content-carousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">   
    <h3>{$article.title}</h3>
    <div class="row">
        <div class="col-xs-12 zt16">
           {$article.content}
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/willesplayone.js"></script>