<link href="__PUBLIC__/coach/css/global.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/coach/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="__PUBLIC__/coach/js/jquery-mobile.js"></script>
<script type="text/javascript" src="__PUBLIC__/coach/js/global.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/framework.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/global.js?v=1.000001" ></script>
<script src="__PUBLIC__/common/js/plugin.js"></script>
<script type="text/javascript" src="__PUBLIC__/coach/js/swipe.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/wx.js" ></script>