
<link rel="stylesheet" href="__PUBLIC__/common/js/css/base.css" />
<link rel="stylesheet" href="__PUBLIC__/common/js/css/global.css" />
<script type="text/javascript" src="__PUBLIC__/common/js/framework.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/global.js?v=1.000001" ></script>
<script src="__PUBLIC__/common/js/plugin.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/user_tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/order_tools.js" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/wx.js?1.00000" ></script>
<script type="text/javascript" src="__PUBLIC__/common/js/js/tools.js" ></script>