<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title></title>
  
  <link href="__PUBLIC__/crs/res/css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/crs/res/css/font-awesome.min.css" rel="stylesheet">

  <link href="__PUBLIC__/crs/res/css/animate.min.css" rel="stylesheet">
  <link href="__PUBLIC__/crs/res/css/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="middle-box text-center animated fadeInRightBig">
        <div class="alert alert-danger font-bold">没有访问权限</div>

        <div class="error-desc">
          
        </div>
      </div>
    </div>
  </div>
</div>
<script src="__PUBLIC__/crs/res/js/jquery.min.js"></script>
<script src="__PUBLIC__/crs/res/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/crs/res/js/content.min.js"></script>
</body>

</html>