<extend name="Base/pc"/>
<!--
    cst-space：大型slide (START)
-->
<block name="body">
    <!-- 页面部分 -->
    <style>
        body {
            padding-bottom: 160px;
        }
        h1 {
            font-size: 28px;
            text-align: center;
        }

        .pagebottom {
            display: none;
        }
        .tydbtn {
            display:inline-block;
            margin-left:5px;
            background:#444;
            padding:10px 20px;
            border-radius: 3px;
            color:#FFF !important;
        }
        .tydbtn.empty {
            background: transparent;
            color:#444 !important;
        }
    </style>
    <div style="height:120px;"></div>
    <div class="container apply-hdchtdm">
        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix dh1">
                    <div class="lt"><strong>加盟申请</strong></div>
                    <div class="rt">
                        <div class="dhchddlwo" id="dropdownMenu1" data-toggle="dropdown">
                            <span>商家加盟</span>
                            <i class="iconfont icon-angledown"></i>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                            <li>
                                <a href="apply_table.html">加盟商申请</a>
                            </li>
                            <li>
                                <a href="expstore_search.html">进度查询</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>商家加盟申请协议细则</h1>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top:40px;">
        <div class="row">
            <div class="col-xs-2">&nbsp;</div>
            <div class="col-xs-8">
                <div style="overflow: auto;height:600px;line-height:24px;padding:20px;border:1px solid #DDD;">
                    <?php echo $data['item']['content'] ?>

                    <!--<p>-->
                        <!--<span>本声明适用于希望成为无锡</span>E<span>客智慧电动科技有限公司（以下简称</span>E<span>客智慧科技公司）</span>E<span>客智慧电动产品服务商的申请人，通过本官方网站（</span>http://www.ecomoter.com<span>）进行的加盟申请行为。申请人已经仔细阅读并完全理解该法律声明。现申请人自愿完全并不加修改的接受该声明的全部内容，并同意按该声明遵照执行。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>1<span>）申请人承诺完全、客观、真实的填写本官方网站公示的《服务商加盟申请表》，提供《服务商加盟申请表》中所要求提供的资料和信息，如因申请人提供的资料不完整或者错误而导致</span>E<span>客智慧科技公司对申请人的申请做出不利的判断及产生的相应后果（如申请未通过或需要申请人补充相关材料等情况），由申请人自行承担；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>2<span>）申请人承诺按官方网站公示的《服务商加盟申请表》的要求所提供的资料和信息都是真实、准确、有效的。无论何种原因，申请人所提交的申请资料或申请信息中如有不实内容或错误内容的，</span>E<span>客智慧科技公司有权决定不考虑申请人的申请，立即终止与其进行合作的意向或者</span>E<span>客智慧科技公司可立即终止已与申请人签署、确认的任何协议；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>3<span>）申请人同意自愿、自行承担在申请加盟成为</span>E<span>客智慧科技公司服务商的过程中所产生的全部义务和法律责任；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>4<span>）申请人同意</span>E<span>客智慧科技公司对其所提供的资料和信息进行调查和仔细核对，申请人应该积极配合，</span>E<span>客智慧科技公司调查、核对资料和信息的行为未构成对申请人合法权利的侵犯；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>5<span>）</span>E<span>客智慧科技公司承诺对申请人所提供的资料和信息进行保密，申请人在申请过程中向</span>E<span>客智慧科技公司所提供的文件（包括但不限于原件或复印件、扫描件、传真件）、拷贝资料、影音资料、图片等所有资料和信息均由</span>E<span>客智慧科技公司负责保存和管理（</span>E<span>客智慧科技公司在此不保证申请人提供的资料的绝对完整和安全）。如申请人成为</span>E<span>客智慧科技公司服务商的，则上述所有资料由</span>E<span>客智慧科技公司在</span>E<span>客智慧电动品牌相关业务及推广范围内进行使用；如申请人未成为</span>E<span>客智慧科技公司服务商的，申请人同意</span>E<span>客智慧科技公司自行处理销毁申请人提供的资料和信息；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>6<span>）在申请人申请加盟成为</span>E<span>客智慧科技公司服务商的过程中，若</span>E<span>客智慧科技公司根据实际或特定情况需要申请人提供其它相关申请资料的，申请人应该及时提供；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>7<span>）如果申请人的申请获得</span>E<span>客智慧科技公司同意并将与</span>E<span>客智慧科技公司签署加盟意向书，申请人应该具有完全民事行为能力，对加盟意向书中所规定的义务和责任具备独立的决策能力以及完全的履行能力；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>8<span>）由于政府禁令和行政行为、现行有效的法律、法规、部门和地方规章制度的变更、火灾、地震、洪灾等极端自然灾害、动乱、战争、停电和断电、通讯和网络线路中断等不可预见、不可避免、不能克服和不可控制的事件（不可抗力事件）、第三人破坏而造成的本官方网站、加盟申请服务网络数据和信息的延误、停滞、瘫痪或错误的，</span>E<span>客智慧科技公司对此不承担任何责任；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>9<span>）鉴于网站运行的特殊性和互联性，对于因黑客攻击、计算机病毒入侵或发作、电信部门技术调整、政府互联网络管制而造成本网站的临时关闭、瘫痪或者数据信息的延误、错误等影响本网站正常运行的不可抗力事件，</span>E<span>客智慧科技公司对此不承担任何责任；</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>10<span>）同意申请加盟</span>E<span>客智慧电动服务商意味着接受《</span>E<span>客智慧电动产品服务商合作保密声明》的规定。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>11<span>）本法律声明及其修改权、更新权、最终解释权均属</span>E<span>客智慧科技公司所有。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>附：</span>E<span>客智慧电动产品服务商保守商业秘密法律声明</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>无锡</span>E<span>客智慧电动科技有限公司（以下简称</span>E<span>客智慧科技公司）允许拟成为</span>E<span>客智慧电动产品服务商（以下简称服务商）在合作过程中可以使用</span>E<span>客智慧科技公司有关的商业秘密，该商业秘密属</span>E<span>客智慧科技公司合法所有。服务商在使用</span>E<span>客智慧科技公司的商业秘密前，已经仔细阅读并完全理解该保密声明。现服务商自愿完全并不加修改的接受该法律声明的全部内容，并同意按该法律声明遵照执行。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第一条</span> <span>商业秘密</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--1<span>、</span>E<span>客智慧科技公司与服务商合作中涉及到的</span>E<span>客智慧科技公司商业秘密是不为公众所知悉的，能够为</span>E<span>客智慧科技公司带来经济利益，具有实用性并且</span>E<span>客智慧科技公司采取了保密措施的技术信息和经营信息，包括但不限于：技术方案、工程设计、电路设计、制造方法、配方、工艺流程、技术指标、计算机软件、数据库、研究开发记录、技术报告、检测报告、实验数据、试验结果、图纸、样品、样机、模型、模具、操作手册、技术文档、及涉及</span>E<span>客智慧科技公司商业秘密内容的相关函电等等。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--2<span>、双方合作中涉及到的其他商业秘密信息，包括但不限于：</span>E<span>客智慧科技公司所有的客户名称、客户地址及联系方式等详细资料、需求信息、营销计划、采购资料、定价政策、进货渠道、产销策略、活动方案、项目组人员构成、费用预算、利润情况及未公开的财务资料等等。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--3<span>、</span>E<span>客智慧科技公司依照法律规定和与服务商签署的相关协议（如技术合同等）的约定要求服务商承担保密义务的其他事项。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第二条</span> <span>商业秘密的来源</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>服务商从</span>E<span>客智慧科技公司获得的与合作有关或因合作产生的</span>E<span>客智慧科技公司所拥有的技术信息、商业、营销、运营数据或与经营有关的信息资料，无论以何种形式或载于何种载体，无论在披露时是以口头、书面或图像方式告诉服务商的，服务商均应该保守上述商业秘密。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第三条</span> <span>服务商的保密职责</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>对于服务商掌握了解的</span>E<span>客智慧科技公司的商业秘密，服务商在此承诺并同意：</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--1<span>、服务商与</span>E<span>客智慧科技公司签订的合作协议及其他协议中有关保守商业秘密条款，服务商应该遵守。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--2<span>、服务商遵守</span>E<span>客智慧科技公司官方网站（</span>http://www.ecomoter.com./<span>）公布的保守商业秘密的相关规定及法律声明，履行与</span>E<span>客智慧科技公司合作义务相应的保密职责和义务。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--3<span>、</span>E<span>客智慧科技公司公布或者与服务商签署的合作协议中对于商业秘密及保密的规定有不完善、不明确之处，服务商应本着谨慎、诚实的态度，采取必要、合理的措施，维护其与</span>E<span>客智慧科技公司合作期间知悉或持有的任何属于</span>E<span>客智慧科技公司或虽属于第三方，但是</span>E<span>客智慧科技公司承诺有保密义务的技术信息和经营信息。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--4<span>、除了履行与</span>E<span>客智慧科技公司合作的需要外，服务商承诺，未经</span>E<span>客智慧科技公司书面同意，不得以泄露、告知、公布、发表、出版、传授、转让、接受采访或者其他形式使其他任何第三方（特别包括任何直接或潜在的商业竞争对手）知悉属于</span>E<span>客智慧科技公司或者虽属于第三方但</span>E<span>客智慧科技公司承诺有保密义务的技术信息和经营信息，服务商更不得在履行与</span>E<span>客智慧科技公司合作协议及业务之外使用这些秘密信息。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--5<span>、服务商在与</span>E<span>客智慧科技公司合作期间内非经</span>E<span>客智慧科技公司事先书面同意，不得与</span>E<span>客智慧科技公司开发、生产、经营同类产品或在提供同类服务的其他企业、事业单位、社会团体内担任或兼任工作职务，包括但不限于股东、合伙人、董事、监事、经理、职员、代理人、顾问等职位及相关工作。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--6<span>、服务商同意，服务商在无论因何种原因结束与</span>E<span>客智慧科技公司的合作之后，仍对其在与</span>E<span>客智慧科技公司合作期间接受、知悉的属于</span>E<span>客智慧科技公司或虽属于第三方但</span>E<span>客智慧科技公司承诺有保密义务的技术信息和经营信息，承担如合作期间一样的保密义务，并承诺不擅自使用</span>E<span>客智慧科技公司的商业秘密。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--7<span>、服务商不得违反该声明的规定及保密协议的约定，通过博客、微博、微信及其公众账号或个人账号、网络论坛、贴吧等任何网络渠道，以及论坛、讲座等任何场所，透露、发布</span>E<span>客智慧科技公司的商业秘密和合作涉及的具体保密信息。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--8<span>、服务商不能通过复制、拷贝或通过反向工程、反向操作等使用合作中涉及到的</span>E<span>客智慧科技公司商业秘密。服务商应当与能接触该商业秘密的服务商员工、代理人等签订一份保密协议，此协议的实质内容应与本声明或保密协议相似，应严格保守</span>E<span>客智慧科技公司的商业秘密。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第四条</span> <span>商业秘密保护的例外情形</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--E<span>客智慧科技公司同意上述条款不适用于下述情形：</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--1<span>、该商业秘密已经或正在变成普通大众可以获取的资料。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--2<span>、能书面证明服务商从</span>E<span>客智慧科技公司收到该商业秘密之前已经知悉并掌握该商业秘密。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第五条</span> <span>商业秘密相关资料的返还</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>服务商无论在何种情况下收到</span>E<span>客智慧科技公司的书面要求，服务商应归还全部商业秘密资料和文件、电子文档等，包含该商业秘密资料的媒体及其全部复印件或摘要文件。如果该技术资料属于不能归还的形式、或已经复制或转录、拷贝到其他资料、形式或载体中，则服务商应该立即删除。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>第六条</span> <span>服务商泄密应该承担的责任</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--1<span>、如果服务商未履行本保守商业秘密法律声明第三条所规定的保密义务，</span>E<span>客智慧科技公司有权要求服务商支付违约金；给</span>E<span>客智慧科技公司造成损失的，</span>E<span>客智慧科技公司有权要求服务商赔偿损失。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--2<span>、本条第</span>1<span>款第</span>2<span>项所述损失赔偿包括：</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>1<span>）损失赔偿额为</span>E<span>客智慧科技公司因服务商的违反保密协议和保密声明的泄密行为所受到的实际经济损失。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>2<span>）如果</span>E<span>客智慧科技公司的损失根据实际情况难以计算的，损失赔偿额应为服务商支付不低于</span>E<span>客智慧科技公司就该合作中已发生的费用（包括已支付给服务商的相关服务及其他费）。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>3<span>）</span>E<span>客智慧科技公司因调查服务商因其违约泄密行为而支付的合理费用和维权费用（包括但不限于调查取证费、诉讼费、律师费、及采取法律措施而产生的其他费用）。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<span>（</span>4<span>）因服务商的违约泄密行为侵犯了</span>E<span>客智慧科技公司关于该合作的商业秘密权利，</span>E<span>客智慧科技公司可以选择根据本声明和保密协议要求服务商承担违约责任，并可以根据国家有关法律、法规要求服务商承担侵权责任。</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<strong><span>第七条</span> <span>本保守商业秘密法律声明及其修改权、更新权、最终解释权均属</span>E<span>客智慧科技公司所有。</span></strong>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--&nbsp;-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--<br/>-->
                    <!--</p>-->

                </div>

                <div style="text-align: right;padding-top:30px;">
                    <a href="/index/authorized" class="tydbtn empty">不同意</a>
                    <a href="/index/apply_table" class="tydbtn">同意</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">

    </script>
</block>
