<extend name="Base/login"/>
<block name="body">
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="loginboardct">
                <div class="wp silverbg">

                    <div class="t1">
                        <a href="index.html"><img src="/Public/common/js/img/logo2.png" /></a>
                    </div>
                    <div>
                        <div class="tt">忘记密码 - E客电动</div>
                        <div class="r">
                            <input id="phone" class="xtxt" type="tel" placeholder="手机号码" />
                        </div>
                        <div class="r">
                            <button class="btn btn-success xbtn" id="get_password">获取临时密码</button>
                        </div>
                        <div>
                            <button class="btn btn-default xbtn" onclick="location.href='/index/login'">已有帐号？立即登录</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
</block>
<block name="script">
    <script>
        $(document).ready(function(){
            $('#get_password').click(function(){
                getPassword();
            });
        });

        function getPassword() {
            var phone = $('#phone').val();

            if (!phone || phone.length != 11) {
                $.alertbox({
                    msg:'<span class="orange">请输入正确手机号!</span>'
                });

                return;
            }

            var data = { 'phone': phone }
            console.log(JSON.stringify(data));
            fit.ajax({
                url:'/api/find_password',
                data:data,
                success:function(result){
//                alert(JSON.stringify(result));
                    $.alertbox({
                        msg:'<span class="orange">'+ result.msg +'</span>'
                    });
//                    alert(result.msg);
                }
            });
        }
    </script>
</block>