  <script src="__PUBLIC__/crs/res/js/jquery.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/layer/layer.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/layer/laydate/laydate.js"></script>
  <script src="__PUBLIC__/crs/res/js/hplus.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/chosen/chosen.jquery.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/iCheck/icheck.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/jquery.blockUI.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/sweetalert/sweetalert.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/validate/jquery.validate.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/jquery-form/jquery.form.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/pace/pace.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/content.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/plugins/toastr/toastr.min.js"></script>
  <script src="__PUBLIC__/crs/res/js/public.js"></script>
