<link href="__PUBLIC__/crs/res/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/style.min.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="__PUBLIC__/crs/res/css/public.css" rel="stylesheet">
