<!--<div class="container">
    <div class="center-block logo"><a href="#" style="margin-top:60px;"><img src="__IMG__/guangpu_03.jpg"></a></div>
</div>-->
<div class="btmwidth db">
    <ul>
        <ul>
            <li><a href="#"><img src="__IMG__/guangpu_71.png"></a></li>
            <li><a href="#collapseOne" class="theme-login"><img src="__IMG__/guangpu_73.png"></a></li>
            <li><a target= _blank href="https://weibo.com/u/6468344436?refer_flag=1001030101_&is_all=1"><img src="__IMG__/guangpu_75.png"></a></li>
        </ul>
    </ul>
</div>

<div class="theme-popover">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
        <h3>扫一扫  关注我们吧</h3>
    </div>
    <div class="theme-popbod dform"><center><img src="__IMG__/weixin.jpg"></center></div>
</div>
<div class="theme-popover-mask"></div>

<div class="btmwidth">
    <ul class="nav"><!-- 去掉 nav-pills 可以在手机界面纵向排列-->
        <li><a href="{:U('About/index')}">关于我们</a></li>
        <li><a href="{:U('About/index')}" >联系我们</a></li>
        <li><a href="{:U('Feeds/index')}">成为供稿人</a></li>
    </ul>
</div>
<div class="container bottomwz">
    @版权所有 深圳市梦想光谱传媒文化发展有限公司版权所有 粤ICP备17140347号-1
</div>
