<home_first id="top" class="navbar navbar-default nav-common" role="banner">

    <div class="topxm">
        <a class="logo" href="index.html">
            <img src="__IMG__/logo.jpg" />
        </a>
        <div class="topxmbanner">
            <a href="index.html" class="itm">最新房产</a>
            <a href="about.html" class="itm">关于唯润城</a>
        </div>
    </div>

    <style>
        body:before,
        body:after {
            width: 100%;
            height: 100%;
            position: fixed;
            display: block;
            left: 0;
            top: 0;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left bottom;
            background-image: url(__IMG__/libertyofstatue.png);
            opacity: .1;
            content: ' ';
        }

        body:after {
            opacity: .9;
            background-position: right 30px;
            background-image: url(__IMG__/usaflag.png);
        }
        .sneit {
            color:#FFF;text-shadow: 0 1px 3px rgba(0,0,0,.75);margin-bottom:15px;padding-top:10px;
        }
        .sneit .t1 {
            font-size:32px;font-weight: bold;
        }
        .sneit .t2 {
            font-size: 14px;
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sneit">
                    <div class="t1">2018</div>
                    <div class="t2">唯润城·美国房产一览</div>
                </div>
            </div>
        </div>
    </div>
</home_first>

