<house_first id="top" class="navbar navbar-default nav-common" role="banner">
    <div class="topxm">
        <a class="logo" href="index.html">
            <img src="__IMG__/logo.jpg" />
        </a>
        <div class="topxmbanner">
            <a href="index.html" class="itm">最新房产</a>
            <a href="about.html" class="itm">关于唯润城</a>
        </div>
    </div>

    <style>
        body {
            padding-top: 50px;
            background: #FFF;
        }

        html {
            background: #FFF;
        }
    </style>
    <div class="themapwp">
        <div id="themap">
        </div>
        <div class="expand"></div>
        <div class="inexpand"></div>
    </div>


</house_first>