
@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
<div class="suc-t1">
    <i class="fa fa-paper-plane" style="font-size:60px;color:#40BF43;"></i>
    <p class="suc-t3">教练申请已提交</p>
</div>
<div class="clear-20"></div>
<p class="p05-c02">
    教练申请已经提交，驾校负责人将核实相关信息无误后为您进行处理，请耐心等待。
</p>
<div class="clear-15"></div>
<a href="/home" class="fullbtn normal">返回</a>
<div class="bt-distance"></div>
<script>
    $('document').ready(function () {

    });
</script>
