@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
<div class="suc-t1">
    <div class="suc-t2"></div>
    <p class="suc-t3">报名提交成功</p>
</div>
<div class="clear-20"></div>
<p class="p05-c02">
    您的报名资料已经提交成功，深大驾校将在会24小时内与您联系，请保持手机畅通。
</p>
<div class="clear-15"></div>
<div class="p05-c03">
    <div class="tc">您也可以主动联系深大驾校</div>
    <div class="tb">
        <div class="tr">
            <div class="td">联系电话：</div>
            <div class="td col2">0755-26733013</div>
        </div>
        <div class="tr">
            <div class="td">地址：</div>
            <div class="td col2">深圳大学北门高尔夫后面</div>
        </div>
    </div>
</div>
<div class="clear-30"></div>
@*<a href="#" class="fullbtn">查看考试知识</a>
<div class="clear-15"></div>*@
<a href="/exam/menu" class="fullbtn">驾考宝典</a>
<div class="clear-20"></div>
<a href="/home" class="fullbtn normal">随便逛逛</a>
<div class="bt-distance"></div>
<script>
    $('document').ready(function () {

    });
</script>