@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
<div class="suc-t1">
    <div class="suc-t2"></div>
    <p class="suc-t3">下课成功</p>
    <div class="suc-t4">
        感谢你的辛勤付出，学员会给您中肯的评价
    </div>
</div>
<div class="clear-30"></div>
<a href="/home/mylesson" class="fullbtn normal">返回</a>
<div class="bt-distance"></div>
<script>
	$('document').ready(function() {

	});
</script>
