@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
@*返回菜单*@
@Html.Partial("BackBanner", new List<string> { "消息正文", CommonLib.Web.WebTool.CDN("/my/message") })


<div class="p21-x01">
    <div class="t1">欢迎加入 云e驾</div>
    <div class="t2">2015年11月09日 14:35</div>
</div>

<div class="p21-x02">
    <p>您已踏上学车之路，在还未开始训练之前，可以先进行“科目一的预备训练”</p>
    <div class="clear-15"></div>
    <div class="p05-c03" style="display:none">
        <div class="tc">您也可以主动联系深大驾校</div>
        <div class="tb">
            <div class="tr">
                <div class="td">联系电话：</div>
                <div class="td col2">0755 - 94857485</div>
            </div>
            <div class="tr">
                <div class="td">地址：</div>
                <div class="td col2">南山区深南大道深大北门路192号</div>
            </div>
        </div>
    </div>
</div>
<div class="bt-distance"></div>

<script>
    $('document').ready(function () {

    });
</script>
