@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}
<div class="p16-xeet">
    找到1条记录
</div>

<div class="blackrowgall nmt">
    <div class="row actbtn cd_hottap height" hottap="/message/detail">
        <span class="tt">欢迎加入 云e驾</span>
        <div class="holder arr">
            <i class="icoin fa fa-angle-right"></i>
        </div>
    </div>
</div>

<div class="clear-15"></div>
<div class="fullbtn normal cd_hottap" hottap="/my/index">返回</div>
<div class="bt-distance"></div>

<script>
	$('document').ready(function() {

	});
</script>