@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}

@*返回菜单*@
@Html.Partial("BackBanner", new List<string> { "我的消息", "/my/index" })

<div class="p16-xeet">
    找到1条记录
</div>

<div class="blackrowgall nmt">
    <div class="row actbtn cd_hottap height" hottap="/message/detail">
        <span class="tt">欢迎加入 云e驾</span>
        <div class="holder arr">
            <i class="icoin fa fa-angle-right"></i>
        </div>
    </div>
</div>

<div class="bt-distance"></div>

<script>
	$('document').ready(function() {

	});
</script>