
@{
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
@{
    ViewBag.Title = ViewData["title"];
}

<!--<div style="background:#FFF;z-index:99;top:0;left:0;width:100%;height:32px;line-height:32px;text-align:center;position: fixed;" id="xxeee">
        </div>-->
<!-- $.waiting()（START） -->
<div class="rotatedivwrapper">
    <div class="rotatediv"></div>
    <div class="msg"></div>
</div>
<!-- $.waiting()（END） -->

<style>
</style>
<div class="p0901-p3" style="padding-bottom:0;">
    <div class="p0901-p5">
        请确认时间和金额
    </div>
</div>

<div class="blackrowgall nmt unclickable">
    <div class="row">
        <span class="tt">驾校</span>
        <div class="holder">
            <span>@(((System.Collections.Hashtable)ViewData["item"])["SchoolText"])</span>
        </div>
    </div>
    <div class="row height">
        <span class="tt">时间</span>
    </div>
    <div class="row">
        <div class="p1001-p1">
            <div class="bold td">@(((System.Collections.Hashtable)ViewData["item"])["RunDate"])</div>
            <div class="blue td col2">
                @if ((((System.Collections.Hashtable)ViewData["item"])["Time"]) != null)
                {
                    string time = (((System.Collections.Hashtable)ViewData["item"])["Time"]).ToString();

                    string[] str_time = time.Split(',');

                    Array.Sort(str_time);

                    foreach (string t in str_time)
                    {
                        int tmp = Convert.ToInt32(t);
                        int tmp1 = tmp - 1;

                        <div>@tmp1.ToString():00 ~ @tmp.ToString():00</div>

                    }
                }
                @*<div>12:00 ~ 13:00</div>
                <div>15:00 ~ 16:00</div>
                <div>17:00 ~ 18:00</div>*@
            </div>
        </div>
    </div>
</div>

<div class="blackrowgall tran unclickable">
    <div class="row">
        <span class="tt lightgray">总金额</span>
        <div class="holder">
            <span>￥@(((System.Collections.Hashtable)ViewData["item"])["Amount"])元</span>
        </div>
    </div>
    <div class="row" style="display:none">
        <span class="tt lightgray">账户余额</span>
        <div class="holder">
            <span>100</span><span class="lijian-bpe">（减）</span>
        </div>
    </div>
    <div class="row" style="display:none">
        <span class="tt lightgray">代金券</span>
        <div class="holder">
            <select>
                <option>100（5月3日到期）</option>
                <option>200（5月18日到期）</option>
                <option>不使用代金券</option>
            </select><span class="lijian-bpe">（减）</span>
        </div>
    </div>
    <div class="row">
        <span class="tt">付款</span>
        <div class="holder">
            <span>￥@(((System.Collections.Hashtable)ViewData["item"])["PayAmount"])元</span>
        </div>
    </div>
</div>

<div class="clear-15"></div>
<a href="/home/paysuccess/@(((System.Collections.Hashtable)ViewData["item"])["TeachID"])" class="fullbtn"><i class="fa fa-wechat"></i> 微信支付</a>
<div class="clear-15"></div>
<a href="javascript:history.go(-1);" class="fullbtn normal">返回</a>

<div class="bt-distance"></div>