<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
<div align="center" id="a1"></div>
<script type="text/javascript" src="~/js/ckplayer/ckplayer.js" charset="utf-8"></script>
    <script type="text/javascript">
        localStorage.clear();
    </script>
</body>
</html> 