<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            <label class="label label-info">已成交预约</label>&nbsp;{$OrderInfo.order_sn}
          </h5>
        </div>

        <div class="ibox-content form-horizontal">
          <div class="form-group">
            <div class="col-sm-12 col-sm-offset-4">
              <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-mail-reply"></i>&nbsp;取消并返回</button>
              <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="ibox float-e-margins">
                <div class="ibox-title"><h5>客户信息</h5></div>
                <div class="ibox-content">
                  <div class="row">

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        客户姓名
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$CustomerInfo.real_name}</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        客户性别
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$CustomerInfo.gender}</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        出生年月
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$CustomerInfo.birthday}</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        国籍
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$CustomerInfo.nationality}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="ibox float-e-margins">
                <div class="ibox-title"><h5>预约信息</h5></div>
                <div class="ibox-content">
                  <div class="row">

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        产品类别
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$ProductInfo.type_name}</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        拟购产品
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$ProductInfo.product_name}</p>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        支付方式
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$ProductInfo.payment_type}</p>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        缴费方式
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$ProductInfo.pay_type}</p>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        年缴保费
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static"><i class="fa fa-cny"></i>{$OrderInfo.year_premium_amount}</p>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        缴费年限
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$OrderInfo.payment_years}</p>
                      </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        保障额度
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static"><i class="fa fa-cny"></i>{$OrderInfo.guarantee_amount}</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">
                        客户描述及备注
                      </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{$OrderInfo.seller_manager_remarks}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>附件信息</h5></div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-12">
                  <notempty name="OrderInfo.attachment">
                    <div class="file-box">
                      <div class="file">
                        <a href="__MODULE__/Download/OriginalNameFile/file_id/{$OrderInfo.attachment.id}">
                          <span class="corner"></span>

                          <div class="image">
                            <img alt="image" class="img-responsive" src="{$OrderInfo.attachment.full_file}">
                          </div>
                          <div class="file-name">
                            <span style="word-wrap:break-word;">{$OrderInfo.attachment.original_name}</span>
                            <br/>
                            <small>添加时间：{$OrderInfo.attachment.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </notempty>

                  <notempty name="CustomerInfo.idcard_img_a">
                    <div class="file-box">
                      <div class="file">
                        <!--<a href="javascript:void(0);">-->
                        <a href="__MODULE__/Download/OriginalNameImage/image_id/{$CustomerInfo.idcard_img_a.id}">

                          <span class="corner"></span>

                          <div class="image">
                            <img alt="image" class="img-responsive" src="{$CustomerInfo.idcard_img_a.full_file}">
                          </div>
                          <div class="file-name">
                            {$CustomerInfo.idcard_img_a.original_name}
                            <br/>
                            <small>添加时间：{$CustomerInfo.idcard_img_a.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </notempty>

                  <notempty name="OrderInfo.xf_attachment">
                    <eq name="OrderInfo.attachment_type" value="$AttachmentFileType">
                      <div class="file-box">
                        <div class="file">
                          <a href="__MODULE__/Download/OriginalNameFile/file_id/{$OrderInfo.xf_attachment.id}">
                            <span class="corner"></span>

                            <div class="icon">
                              <i class="fa {$OrderInfo.xf_attachment.icon}"></i>
                            </div>
                            <div class="file-name">
                              {$OrderInfo.xf_attachment.original_name}
                              <br/>
                              <small>文件大小：{$OrderInfo.xf_attachment.file_size_kb}KB</small>
                              <br/>
                              <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                            </div>
                          </a>
                        </div>
                      </div>
                    </eq>

                    <eq name="OrderInfo.attachment_type" value="$AttachmentImageType">
                      <div class="file-box">
                        <div class="file">
                          <a href="__MODULE__/Download/OriginalNameImage/image_id/{$OrderInfo.xf_attachment.id}">
                            <span class="corner"></span>

                            <div class="image">
                              <img alt="image" class="img-responsive" src="{$OrderInfo.xf_attachment.full_file}">
                            </div>

                            <div class="file-name">
                              {$OrderInfo.xf_attachment.original_name}
                              <br/>
                              <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                            </div>
                          </a>
                        </div>
                      </div>
                    </eq>
                  </notempty>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--主体内容 End-->
</div>

{:W('Page/pageFootInclude')}

<script>
  var ReturnUrl = "__URL__/BusinessOrderList";

  function BackIndexPage(){
    window.location.href = ReturnUrl;
  }
</script>
</body>

</html>