<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!-- 搜索 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>搜索工单</h5>
        </div>

        <div class="ibox-content">
          <form class="form-horizontal" id="searchForm" action="__URL__/OrderList" method="get">

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">查询条件</label>
                  <div class="col-sm-5">
                    <select class="chosen-select" name="search_case" id="search_case" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                      <option value="">不指定条件</option>
                      <option value="order_sn" <eq name="search_case" value="id">selected</eq>>工单编号</option>
                      <option value="produc" <eq name="search_case" value="real_name">selected</eq>>产品名称</option>
                      <option value="customer" <eq name="search_case" value="phone">selected</eq> >客户名称</option>
                    </select>
                  </div>

                  <div class="col-sm-5">
                    <input type="text" name="search_key" class="form-control" placeholder="查询关键字" value="{$search_key}">
                    <span class="help-block m-b-none"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">服务商</label>
                  <div class="col-sm-9">
                    <select class="chosen-select" name="search_service_providers" id="search_service_providers" autocomplete="off" style="width: 100%;" data-placeholder="全部服务商">
                      <option value="" <empty name='search_service_providers'>selected</empty>>全部服务商</option>
                      <volist name="ServiceProvidersOption" id="list">
                        <option value="{$list.val}" <eq name='search_service_providers' value="$list.val">selected</eq>>{$list.key}</option>
                      </volist>
                    </select>
                  </div>
                </div>
              </div>
                  
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="hr-line-dashed"></div>
              </div>
            </div>

            <div class="row">
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">门店</label>
                  <div class="col-sm-9">
                    <select class="chosen-select" name="search_store" id="search_store" autocomplete="off" style="width: 100%;" data-placeholder="全部门店">
                      <option value="" <empty name='search_store'>selected</empty>>全部门店</option>
                      <volist name="StoreOption" id="list">
                        <option value="{$list.val}" <eq name="search_store" value="$list.val">selected</eq> >{$list.key}</option>
                      </volist>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">销售经理</label>
                  <div class="col-sm-9">
                    <select class="chosen-select" name="search_seller_manager" id="search_seller_manager" autocomplete="off" style="width: 100%;" data-placeholder="全部销售经理">
                      <option value="" <empty name='search_seller_manager'>selected</empty>>全部销售经理</option>
                      <volist name="SellerManagerOption" id="list">
                        <option value="{$list.val}" <eq name="search_seller_manager" value="$list.val">selected</eq> >{$list.key}</option>
                      </volist>
                    </select>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="hr-line-dashed"></div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">审核状态</label>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_review_all" name="search_review" value="" <empty name="search_review">checked="checked"</empty> >
                    <label for="search_review_all"> 全部 </label>
                  </div>
                  <div class="radio radio-inline radio-warning">
                    <input type="radio" id="search_review_0" name="search_review" value="0" <eq name="search_review" value="0">checked="checked"</eq> >
                    <label for="search_review_0"> 等待处理 </label>
                  </div>
                  <div class="radio radio-inline radio-success">
                    <input type="radio" id="search_review_2" name="search_review" value="2" <eq name="search_review" value="2">checked="checked"</eq> >
                    <label for="search_review_2"> 已通过 </label>
                  </div>
                  <div class="radio radio-inline radio-danger">
                    <input type="radio" id="search_review_3" name="search_review" value="3" <eq name="search_review" value="3">checked="checked"</eq> >
                    <label for="search_review_3"> 已驳回 </label>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">工单状态</label>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_status_all" name="search_status" value="" <empty name="search_status">checked="checked"</empty> >
                    <label for="search_status_all"> 全部 </label>
                  </div>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_status_0" name="search_status" value="0" <eq name="search_status" value="0">checked="checked"</eq> >
                    <label for="search_status_0"> 已签约 </label>
                  </div>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_status_1" name="search_status" value="1" <eq name="search_status" value="1">checked="checked"</eq> >
                    <label for="search_status_1"> 已预约 </label>
                  </div>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_status_2" name="search_status" value="2" <eq name="search_status" value="2">checked="checked"</eq> >
                    <label for="search_status_2"> 已消费 </label>
                  </div>
                  <div class="radio radio-inline radio-info">
                    <input type="radio" id="search_status_3" name="search_status" value="3" <eq name="search_status" value="3">checked="checked"</eq> >
                    <label for="search_status_3"> 已回访 </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="hr-line-dashed"></div>
              </div>
            </div>

            <eq name="AccountType" value="$AdminAccount">
              <div class="row">
              
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">经纪公司</label>
                    <div class="col-sm-9">
                      <select class="chosen-select" name="search_broker_company" id="search_broker_company" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                        <option value="" <empty name='search_broker_company'>selected</empty>>全部</option>
                        <volist name="BrokerCompanyOption" id="list">
                          <option value="{$list.val}" <eq name="list.val" value="$search_broker_company">selected</eq> >{$list.key}</option>
                        </volist>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6"></div>
  
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="hr-line-dashed"></div>
                </div>
              </div>
            <else/>
              <input type="hidden" name="search_broker_company" value="{$AccountInfo.broker_company_id}" />
            </eq>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;搜索</button>

                    <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;重置表单</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!--搜索 End-->
  
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
          
          <a href="__URL__/OrderAddInfo" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;创建工单</a>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>

          <neq name="AccountType" value="$SellerManagerAccount">
          <button class="btn btn-danger" type="button" onclick="DeleteOrder();"><i class="fa fa-trash-o"></i>&nbsp;删除选中的工单</button>
          </neq>
        </div>

        <div class="ibox-content">
          {$Page}

          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <div class="checkbox checkbox-inline checkbox-info">
                  <input type="checkbox" name="list_chk_all" id="list_chk_all_1" onclick="ListMainCheckBoxClick(this);">
                  <label for="list_chk_all_1"></label>
                </div>
              </th>
              <th class="text-left">工单编号</th>
              <th class="text-left">产品</th>
              <th class="text-left">客户姓名</th>
              <th class="text-left">发起人</th>
              <th class="text-center">发起日期</th>
              <th class="text-center">当前状态</th>
              <th class="text-center">审批意见</th>
              <th class="text-center">当前审批人</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <empty name="OrderList">
              <tr>
                <td colspan="9" class="text-center">暂无数据</td>
              </tr>
              <else />
              <volist name="OrderList" id="list">
                <tr>
                  <td>
                    <div class="checkbox checkbox-inline checkbox-info">
                      <input type="checkbox" name="list_chk_sub" id="list_chk_sub_{$i}" onclick="ListSubCheckBoxClick(this);" value="{$list.order_sn}">
                      <label for="list_chk_sub_{$i}"></label>
                    </div>
                  </td>
                  <td class="text-left">{$list.order_sn}</td>
                  <td class="text-left">{$list.product_name}</td>
                  <td class="text-left">{$list.customer_name}</td>
                  <td class="text-left">{$list.seller_manager_name}</td>
                  <td class="text-center">{$list.signed_time}</td>
                  <td class="text-center">
                    <p class="form-control-static">{$list.status_desc}</p>
                    <p class="form-control-static">{$list.review_desc}</p>
                  </td>
                  <td class="text-center tooltip-demo">
                    <notempty name="list.review_remarks">
                      <label class="label <eq name="list.review" value="3">label-danger<else/>label-success</eq> cursor-hand" data-toggle="tooltip" data-placement="left" title="{$list.review_remarks}"><i class="fa fa-eye"></i></label>
                    <else/>
                      --
                    </notempty>
                  </td>
                  <td class="text-center">{$list.review_account}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <eq name="AccountType" value="$SellerManagerAccount">
                        <a href="__URL__/OrderInfoEdit/order_sn/{$list.order_sn}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                      </eq>

                      <eq name="AccountType" value="$BrokerCompanyAccount">
                        <a href="__URL__/OrderInfoReview/order_sn/{$list.order_sn}" class="btn <neq name="list.review" value="0">btn-default<else/>btn-primary</neq>"><i class="fa fa-edit"></i>&nbsp;审核</a>
                      </eq>

                      <eq name="AccountType" value="$AdminAccount">
                        <a href="__URL__/OrderInfoEditReview/order_sn/{$list.order_sn}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;编辑/审核</a>
                      </eq>
                    </div>
                  </td>
                </tr>
              </volist>
            </empty>

            </tbody>

            <tfoot>
            <tr>
              <th>
                <div class="checkbox checkbox-inline checkbox-info">
                  <input type="checkbox" name="list_chk_all" id="list_chk_all_2" onclick="ListMainCheckBoxClick(this);">
                  <label for="list_chk_all_2"></label>
                </div>
              </th>
              <th class="text-left">工单编号</th>
              <th class="text-left">产品</th>
              <th class="text-left">客户姓名</th>
              <th class="text-left">发起人</th>
              <th class="text-center">发起日期</th>
              <th class="text-center">当前状态</th>
              <th class="text-center">审批意见</th>
              <th class="text-center">当前审批人</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

          {$Page}
        </div>

        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
          
          <a href="__URL__/OrderAddInfo" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;创建工单</a>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>

          <neq name="AccountType" value="$SellerManagerAccount">
          <button class="btn btn-danger" type="button" onclick="DeleteOrder();"><i class="fa fa-trash-o"></i>&nbsp;删除选中的工单</button>
          </neq>
        </div>
      </div>
    </div>
  </div>
  <!--主体内容 End-->
</div>

{:W('Page/pageFootInclude')}

<script>
  var ReturnUrl = "__URL__/OrderList";
  
  var config = {
    ".chosen-select": {},
    ".chosen-select-deselect": {
      allow_single_deselect: !0
    },
    ".chosen-select-no-single": {
      disable_search_threshold: 10
    },
    ".chosen-select-no-results": {
      no_results_text: "Oops, nothing found!"
    },
    ".chosen-select-width": {
      width: "95%"
    }
  };
  
  for (var selector in config) $(selector).chosen(config[selector]);

  //region 刷新缓存
  function RefreshCache(){
    BlockWindow_ExecOp('正在刷新工单缓存', 140);

    $.ajax({
      type: "POST",
      url: "__URL__/ResetOrderCache",
      dataType:"json",
      timeout: 6000,
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        RefreshCacheResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  //刷新缓存的回调
  function RefreshCacheResponse(objJson){
    Un_BlockWindow_ExecOp();

    if(objJson.error == 1){
      AlertError(objJson.info);
      return false;
    }

    f5();
  }
  //endregion 刷新缓存

  function BackIndexPage(){
    window.location.href = ReturnUrl;
  }
</script>

<neq name="AccountType" value="$SellerManagerAccount">
  <script>
    //region 删除选中的工单
    function DeleteOrder(){
      var sSelectValue = GetListCheckBoxSelectValue();

      if(IsN(sSelectValue)){
        AlertError("请选择需要删除的工单");
        return false;
      }

      swal(
        {
          title: "",
          text: "确定删除选中的工单吗？",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#F8AC59",
          confirmButtonText: "确定删除",
          cancelButtonText: "取消",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm){
          if(isConfirm){
            ExcuteDelete(sSelectValue);
          }else{
            return false;
          }
        }
      );
    }

    //执行删除
    function ExcuteDelete(id){
      BlockWindow_ExecOp('正在删除选中的工单', 200);

      $.ajax({
        type: "POST",
        url: "__URL__/AjaxOrderDelete",
        dataType:"json",
        timeout: 6000,
        data:{"order_sn": id},
        beforeSend : function (XMLHttpRequest) {
          XMLHttpRequest.setRequestHeader("request_type","ajax");
        },
        success: function(data){
          ExcuteDeleteResponse(data);
        },
        error: function(request, status, error){
          Un_BlockWindow_ExecOp();
          AlertError("请求服务器时发生错误");
        }
      });
    }

    function ExcuteDeleteResponse(objJson){
      Un_BlockWindow_ExecOp();

      if(objJson.error == 1){
        ToastrError(objJson.info, '删除失败');
        return false;
      }

      f5();
    }
    //endregion 删除选中的工单
  </script>
</neq>
</body>

</html>