<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!-- 搜索 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>搜索预约</h5>
        </div>

        <div class="ibox-content">
          <form class="form-horizontal" id="searchForm" action="__URL__/SignatoryOrderList" method="get">

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">查询条件</label>
                  <div class="col-sm-5">
                    <select class="chosen-select" name="search_case" id="search_case" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                      <option value="">不指定条件</option>
                      <option value="order_sn" <eq name="search_case" value="id">selected</eq>>预约编号</option>
                      <option value="produc" <eq name="search_case" value="real_name">selected</eq>>产品名称</option>
                      <option value="customer" <eq name="search_case" value="phone">selected</eq> >客户名称</option>
                    </select>
                  </div>

                  <div class="col-sm-5">
                    <input type="text" name="search_key" class="form-control" placeholder="查询关键字" value="{$search_key}">
                    <span class="help-block m-b-none"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="hr-line-dashed"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;搜索</button>

                    <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;重置表单</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!--搜索 End-->
  
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>
        </div>

        <div class="ibox-content">
          {$Page}

          <table class="table table-hover">
            <thead>
            <tr>
              <th class="text-left">预约编号</th>
              <th class="text-left">产品</th>
              <th class="text-left">客户姓名</th>
              <th class="text-left">发起人</th>
              <th>发起日期</th>
              <th class="text-center">当前状态</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <empty name="OrderList">
              <tr>
                <td colspan="7" class="text-center">暂无数据</td>
              </tr>
              <else />
              <volist name="OrderList" id="list">
                <tr>
                  <td class="text-left">
                    <a href="__URL__/AuditSubscribeOrderInfo/order_sn/{$list.order_sn}">{$list.order_sn}</a>
                  </td>
                  <td class="text-left">
                    <empty name="list.product_snapshots">
                      --
                    <else/>
                      {$list.product_snapshots.type_name} - {$list.product_snapshots.product_name}
                    </empty>
                  </td>
                  <td class="text-left">{$list.customer.real_name}</td>
                  <td class="text-left">{$list.seller_name}</td>
                  <td>{$list.signed_date}</td>
                  <td class="text-center">
                    <p class="form-control-static">{$list.status_info.desc_style}</p>
                  </td>
                  <td class="text-right">
                    <div class="btn-group">
                      <switch name="list.status">
                        <case value="20">
                          <a href="__URL__/AuditSubscribeOrderInfo/order_sn/{$list.order_sn}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;回复</a>
                        </case>
  
                        <case value="21">
                          <a href="javascript:void(0);" data-sn="{$list.order_sn}" data-customer="{$list.customer_name}" onclick="ConfirmPayment(this);" class="btn btn-primary">
                            <i class="fa fa-check-circle-o"></i>&nbsp;确认消费
                          </a>
                        </case>
    
                        <default/><a href="__URL__/AuditSubscribeOrderInfo/order_sn/{$list.order_sn}" class="btn btn-warning"><i class="fa fa-edit"></i>&nbsp;修改</a>
                      </switch>
                    </div>
                  </td>
                </tr>
              </volist>
            </empty>

            </tbody>

            <tfoot>
            <tr>
              <th class="text-left">预约编号</th>
              <th class="text-left">产品</th>
              <th class="text-left">客户姓名</th>
              <th class="text-left">发起人</th>
              <th>发起日期</th>
              <th class="text-center">当前状态</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

          {$Page}
        </div>

        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>
        </div>
      </div>
    </div>
  </div>
  <!--主体内容 End-->
  
  <!--预约信息Modal Begin-->
  <div class="modal inmodal fade" id="modal_order_info_ifr" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content animated fadeIn">
        <div class="modal-header">
          <h4 class="modal-title">计划书详情</h4>
        </div>
        
        <div class="modal-body form-horizontal">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>计划书编号：<span id="span_order_sn"></span></h5>
            </div>
            
            <div class="ibox-content">
              <!--客户经理 客户 Begin-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      客户经理
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_seller_member"></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      客户
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_customer"></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--客户经理 客户 End-->
              
              <!--预约时间 产品 Begin-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      预约时间
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_reservation_time"></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      拟购产品
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_product"></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--预约时间 产品 Begin-->
              
              <!--年缴保费 缴费年限 Begin-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      年缴保费
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_year_premium_amount"></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      缴费年限
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_payment_years"></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--年缴保费 缴费年限 Begin-->
              
              <!--保障额度 备注 Begin-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      保障额度
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_guarantee_amount"></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      备注
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_remark"></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--保障额度 备注 Begin-->
              
              <!--保障额度 备注 Begin-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">
                      状态
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" id="p_status"></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                
                </div>
              </div>
              <!--保障额度 备注 Begin-->
            </div>
          </div>
          
          <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>附件信息</h5></div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-12" id="div_attachment_ifr">
                  <notempty name="OrderInfo.attachment">
                    <div class="file-box">
                      <div class="file">
                        <a href="__MODULE__/Download/OriginalNameImage/image_id/{$OrderInfo.attachment.id}">
                          <span class="corner"></span>
                          
                          <div class="image">
                            <img alt="image" class="img-responsive" src="{$OrderInfo.attachment.full_file}">
                          </div>
                          <div class="file-name">
                            <span style="word-wrap:break-word;">{$OrderInfo.attachment.original_name}</span>
                            <br/>
                            <small>添加时间：{$OrderInfo.attachment.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </notempty>
                  
                  <notempty name="CustomerInfo.idcard_img_a">
                    <div class="file-box">
                      <div class="file">
                        <!--<a href="javascript:void(0);">-->
                        <a href="__MODULE__/Download/OriginalNameImage/image_id/{$CustomerInfo.idcard_img_a.id}">
                          
                          <span class="corner"></span>
                          
                          <div class="image">
                            <img alt="image" class="img-responsive" src="{$CustomerInfo.idcard_img_a.full_file}">
                          </div>
                          <div class="file-name">
                            {$CustomerInfo.idcard_img_a.original_name}
                            <br/>
                            <small>添加时间：{$CustomerInfo.idcard_img_a.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </notempty>
                  
                  <notempty name="OrderInfo.xf_attachment">
                    <eq name="OrderInfo.attachment_type" value="$AttachmentFileType">
                      <div class="file-box">
                        <div class="file">
                          <a href="__MODULE__/Download/OriginalNameFile/file_id/{$OrderInfo.xf_attachment.id}">
                            <span class="corner"></span>
                            
                            <div class="icon">
                              <i class="fa {$OrderInfo.xf_attachment.icon}"></i>
                            </div>
                            <div class="file-name">
                              {$OrderInfo.xf_attachment.original_name}
                              <br/>
                              <small>文件大小：{$OrderInfo.xf_attachment.file_size_kb}KB</small>
                              <br/>
                              <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                            </div>
                          </a>
                        </div>
                      </div>
                    </eq>
                    
                    <eq name="OrderInfo.attachment_type" value="$AttachmentImageType">
                      <div class="file-box">
                        <div class="file">
                          <a href="__MODULE__/Download/OriginalNameImage/image_id/{$OrderInfo.xf_attachment.id}">
                            <span class="corner"></span>
                            
                            <div class="image">
                              <img alt="image" class="img-responsive" src="{$OrderInfo.xf_attachment.full_file}">
                            </div>
                            
                            <div class="file-name">
                              {$OrderInfo.xf_attachment.original_name}
                              <br/>
                              <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                            </div>
                          </a>
                        </div>
                      </div>
                    </eq>
                  </notempty>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <!--预约信息Modal End-->
</div>

{:W('Page/pageFootInclude')}

<script>
  var ReturnUrl = "__URL__/UnauditSignatoryOrderList";
  
  var config = {
    ".chosen-select": {},
    ".chosen-select-deselect": {
      allow_single_deselect: !0
    },
    ".chosen-select-no-single": {
      disable_search_threshold: 10
    },
    ".chosen-select-no-results": {
      no_results_text: "Oops, nothing found!"
    },
    ".chosen-select-width": {
      width: "95%"
    }
  };
  
  for (var selector in config) $(selector).chosen(config[selector]);

  //region 刷新缓存
  function RefreshCache(){
    BlockWindow_ExecOp('正在刷新预约缓存', 140);

    $.ajax({
      type: "POST",
      url: "__URL__/ResetOrderCache",
      dataType:"json",
      timeout: 6000,
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        RefreshCacheResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  //刷新缓存的回调
  function RefreshCacheResponse(objJson){
    Un_BlockWindow_ExecOp();

    if(objJson.error == 1){
      AlertError(objJson.info);
      return false;
    }

    f5();
  }
  //endregion 刷新缓存

  //region 获取预约详情
  function GetOrderInfo(obj) {
    var sOrderSn = $(obj).attr('data-sn');
  
    if(IsN(sOrderSn)){
      AlertError("计划书数据错误");
      return false;
    }
  
    BlockWindow_ExecOp('正在获取预约信息', 180);
  
    $.ajax({
      type: "POST",
      url: "__URL__/AjaxPlanInfo",
      dataType:"json",
      timeout: 6000,
      data: {"order_sn": sOrderSn},
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        $('#span_order_sn').html('');
        $('#p_seller_member').html('');
        $('#p_customer').html('');
        $('#p_product').html('');
        $('#p_remark').html('');
        $('#div_attachment_ifr').html('');
      
        GetOrderInfoResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function GetOrderInfoResponse(objJson) {
    Un_BlockWindow_ExecOp();
  
    if(objJson.error != 0){
      AlertError(objJson.info);
      return false;
    }
  
    var PlanInfo = objJson.data;
    var DomAttachment = [];
    var DomXfAttachment = [];
  
    $('#span_order_sn').html(PlanInfo.order_sn);
    $('#p_seller_member').html(PlanInfo.seller_name);
    $('#p_customer').html(PlanInfo.customer.real_name);
    
    if(!IsN(PlanInfo.product_snapshots)){
      $('#p_product').html(PlanInfo.product_snapshots.type_name +" - "+ PlanInfo.product_snapshots.product_name);
    }else{
      $('#p_product').html("--");
    }
    
    $('#p_reservation_time').html(PlanInfo.reservation_time);
    $('#p_year_premium_amount').html('<i class="fa fa-cny"></i>&nbsp;'+PlanInfo.year_premium_amount);
    $('#p_payment_years').html(PlanInfo.payment_years);
    $('#p_guarantee_amount').html('<i class="fa fa-cny"></i>&nbsp;'+PlanInfo.guarantee_amount);
    $('#p_remark').html(PlanInfo.seller_manager_remarks);
    $('#p_status').html(PlanInfo.status_info.desc);
  
    if(!IsN(PlanInfo.attachment) && PlanInfo.attachment != "0"){
      DomAttachment.push('<div class="file-box">');
      DomAttachment.push('<div class="file">');
      DomAttachment.push('<a href="__MODULE__/Download/OriginalNameImage/image_id/'+ PlanInfo.attachment.id +'">');
      DomAttachment.push('<span class="corner"></span>');
      DomAttachment.push('<div class="image">');
      DomAttachment.push('<img alt="image" class="img-responsive" src="'+ PlanInfo.attachment.full_file +'">');
      DomAttachment.push('</div>');
      DomAttachment.push('<div class="file-name">');
      DomAttachment.push('<span style="word-wrap:break-word;">'+ PlanInfo.attachment.original_name +'</span>');
      DomAttachment.push('<br/>');
      DomAttachment.push('<small>添加时间：'+ PlanInfo.attachment.add_date +'</small>');
      DomAttachment.push('</div>');
      DomAttachment.push('</a>');
      DomAttachment.push('</div>');
      DomAttachment.push('</div>');
    
      $('#div_attachment_ifr').append(DomAttachment.join(''));
    }
  
    if(!IsN(PlanInfo.xf_attachment)){
      switch(PlanInfo.attachment_type){
        case "image":
          DomXfAttachment.push('<div class="file-box">');
          DomXfAttachment.push('<div class="file">');
          DomXfAttachment.push('<a href="__MODULE__/Download/OriginalNameImage/image_id/'+ PlanInfo.attachment.id +'">');
          DomXfAttachment.push('<span class="corner"></span>');
          DomXfAttachment.push('<div class="image">');
          DomXfAttachment.push('<img alt="image" class="img-responsive" src="'+ PlanInfo.attachment.full_file +'">');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('<div class="file-name">');
          DomXfAttachment.push('<span style="word-wrap:break-word;">'+ PlanInfo.attachment.original_name +'</span>');
          DomXfAttachment.push('<br/>');
          DomXfAttachment.push('<small>添加时间：'+ PlanInfo.attachment.add_date +'</small>');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('</a>');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('</div>');
        
          $('#div_attachment_ifr').append(DomXfAttachment.join(''));
          break;
      
        case "file":
          DomXfAttachment.push('<div class="file-box">');
          DomXfAttachment.push('<div class="file">');
          DomXfAttachment.push('<a href="__MODULE__/Download/OriginalNameFile/file_id/'+ PlanInfo.xf_attachment.id +'">');
          DomXfAttachment.push('<span class="corner"></span>');
          DomXfAttachment.push('<div class="icon">');
          DomXfAttachment.push('<i class="fa '+ PlanInfo.xf_attachment.icon +'"></i>');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('<div class="file-name">');
          DomXfAttachment.push('<span style="word-wrap:break-word;">'+ PlanInfo.xf_attachment.original_name +'</span>');
          DomXfAttachment.push('<br/>');
          DomXfAttachment.push('<small>文件大小：'+ PlanInfo.xf_attachment.file_size_kb +'KB</small>');
          DomXfAttachment.push('<br/>');
          DomXfAttachment.push('<small>添加时间：'+ PlanInfo.xf_attachment.add_date +'</small>');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('</a>');
          DomXfAttachment.push('</div>');
          DomXfAttachment.push('</div>');
        
          $('#div_attachment_ifr').append(DomXfAttachment.join(''));
          break;
      }
    }
  
    ShowOrderInfoModal();
  }

  function ShowOrderInfoModal() {
    $('#modal_order_info_ifr').modal();
  }
  //endregion 获取预约详情

  //region 确认消费订单
  function ConfirmPayment(obj) {
    var sOrderSn = $(obj).attr("data-sn");
  
    if(IsN(sOrderSn)){
      AlertError("预约数据错误");
      return false;
    }
  
    BlockWindow_ExecOp('获取预约信息', 180);
  
    $.ajax({
      type: "POST",
      url: "__URL__/AjaxSubscribeOrderInfo",
      dataType:"json",
      timeout: 6000,
      data: {"order_sn": sOrderSn},
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        ConfirmPaymentResponse(data, obj);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function ConfirmPaymentResponse(objJson, obj) {
    Un_BlockWindow_ExecOp();
  
    if(objJson.error == 1){
      AlertError(objJson.info);
      return false;
    }else{
      if(IsN(objJson.data)){
        ToastrError('未获取到预约数据');
        return false;
      }
    }
  
    var OrderInfo = objJson.data;
    var nYearPremiumAmount = Number(OrderInfo.year_premium_amount);
  
    if(nYearPremiumAmount > 0 && !IsN(OrderInfo.product_snapshots)){
      SureConfirmPayment(obj);
    }else{
      NeedUpdatesData(OrderInfo.order_sn);
    }
  }

  //region 已经有年缴保费的确认
  function SureConfirmPayment(obj) {
    var sOrderSn = $(obj).attr("data-sn");
    var sCustomer = $(obj).attr("data-customer");
  
    swal(
      {
        title: "",
        text: "确定要将 ["+ sCustomer +"] 客户的预约 ["+ sOrderSn +"] 设置为已消费的状态吗？",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#F8AC59",
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        closeOnConfirm: true,
        closeOnCancel: true
      },
      function(isConfirm){
        if(isConfirm){
          ExcuteConfirmPayment(sOrderSn);
        }else{
          return false;
        }
      }
    );
  }

  function ExcuteConfirmPayment(order_sn) {
    BlockWindow_ExecOp('正在设置预约状态为已消费', 200);
  
    $.ajax({
      type: "POST",
      url: "__URL__/AjaxConfirmPaymentOrderInfo",
      dataType:"json",
      timeout: 6000,
      data:{"order_sn": order_sn},
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        ExcuteConfirmPaymentResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function ExcuteConfirmPaymentResponse(objJson) {
    Un_BlockWindow_ExecOp();
  
    if(objJson.error == 1){
      ToastrError(objJson.info, '删除失败');
      return false;
    }
  
    f5();
  }
  //endregion 已经有年缴保费的确认
  
  //region 需要补充资料的确认
  function NeedUpdatesData(order_sn) {
    swal(
      {
        title: "",
        text: "当前预约缺少必须的资料，是否完善资料？",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#F8AC59",
        confirmButtonText: "是",
        cancelButtonText: "否",
        closeOnConfirm: true,
        closeOnCancel: true
      },
      function(isConfirm){
        if(isConfirm){
          window.location.href = "__URL__/AuditUpdatesSubscribeOrderInfo/order_sn/"+order_sn;
        }else{
          return false;
        }
      }
    );
  }
  //endregion 需要补充资料的确认


  function SetOrderPayment(){
    var sOrderSn = $('#modal_order_sn').val();
    var nYearPremiumAmount = $('#modal_year_premium_amount').val();
    var nPaymentYears = $('#modal_payment_years').val();
    var nGuaranteeAmount = $('#modal_guarantee_amount').val();
    var nProductID = $('#product').val();
  
    if(IsN(nProductID)){
      AlertError("请选择产品");
      return false;
    }
  
    if(IsN(sOrderSn)){
      AlertError("预约数据错误");
      return false;
    }
  
    if(IsN(nYearPremiumAmount)){
      AlertError("请输入预约的年缴保费");
      return false;
    }
  
    if(IsN(nPaymentYears)){
      AlertError("请输入预约的保障额度");
      return false;
    }
  
    HideConfirmPaymentModal();
  
    BlockWindow_ExecOp('正在设置预约状态为已消费', 200);
  
    $.ajax({
      type: "POST",
      url: "__URL__/AjaxConfirmPaymentOrderInfo",
      dataType:"json",
      timeout: 6000,
      data:{"order_sn": sOrderSn, "product_id": nProductID, "year_premium_amount": nYearPremiumAmount, "payment_years": nPaymentYears, "guarantee_amount": nGuaranteeAmount},
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        ExcuteConfirmPaymentResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }


  function ShowConfirmPaymentModal(){
    $('#modal_set_order_amount_ifr').modal();
  }

  function HideConfirmPaymentModal(){
    $('#modal_set_order_amount_ifr').modal('hide');
  }
  //endregion 确认消费订单

  //region 获取产品列表
  function LoadProductOptionList(obj, type_id, product_id){
    var nProductTypeID = null;
  
    if(!IsN(obj)){
      nProductTypeID = $(obj).val();
    }else{
      nProductTypeID = type_id;
    }
  
    if(IsN(nProductTypeID)){
      var sKey = $('#product').attr("data-placeholder");
      $('#product').html('<option value="">'+ sKey +'</option>').trigger("chosen:updated");;
      return false;
    }
  
    BlockWindow_ExecOp('正在获取产品列表', 140);
  
    $.ajax({
      type: "POST",
      url: "__URL__/AjaxProductOptionList",
      dataType:"json",
      data: {"product_type_id": nProductTypeID},
      timeout: 6000,
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        LoadProductOptionListResponse(data, product_id);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function LoadProductOptionListResponse(objJson, product_id){
    Un_BlockWindow_ExecOp();
  
    if(objJson.error != 0){
      AlertError(objJson.info);
      return false;
    }
  
    var sKey = $('#product').attr("data-placeholder");
    if(IsN(objJson.data)){
      $('#product').html('<option value="">'+ sKey +'</option>').trigger("chosen:updated");;
    
      return false;
    }
  
    //region 产品列表
    var Dom = [];
    var OptionList = objJson.data;
    var nLen = OptionList.length;
    var Info = null;
  
    Dom.push('<option value="">'+ sKey +'</option>');
  
    for(var i=0; i<nLen; i++){
      Info = OptionList[i];
    
      Dom.push('<option value="'+Info.val+'">'+Info.key+'</option>');
    }
  
    $('#product').html(Dom.join('')).trigger("chosen:updated");
  
    if(!IsN(product_id)){
      $('#product').val(product_id).trigger("chosen:updated");
    }
    //endregion 产品列表
  }
  //endregion 获取产品列表
  
  function BackIndexPage(){
    window.location.href = ReturnUrl;
  }
</script>
</body>

</html>