<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>完善准备确认消费的预约</h5>
        </div>

        <div class="ibox-content">
          <form class="form-horizontal" id="addForm" action="__URL__/AjaxConfirmPaymentOrderInfo" method="post">
            <input type="hidden" name="order_sn" id="order_sn" value="{$OrderInfo.order_sn}" />

            <div class="form-group">
              <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;保存</button>
                <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-mail-reply"></i>&nbsp;取消并返回</button>
                <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
  
            <!--预约编号 Begin-->
            <div class="form-group">
              <label class="col-sm-3 control-label">
                预约编号
              </label>
              <div class="col-sm-7">
                <p class="form-control-static">{$OrderInfo.order_sn}</p>
              </div>
            </div>
            <!--预约编号 End-->
            
            <div class="hr-line-dashed"></div>
  
            <!--拟购产品 Begin-->
            <empty name="OrderInfo.product_snapshots">
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  <span class="label label-info">必填</span> 拟购产品
                </label>
                <div class="col-sm-3">
                  <select class="chosen-select" name="service_providers" id="service_providers" data-placeholder="请选择产品类型" style="width: 100% !important;" onchange="LoadProductOptionList(this);">
                    <option value="">请选择产品类型</option>
                    <volist name="ProductTypeOption" id="list">
                      <option value="{$list.val}" <eq name="list.val" value="$OrderInfo.product_snapshots.type_id">selected</eq> >{$list.key}</option>
                    </volist>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="chosen-select" name="product" id="product" data-placeholder="请选择产品" style="width: 100% !important;">
                    <option value="">请选择产品</option>
                    <volist name="ProductOption" id="list">
                      <option value="{$list.val}" <eq name="list.val" value="$OrderInfo.product_snapshots.product_id">selected</eq> >{$list.key}</option>
                    </volist>
                  </select>
                </div>
              </div>
  
              <div class="hr-line-dashed"></div>
            </empty>
            <!--拟购产品 End-->
  
            <!--计划书附件 End-->
            <empty name="OrderInfo.xf_attachment">
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  <span class="label label-info">必填</span> 计划书附件
                </label>
                <div class="col-sm-7">
                  <input type="file" name="attachment" id="attachment" class="form-control">
                  <span class="help-block m-b-none">保险计划书附件只能上传{$ProductAttachmentImgCfg.desc}、{$ProductAttachmentFileCfg.desc}文件</span>
                </div>
              </div>
    
              <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
        
                  <eq name="OrderInfo.attachment_type" value="$AttachmentFileType">
                    <div class="file-box">
                      <div class="file">
                        <a href="__MODULE__/Download/OriginalNameFile/file_id/{$OrderInfo.xf_attachment.id}">
                          <span class="corner"></span>
                
                          <div class="icon">
                            <i class="fa {$OrderInfo.xf_attachment.icon}"></i>
                          </div>
                          <div class="file-name">
                            <span style="word-wrap:break-word;">{$OrderInfo.xf_attachment.original_name}</span>
                            <br/>
                            <small>文件大小：{$OrderInfo.xf_attachment.file_size_kb}KB</small>
                            <br/>
                            <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </eq>
        
                  <eq name="OrderInfo.attachment_type" value="$AttachmentImageType">
                    <div class="file-box">
                      <div class="file">
                        <a href="__MODULE__/Download/OriginalNameImage/image_id/{$OrderInfo.xf_attachment.id}">
                          <span class="corner"></span>
                
                          <div class="image">
                            <img alt="image" class="img-responsive" src="{$OrderInfo.xf_attachment.full_file}">
                          </div>
                
                          <div class="file-name">
                            {$OrderInfo.xf_attachment.original_name}
                            <br/>
                            <small>添加时间：{$OrderInfo.xf_attachment.add_date}</small>
                          </div>
                        </a>
                      </div>
                    </div>
                  </eq>
                </div>
              </div>
  
              <div class="hr-line-dashed"></div>
            </empty>
            <!--计划书附件 End-->
  
            <!--年缴保费 Begin-->
            <div class="form-group">
              <label class="col-sm-3 control-label">
                <span class="label label-info">必填</span> 年缴保费
              </label>
              <div class="col-sm-7">
                <input type="text" name="year_premium_amount" id="year_premium_amount" class="form-control" placeholder="请输入年缴保费" value="{$OrderInfo.year_premium_amount}">
              </div>
            </div>
            <!--年缴保费 End-->
  
            <div class="hr-line-dashed"></div>
  
            <!--缴费年限 Begin-->
            <elt name="OrderInfo.payment_years" value="0">
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  <span class="label label-info">必填</span> 缴费年限
                </label>
                <div class="col-sm-7">
                  <input type="text" name="payment_years" id="payment_years" class="form-control" placeholder="请输入缴费年限" value="{$OrderInfo.payment_years}">
                </div>
              </div>
  
              <div class="hr-line-dashed"></div>
            </elt>
            <!--缴费年限 End-->
  
            <!--保障额度 Begin-->
            <elt name="OrderInfo.guarantee_amount" value="0">
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  保障额度
                </label>
                <div class="col-sm-7">
                  <input type="text" name="guarantee_amount" id="guarantee_amount" class="form-control" placeholder="请输入保障额度" value="{$OrderInfo.guarantee_amount}">
                </div>
              </div>
  
              <div class="hr-line-dashed"></div>
            </elt>
            <!--保障额度 End-->
  
            <div class="form-group">
              <div class="col-sm-12 col-sm-offset-3">
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;保存</button>
                <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-mail-reply"></i>&nbsp;取消并返回</button>
                <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <!--主体内容 End-->
</div>

{:W('Page/pageFootInclude')}

<script>
  var ReturnUrl = "__URL__/UnauditSubscribeOrderList";

  $(document).ready(function(){
    //region 下拉框样式
    var config = {
      ".chosen-select": {},
      ".chosen-select-deselect": {
        allow_single_deselect: !0
      },
      ".chosen-select-no-single": {
        disable_search_threshold: 10
      },
      ".chosen-select-no-results": {
        no_results_text: "Oops, nothing found!"
      },
      ".chosen-select-width": {
        width: "95%"
      }
    };

    for (var selector in config) $(selector).chosen(config[selector]);
    //endregion 下拉框样式

    //region 表单验证
    $("#addForm").validate({
      ignore: "",
      rules: {},
      messages: {},
      focusInvalid: true,
      submitHandler: function(form) {
        $(form).ajaxSubmit({
          timeout : 6000,    // 限制请求的时间，当请求大于6秒后，跳出请求
          type : "POST",
          dataType : "json",
          beforeSend : function (XMLHttpRequest) {
            XMLHttpRequest.setRequestHeader("request_type","ajax");
          },
          beforeSubmit : SubmitBefore,
          success : SubmitResponse,    // 提交后的回调函数
          error : SubmitError
        });
      }
    });
    //endregion 表单验证
  });
  
  //region 提交表单
  function SubmitBefore(){
    BlockWindow_ExecOp('正在保存保险计划书数据', 140);
  }

  function SubmitResponse(responseText){
    Un_BlockWindow_ExecOp();

    if(responseText.error!=0){
      AlertError(responseText.info);
      return false;
    }

    swal(
      {
        title: "",
        text: responseText.info,
        type: "success",
        confirmButtonText: "确定",
        closeOnConfirm: true
      },
      function(isConfirm){
        <if condition="($AccountType neq $SellerManagerAccount)">
          window.parent.PollingUntreatedNumber();
        </if>

        BackIndexPage();
      }
    );
  }
  
  function SubmitError(){
    Un_BlockWindow_ExecOp();

    AlertError("请求超时");
    return false;
  }
  //endregion 提交表单
  
  //region 获取产品列表
  function LoadProductOptionList(obj, type_id, product_id){
    var nProductTypeID = null;
    
    if(!IsN(obj)){
      nProductTypeID = $(obj).val();
    }else{
      nProductTypeID = type_id;
    }
    
    if(IsN(nProductTypeID)){
      var sKey = $('#product').attr("data-placeholder");
      $('#product').html('<option value="">'+ sKey +'</option>').trigger("chosen:updated");;
      return false;
    }

    BlockWindow_ExecOp('正在获取产品列表', 140);

    $.ajax({
      type: "POST",
      url: "__URL__/AjaxProductOptionList",
      dataType:"json",
      data: {"product_type_id": nProductTypeID},
      timeout: 6000,
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        LoadProductOptionListResponse(data, product_id);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function LoadProductOptionListResponse(objJson, product_id){
    Un_BlockWindow_ExecOp();
    
    if(objJson.error != 0){
      AlertError(objJson.info);
      return false;
    }

    var sKey = $('#product').attr("data-placeholder");
    if(IsN(objJson.data)){
      $('#product').html('<option value="">'+ sKey +'</option>').trigger("chosen:updated");;

      return false;
    }

    //region 产品列表
    var Dom = [];
    var OptionList = objJson.data;
    var nLen = OptionList.length;
    var Info = null;

    Dom.push('<option value="">'+ sKey +'</option>');

    for(var i=0; i<nLen; i++){
      Info = OptionList[i];

      Dom.push('<option value="'+Info.val+'">'+Info.key+'</option>');
    }

    $('#product').html(Dom.join('')).trigger("chosen:updated");
    
    if(!IsN(product_id)){
      $('#product').val(product_id).trigger("chosen:updated");
    }
    //endregion 产品列表
  }
  //endregion 获取产品列表

  function BackIndexPage(){
    window.location.href = ReturnUrl;
  }
</script>
</body>

</html>