<div class="modal-dialog">
    <div class="modal-content">                                     
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                   <!-- BEGIN EXAMPLE TABLE PORTLET-->
                   <div class="portlet">
                      <div class="portlet-title">
                         <div class="caption"><i class="icon-cogs"></i>Table</div>
                      </div>
                      <div class="portlet-body">
                         <table class="table table-striped table-bordered table-hover" id="sample_3">
                            <thead>
                               <tr>
                                   <th style="width:60px; text-align: center; vertical-align: middle;">管理员ID</th>
                                   <th style=" vertical-align: middle;">管理员账号{$cntid}</th>
                                  <th style="width:60px;"></th>
                               </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="data">
                                    <tr class="odd gradeX">
                                      <td style="width:60px; text-align: center; vertical-align: middle;">{$data.id}</td>
                                      <td style=" vertical-align: middle;">{$data.username}</td>
                                      <td style="width:60px;"><a class="btn btn-primary" href="javascript:void(0);" onclick="SelectBackData({$data.id},'{$data.username}');">选择</a></td>
                                   </tr>
                                </volist>
                            </tbody>
                         </table>
                      </div>
                   </div>
                   <!-- END EXAMPLE TABLE PORTLET-->
                </div>
             </div>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
$('#sample_3').dataTable({
    "aLengthMenu": [
        [5, 10, 15, 20, -1],
        [5, 10, 15, 20, "All"] // change per page values here
    ],
    // set the initial value
    "iDisplayLength": 10,
    "sPaginationType": "bootstrap",
    "oLanguage": {
        "sLengthMenu": "_MENU_ 条记录",
        "sZeroRecords": "没有找到匹配的数据",
        "sInfo": "",
        "sInfoEmpty": "",
        "sInfoFiltered": "",
        "oPaginate": {
            "sPrevious": "上一页",
            "sNext": "下一页"
        }
    },
    "aoColumnDefs": [{
            'bSortable': false,
            'aTargets': [0]
        },
        {
            'bSortable': false,
            'aTargets': [1]
        },
        {
            'bSortable': false,
            'aTargets': [2]
        }
    ]
});

jQuery('#sample_3 .group-checkable').change(function () {
    var set = jQuery(this).attr("data-set");
    var checked = jQuery(this).is(":checked");
    jQuery(set).each(function () {
        if (checked) {
            $(this).attr("checked", true);
        } else {
            $(this).attr("checked", false);
        }
    });
    jQuery.uniform.update(set);
});

jQuery('#sample_3_wrapper .dataTables_filter input').addClass("form-control input-small"); // modify table search input
jQuery('#sample_3_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
jQuery('#sample_3_wrapper .dataTables_length select').select2(); // initialize select2 dropdown

function SelectBackData(_id, _title){
    $('#{$cntid}').val(_id);
    $('#{$cntid}_title').val(_title);
    
    $('#ajax').modal('hide');
}
</script>