<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" id="form" method="post" action="{:U('update')}">

                            <!-- PAGE CONTENT BEGINS -->

                            <input type="hidden" name="aid" value="{$article.aid}" id="aid"/>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    推荐理由</label>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-1">
                                    推荐人姓名 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="recommend_name" id="recommend_name" placeholder="姓名"
                                           class="col-xs-10 col-sm-5" value="{$article['recommend_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle">姓名不能为空。</span>
                                    </span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    职业： </label>
                                <div class="col-sm-9">
                                    <select id="oc" name="oc" class="col-xs-4 col-sm-4">
                                        <?php foreach ($occupation as $itm) :?>
                                        <?php if ($itm['id'] == $article['oc']) :?>
                                        <option value="<?php echo $itm['id'] ?>" selected><?php echo $itm['oname'] ?></option>
                                        <?php else :?>
                                        <option value="<?php echo $itm['id'] ?>"><?php echo $itm['oname'] ?></option>
                                        <?php endif; ?>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                    <div class="form-group">
                            <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                图片 </label>
                            <div class="col-sm-9">
                                <div class="col-xs-10 col-sm-5">
                                    {:UpImage("url",100,100,$article['url'])}
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
                                <span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。<br/>（需要就上传，可不传，视频画面图片900*500px，新闻页面460*230px，新闻详情页 建议宽度700px,人物团队 320*180px，合作资源285*86px）<br/>关于我们-公司简介图片 ，建议650*300px（这里的图片属于自行添加编辑的，如果要如图效果是650*300px；后期如果要更换图片，可自行控制图片大小）</span>
                            </span>
                            </div>
                        </div>

                    <div class="space-4"></div>
                        <div class="col-md-offset-2 col-md-9">
                        <button class="btn btn-info submit" type="button" ID="btn_submit">
                            <i class="icon-ok bigger-110"></i>
                            提交
                        </button>&nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            重置
                        </button>
                        </div>

                    <!-- PAGE CONTENT ENDS -->

                    </form>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#btn_submit').click(function () {
            get_photo();
        })
    });

    function get_photo() {
        var aid=$('#aid').val();
        var recommend_name = $('#recommend_name').val();
        var oc = $('#oc').val();
        var url = $('#url').val();

        var data = {};
        data.aid = aid;
        data.recommend_name = recommend_name;
        data.oc = oc;
        data.url = url;

        console.log(JSON.stringify(data));

        fit.ajax({
            url:'/Qwadmin/Reco/update',
            data:data,
            success:function(result){
                //console.log(JSON.stringify(result));          // alert(JSON.stringify(result));
                alert(result.msg);//发出信息

            }

        });

    }


</script>
</body>
</html>
