<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>订单编号</th>
              <th>产品信息</th>
              <th>消费金额</th>
              <th>消费时间</th>
              <th>客户经理</th>
            </tr>
            </thead>

            <tbody>
            <empty name="CustomerPayList">
              <tr>
                <td colspan="5" class="text-center">暂无数据</td>
              </tr>
            <else/>
              <volist name="CustomerPayList" id="list">
                <tr>
                  <td>{$list.order_sn}</td>
                  <td><label class="label label-info">{$list.product_type_name}</label>&nbsp;{$list.product_name}</td>
                  <td>{$list.pay_amount}</td>
                  <td>{$list.pay_time}</td>
                  <td>{$list.seller_name}</td>
                </tr>
              </volist>
            </empty>

            </tbody>

            <tfoot>
            <tr>
              <th>订单编号</th>
              <th>产品信息</th>
              <th>消费金额</th>
              <th>消费时间</th>
              <th>客户经理</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--主体内容 End-->
</div>

{:W('Page/pageFootInclude')}
</body>

</html>