<extend name="Base/mobile"/>
<!--
    cst-space：大型slide (START)
-->
<block name="body">
    <style>
        .justhci {
            padding: 15px 10px 0 10px;
            font-size: 16px;
        }
        .ftlistbox .opera .td:last-child {
            color:#03A9F4;
        }
    </style>
    <div class="justhci">
        选择地址
    </div>
    <div class="ftlistbox">
        <volist name="data.address" id="itm">
            <div class="itm address np" val="{$itm.id}">
                <?php if ($itm['is_default'] == '1') :?>
                    <span class="defaultaddr">已选中</span>
                <?php endif; ?>
                <div class="t1">
                    <div>{$itm.name} {$itm.address}</div>
                </div>
                <div class="t3">
                    <span class="iconfont icon-phone"></span>
                    <span>{$itm.phone}</span>
                </div>
                <div class="opera">
                    <div class="td tapquick" url="/mobile/me_editaddr?id={$itm.id}">编辑</div>
                    <div class="td" onclick="setDefault('{$itm.id}')">选择</div>
                </div>
            </div>
        </volist>
    </div>
    <style>
        .ftlistbox .itm {
            padding-bottom: 20px;
        }

        .ftlistbox .itm:active {
            background: #FFF;
        }
        .hmchtbb {
            width:100%;
            margin-bottom:10px;
            line-height:24px;
        }
        .hmchtbb tr td:first-child {
            text-align:left;
        }
        .hmchtbb tr td:last-child {
            text-align:right;
        }
        body {
            padding-bottom:150px;
        }
    </style>
    <div class="justhci">
        购买商品
    </div>
    <div class="ftlistbox">
        <volist name="data.order.details" id="itm">
            <div class="itm">
            <div class="imgd tapquick" url="/mobile/product?id={$itm.item_id}" style="background-image:url(<?php echo $itm['product']['show_photo'][0]['url'] ?>);"></div>
            <div class="t1 tapquick" url="/mobile/product?id={$itm.item_id}">
                <span>{$itm.product.item_name}</span>
            </div>
            <div class="t3s">
                <div>数量：{$itm.num}</div>
                <div>单价：{$itm.price}元</div>
                <div>小计：{$itm.amount}元</div>
            </div>
        </div>
        </volist>
    </div>
    <a class="bottombackbtn" href="javascript:void(0);" onclick="window.history.back()">返回</a>

    <div style="box-shadow:0 0 15px rgba(0,0,0,.1);background:#FFF;position:fixed;z-index: 21;bottom:0;left:0;width:100%;">
        <div style="padding:15px;">
            <table class="hmchtbb">
                <tr>
                    <td>商品金额</td>
                    <td>￥{$data.order.amount}</td>
                </tr>
                <tr>
                    <td>运费</td>
                    <td>￥<span id="freight">56.00</span></td>
                </tr>
                <tr>
                    <td>总金额</td>
                    <td>￥<span id="pay-amount">{$data.order.amount}</span></td>
                </tr>
            </table>
            <a id="btn_pay" href="javascript:void(0)" class="confirmbtn full tc">前往支付</a>
        </div>
    </div>
    <input type="hidden" id="order_id" value="{$data.order.id}">
</block>
<block name="script">
    <script>
        $(document).ready(function(){
            $('#btn_pay').click(function () {
                pay();
            })

            costFreight();
        });

        function pay() {
            var order_id = $('#order_id').val();
            var user_id = localStorage.getItem('user_id');
            var pay_amount = $('#pay-amount').html();
            var freight = $('#freight').html();
            var address_id;

            var addresses = $('.itm.address');

            if (addresses.length < 1) {
                $.alertbox({
                    msg:'<span class="orange">请先完善地址信息!</span>'
                });

                return;
            }

            if (!address_id) {
                if (addresses.length == 1) {
                    address_id = $(addresses[0]).attr('val');
                }
                else {
                    for (var i = 0; i < addresses.length; i++) {
                        if ($(addresses[i]).find('.defaultaddr')) {
                            address_id = $(addresses[i]).attr('val');

                            break;
                        }
                    }

                    if (!address_id) {
                        $.alertbox({
                            msg:'<span class="orange">请先选择默认地址信息!</span>'
                        });

                        return;
                    }
                }
            }

            var data = { 'user_id':user_id, 'order_id': order_id, 'address_id': address_id, 'pay_amount': pay_amount, 'freight': freight };
//            alert(JSON.stringify(data));
////            return;
//            alert(1);
            fit.ajax({
                url:'/user/pay',
                data:data,
                success:function(result){
//                    alert(2);
//                    alert(JSON.stringify(result)); return;

                    localStorage.setItem('tmp_order_id', order_id);
                    localStorage.setItem('tmp_code', result.code);
                    localStorage.setItem('tmp_msg', result.msg);

                    if (result.code == 200) {
                        localStorage.setItem('tmp_url', '/mobile/me_order?access='+ user_id)
                    }
                    else {
                        localStorage.setItem('tmp_url', local.href);
                    }

                    location.href = '/mobile/success';
                }
            });
        }

        function costFreight() {
            var freight = $('#freight').html();
            var pay_amount = $('#pay-amount').html();

            if (!freight)
                freight = 0;

            if (!pay_amount)
                pay_amount = 0;

            pay_amount = parseFloat(pay_amount) + parseFloat(freight);

            $('#pay-amount').html(pay_amount.toFixed(2));
        }

        function setDefault(address_id) {
            var user_id = localStorage.getItem('user_id');

            var data = { 'user_id':user_id, 'address_id': address_id }

            fit.ajax({
                url:'/user/set_default',
                data:data,
                success:function(result){
//                    alert(JSON.stringify(result));
                    $.alertbox({
                        msg:'<span class="orange">'+ result.msg +'</span>'
                    });

                    if (result.code == 200) {
                        location.reload();
//                        loadAddress(result.data);
                    }
                }
            });
        }
    </script>
</block>