<extend name="Base/mobile"/>
<!--
    cst-space：大型slide (START)
-->
<block name="body">
    <div class="loginbldtt">登录E客电动</div>
    <div class="tbrform">
        <div class="rs">
            <div class="r">
                <div>
                    <input id="phone" type="tel" class="lineinput" placeholder="手机号码">
                </div>
            </div>
            <div class="r">
                <div>
                    <input id="password" type="password" class="lineinput" placeholder="密码">
                </div>
            </div>
        </div>
        <button id="btn_login" class="confirmbtn full">登录</button>
        <div class="loginbtcht">
            <a href="/mobile/register">新用户注册</a>
            <span class="spl">|</span>
            <a href="/mobile/forgot">忘记密码？</a>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(document).ready(function(){
            $('#btn_login').click(function(){
                login();
            });
        });

        function test() {
            var phone = $('#phone').val();
            var password = $('#password').val();

            var data = { 'user_name': phone, 'password': password }

            fit.ajax({
                url:'http://yike.webetter100.com/user/login',
                data:data,
                success:function(result){
                    alert(JSON.stringify(result));
                }
            });
        }

        function login() {
            var phone = $('#phone').val();
            var password = $('#password').val();

            var data = { 'phone': phone, 'password': password }

            fit.ajax({
                url:'/user/login',
                data:data,
                success:function(result){
//                    alert(JSON.stringify(result));
//                    console.log(JSON.stringify(result));
                    $.alertbox({
                        msg:'<span class="orange">'+ result.msg +'</span>'
                    });

                    if (result.code == 200) {
                        localStorage.setItem('user_id', result.data);

                        location.href = '/mobile/me?access='+ result.data;
                    }
                }
            });
        }
    </script>
</block>