<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form  enctype="multipart/form-data"  class="form-horizontal" role="form" id="form" method="post" action="{:U('update')}">
                            <input name="id" id="id" value="{$currentcategory.id}" type="hidden">

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 指南名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" id="name" placeholder="请填写指南名称"
                                           class="col-xs-10 col-sm-5" value="{$currentcategory.name}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">必填项</span>
                            </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    类型： </label>
                                <div class="col-sm-9">
                                    <select id="type" name="type" class="col-xs-4 col-sm-4">
                                        <?php foreach ($guide_type as $itm) :?>
                                        <?php if ($itm['id'] == $currentcategory['type']) :?>
                                        <option value="<?php echo $itm['id'] ?>" selected><?php echo $itm['name'] ?></option>
                                        <?php else :?>
                                        <option value="<?php echo $itm['id'] ?>"><?php echo $itm['name'] ?></option>
                                        <?php endif; ?>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">联系电话</label>
                                <div class="col-sm-9">
                                    <input type="text" name="phone" id="phone" placeholder="请填联系电话"
                                           class="col-xs-10 col-sm-5" value="{$currentcategory.phone}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 上班时间</label>
                                <div class="col-sm-9">
                                    <input type="text" name="workshift" id="workshift" placeholder="请填上班时间"
                                           class="col-xs-10 col-sm-5" value="{$currentcategory.workshift}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4">
                                    logo上传 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5">
                                        {:UpImage("logo",100,100, $currentcategory['logo_photo']['img'])}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。（尺寸为1400*550px）</span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file_name" id="file_name" placeholder="请上相关文档名称"
                                           class="col-xs-10 col-sm-5" value="{$file_1['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="info_file" type="file" value="http://test.community.com{$file_1['src']}" /><br/>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file2_name" id="file_2name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_2['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="file" type="file" value="http://test.community.com{$file_2['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file3_name" id="file_3name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_3['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="C_file" type="file" value="http://test.community.com{$file_3['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file4_name" id="file_4name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_4['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="D_file" type="file" value="http://test.community.com{$file_4['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file5_name" id="file_5name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_5['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="E_file" type="file" value="http://test.community.com{$file_5['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file6_name" id="file_6name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_6['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="F_file" type="file" value="http://test.community.com{$file_6['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file7_name" id="file_7name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_7['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="G_file" type="file" value="http://test.community.com{$file_7['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file8_name" id="file_8name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_8['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="H_file" type="file" value="http://test.community.com{$file_8['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file9_name" id="file_9name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_9['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="I_file" type="file" value="http://test.community.com{$file_9['src']}"/><br/>

                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name">相关文档</label>
                                <div class="col-sm-9">
                                    <input type="text" name="file10_name" id="file_10name" placeholder="请上登记表名称"
                                           class="col-xs-10 col-sm-5" value="{$file_10['file_name']}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    文档上传： </label>
                                <div class="col-sm-9">
                                    <input name="A_file" type="file" value="http://test.community.com{$file_10['src']}"/><br/>

                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2">
                                    详细描述 </label>
                                <div class="col-sm-9">
                                    <textarea name="introduce" id="introduce" style="width:100%;height:400px;visibility:hidden;">{$currentcategory['introduce']}</textarea>
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(function () {
        var editor = KindEditor.create('textarea[name="introduce"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            allowImageRemote: false,
            afterBlur: function () {
                this.sync();
            }
        });

        //切换是否视频
        $("#is_sp").change(function () {

            if ($(this).val() == 1) {
                $("#type").removeClass('hidden');

            }else {
                $("#type").addClass('hidden');
            }
        });
        $("#type").change(function () {

            if ($(this).val() == 1) {
                $("#type1").removeClass('hidden');
                $("#type2").addClass('hidden');
            } else if ($(this).val() == 2) {
                $("#type2").removeClass('hidden');
                $("#type1").addClass('hidden');
            } else {
                $("#type1").addClass('hidden');
                $("#type2").addClass('hidden');
            }
        });

        $(".btn.btn-info.submit").click(function () {
            var name = $("#name").val();
            var logo = $("#logo").val();
            var introduce = $("#introduce").val();
            var file = $("#file").val();
            var phone = $("#phone").val();
            var workshift = $("#workshift").val();

            if (name == '') {
                bootbox.dialog({
                    message: "抱歉，指南名称不能为空。",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return false;
            }

            $("#form").submit();
        })
    })
</script>



</body>
</html>
