
<!DOCTYPE html>
<html>

<head>
    <title>社区资讯</title>
    <!-- Unresponsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__/global.css" />
    <link rel="stylesheet" href="/Public/Home/frontend.css?v=1200.01" />
</head>

<body>

<div class="myat_optitle01 p21">
    {$item['title']}
</div>

    <div class="myat_feed">
        <div class="timg multi">
            <img src="{$item['img_photo']['img']}" alt="" />
        </div>
    </div>

<div class="myat_article_body">
    <div class="text_content nopadding">
        {$item['detailed_introduce']}
    </div>
</div>

</div>
</div>


</body>

</html>