body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:40px;
  width:230px;
  height:360px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:360px;
}
#u1 {
  position:absolute;
  left:2px;
  top:172px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:40px;
  width:230px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:190px;
  width:200px;
  height:45px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:45px;
  top:245px;
  width:200px;
  height:45px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:45px;
  top:300px;
  width:200px;
  height:40px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:82px;
  top:75px;
  width:127px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:111px;
  top:115px;
  width:68px;
  height:20px;
  color:#6699FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:540px;
  width:310px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:306px;
  word-wrap:break-word;
}
