<!DOCTYPE html>
<html>

<head>
  {:W('Page/pageMeta')}

  {:W('Page/pageTitle')}

  {:W('Page/pageHeadInclude')}
  
</head>

<body {:W('Page/bodyCss')}>

<div class="wrapper wrapper-content animated fadeIn">
  <!-- 搜索 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>搜索{$ControllerName}</h5>
        </div>

        <div class="ibox-content">
          <form class="form-horizontal" id="searchForm" action="__URL__/SellerManagerList" method="get">

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-2 control-label">查询条件</label>
                  <div class="col-sm-5">
                    <select class="chosen-select" name="search_case" id="search_case" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                      <option value="">不指定条件</option>
                      <option value="id" <eq name="search_case" value="id">selected</eq>>{$ControllerName}编号</option>
                      <option value="login_name" <eq name="search_case" value="login_name">selected</eq>>登陆账号</option>
                      <option value="real_name" <eq name="search_case" value="real_name">selected</eq>>真实姓名</option>
                      <option value="phone" <eq name="search_case" value="phone">selected</eq> >联系电话</option>
                      <option value="qq" <eq name="search_case" value="qq">selected</eq> >QQ号</option>
                      <option value="wechat" <eq name="search_case" value="wechat">selected</eq> >微信号</option>
                    </select>
                  </div>

                  <div class="col-sm-5">
                    <input type="text" name="search_key" class="form-control" placeholder="查询关键字" value="{$search_key}">
                    <span class="help-block m-b-none"></span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-3 control-label">账号状态</label>
                  <div class="col-sm-9">
                    <select class="chosen-select" name="search_status" id="search_status" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                      <option value="" <empty name="search_status">selected</empty> >全部</option>
                      <option value="0" <eq name="search_status" value="0">selected</eq> >启用</option>
                      <option value="1" <eq name="search_status" value="1">selected</eq> >禁用</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="hr-line-dashed"></div>
              </div>
            </div>

            <eq name="AccountType" value="$AdminAccount">
              <div class="row">
                
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">经纪公司</label>
                    <div class="col-sm-10">
                      <select class="chosen-select" name="search_broker_company" id="search_broker_company" autocomplete="off" style="width: 100%;" data-placeholder="全部">
                        <option value="" <empty name='search_broker_company'>selected</empty>>全部</option>
                        <volist name="SellerManagerOption" id="list">
                          <option value="{$list.val}" <eq name="list.val" value="$search_broker_company">selected</eq> >{$list.key}</option>
                        </volist>
                      </select>
                    </div>
                  </div>
                </div>
  
                <div class="col-sm-6">
  
                </div>
                
              </div>
  
              <div class="row">
                <div class="col-sm-12">
                  <div class="hr-line-dashed"></div>
                </div>
              </div>
            </eq>
            
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>&nbsp;搜索</button>

                    <button class="btn btn-white" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;重置表单</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!--搜索 End-->
  
  <!--主体内容 Begin-->
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="BackIndexPage();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
          
          <a href="__URL__/SellerCaptainInfo" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;添加{$ControllerName}</a>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>

          <button class="btn btn-danger" type="button" onclick="DeleteBrokerCompanyAccount();"><i class="fa fa-trash-o"></i>&nbsp;删除选中的{$ControllerName}</button>
        </div>

        <div class="ibox-content">
          {$Page}

          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <div class="checkbox checkbox-inline checkbox-info">
                  <input type="checkbox" name="list_chk_all" id="list_chk_all_1" onclick="ListMainCheckBoxClick(this);">
                  <label for="list_chk_all_1">编号</label>
                </div>
              </th>
              <th class="text-center">账号/昵称</th>
              <th class="text-center">经纪公司</th>
              <th class="text-center">联系电话</th>
              <th class="text-center">QQ号</th>
              <th class="text-center">微信</th>
              <th class="text-center">账号状态</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <empty name="SellerManagerList">
              <tr>
                <td colspan="9" class="text-center">暂无数据</td>
              </tr>
              <else />
              <volist name="SellerManagerList" id="list">
                <tr>
                  <td>
                    <div class="checkbox checkbox-inline checkbox-info">
                      <input type="checkbox" name="list_chk_sub" id="list_chk_sub_{$i}" onclick="ListSubCheckBoxClick(this);" value="{$list.id}">
                      <label for="list_chk_sub_{$i}">{$list.id}</label>
                    </div>
                  </td>
                  <td class="text-center">{$list.login_name} / {$list.real_name}</td>
                  <td class="text-center">{$list.broker_company_name}</td>
                  <td class="text-center">{$list.phone}</td>
                  <td class="text-center">{$list.qq}</td>
                  <td class="text-center">{$list.wechat}</td>
                  <td class="text-center">{$list.disable_style}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <a href="__URL__/SellerManagerInfo/seller_manager_id/{$list.id}" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                    </div>
                  </td>
                </tr>
              </volist>
            </empty>

            </tbody>

            <tfoot>
            <tr>
              <th>
                <div class="checkbox checkbox-inline checkbox-info">
                  <input type="checkbox" name="list_chk_all" id="list_chk_all_2" onclick="ListMainCheckBoxClick(this);">
                  <label for="list_chk_all_2">编号</label>
                </div>
              </th>
              <th class="text-center">账号/昵称</th>
              <th class="text-center">经纪公司</th>
              <th class="text-center">联系电话</th>
              <th class="text-center">QQ号</th>
              <th class="text-center">微信</th>
              <th class="text-center">账号状态</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

          {$Page}
        </div>

        <div class="ibox-content">
          <button class="btn btn-success" type="button" onclick="f5();"><i class="fa fa-refresh"></i>&nbsp;刷新页面</button>
          
          <a href="__URL__/SellerCaptainInfo" class="btn btn-primary"><i class="fa fa-user-plus"></i>&nbsp;添加{$ControllerName}</a>

          <button class="btn btn-info" type="button" onclick="RefreshCache();"><i class="fa fa-refresh"></i>&nbsp;刷新缓存</button>

          <button class="btn btn-danger" type="button" onclick="DeleteBrokerCompanyAccount();"><i class="fa fa-trash-o"></i>&nbsp;删除选中的{$ControllerName}</button>
        </div>
      </div>
    </div>
  </div>

  <!--主体内容 End-->
</div>

{:W('Page/pageFootInclude')}

<script>
  var ReturnUrl = "__URL__/SellerCaptainList";
  
  var config = {
    ".chosen-select": {},
    ".chosen-select-deselect": {
      allow_single_deselect: !0
    },
    ".chosen-select-no-single": {
      disable_search_threshold: 10
    },
    ".chosen-select-no-results": {
      no_results_text: "Oops, nothing found!"
    },
    ".chosen-select-width": {
      width: "95%"
    }
  };
  
  for (var selector in config) $(selector).chosen(config[selector]);

  //region 刷新缓存
  function RefreshCache(){
    BlockWindow_ExecOp('正在刷新{$ControllerName}缓存', 140);

    $.ajax({
      type: "POST",
      url: "__URL__/ResetSellerManagerCache",
      dataType:"json",
      timeout: 6000,
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        RefreshCacheResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  //刷新缓存的回调
  function RefreshCacheResponse(objJson){
    Un_BlockWindow_ExecOp();

    if(objJson.error == 1){
      AlertError(objJson.info);
      return false;
    }

    f5();
  }
  //endregion 刷新缓存

  //region 删除选中
  function DeleteBrokerCompanyAccount(){
    var sSelectValue = GetListCheckBoxSelectValue();

    if(IsN(sSelectValue)){
      AlertError("请选择需要删除的{$ControllerName}");
      return false;
    }

    swal(
      {
        title: "",
        text: "确定删除选中的{$ControllerName}吗？",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#F8AC59",
        confirmButtonText: "确定删除",
        cancelButtonText: "取消",
        closeOnConfirm: true,
        closeOnCancel: true
      },
      function(isConfirm){
        if(isConfirm){
          ExcuteDelete(sSelectValue);
        }else{
          return false;
        }
      }
    );
  }

  //执行删除
  function ExcuteDelete(id){
    BlockWindow_ExecOp('正在删除选中的{$ControllerName}', 200);

    $.ajax({
      type: "POST",
      url: "__URL__/AjaxSellerManagerDelete",
      dataType:"json",
      timeout: 6000,
      data:{"seller_manager_id": id},
      beforeSend : function (XMLHttpRequest) {
        XMLHttpRequest.setRequestHeader("request_type","ajax");
      },
      success: function(data){
        ExcuteDeleteResponse(data);
      },
      error: function(request, status, error){
        Un_BlockWindow_ExecOp();
        AlertError("请求服务器时发生错误");
      }
    });
  }

  function ExcuteDeleteResponse(objJson){
    Un_BlockWindow_ExecOp();

    if(objJson.error == 1){
      AlertError(objJson.info);
      return false;
    }

    f5();
  }
  //endregion 删除选中

  function BackIndexPage(){
    window.location.href = ReturnUrl;
  }
</script>
</body>

</html>