body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:40px;
  width:320px;
  height:580px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-28px;
  top:-28px;
  width:380px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:40px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:128px;
  top:34px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:240px;
  top:30px;
  width:70px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:289px;
  top:42px;
  width:7px;
  height:7px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:285px;
  top:38px;
  width:15px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:256px;
  top:41px;
  width:9px;
  height:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:265px;
  top:42px;
  width:7px;
  height:7px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:249px;
  top:42px;
  width:7px;
  height:7px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:108px;
  width:320px;
  height:430px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u21 {
  position:absolute;
  left:2px;
  top:207px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:537px;
  width:320px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:771px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:50px;
  top:108px;
  width:320px;
  height:162px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:175px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:175px;
}
#u28 {
  position:absolute;
  left:2px;
  top:80px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:146px;
  top:148px;
  width:8px;
  height:8px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:156px;
  top:148px;
  width:8px;
  height:8px;
  opacity:0.5;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:166px;
  top:148px;
  width:8px;
  height:8px;
  opacity:0.5;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:50px;
  top:270px;
  width:80px;
  height:90px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u36 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:74px;
  top:286px;
  width:32px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:66px;
  top:328px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:130px;
  top:270px;
  width:80px;
  height:90px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u42 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:154px;
  top:286px;
  width:32px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:146px;
  top:328px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:210px;
  top:270px;
  width:80px;
  height:90px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u48 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:234px;
  top:286px;
  width:32px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:226px;
  top:328px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:50px;
  top:360px;
  width:80px;
  height:90px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u54 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:74px;
  top:376px;
  width:32px;
  height:32px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:66px;
  top:418px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:130px;
  top:360px;
  width:80px;
  height:90px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u60 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:154px;
  top:376px;
  width:32px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:146px;
  top:418px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:210px;
  top:360px;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u67 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:16px;
  top:58px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:24px;
  top:16px;
  width:32px;
  height:32px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:70px;
  top:548px;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:240px;
  top:0px;
  width:40px;
  height:40px;
  opacity:0.5;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:120px;
  top:0px;
  width:40px;
  height:40px;
  opacity:0.5;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:6px;
  top:40px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099CC;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:125px;
  top:40px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:246px;
  top:40px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:70px;
  top:120px;
  width:116px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:290px;
  top:270px;
  width:80px;
  height:90px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u88 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:322px;
  top:286px;
  width:19px;
  height:32px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:307px;
  top:328px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:290px;
  top:360px;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:91px;
}
#u95 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:16px;
  top:58px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:26px;
  top:16px;
  width:32px;
  height:32px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:210px;
  top:450px;
}
#u100_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u100_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:88px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:89px;
}
#u102 {
  position:absolute;
  left:2px;
  top:36px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:16px;
  top:57px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:24px;
  top:15px;
  width:32px;
  height:32px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:50px;
  top:450px;
}
#u107_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:88px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:89px;
}
#u109 {
  position:absolute;
  left:2px;
  top:36px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:16px;
  top:57px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:24px;
  top:15px;
  width:32px;
  height:32px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:130px;
  top:450px;
}
#u114_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u114_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:88px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:89px;
}
#u116 {
  position:absolute;
  left:2px;
  top:36px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:16px;
  top:57px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:24px;
  top:15px;
  width:32px;
  height:32px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
