<extend name="Base/coach_master"/>

<block name="body">
    <style>
    .time.selected {
        background:#0cc;
        color:#FFF;
    }

    .time.rest {
        background:greenyellow;
        color:red;
    }

    </style>
    <div class="p16-xeet">
        点击日期，然后设置状态
    </div>

    <div class="p22-tx1">
        <div class="row">
            <div class="td week selected" val="1">
                <div class="t1">MON</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="2">
                <div class="t1">TUE</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="3">
                <div class="t1">WED</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="4">
                <div class="t1">THU</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="5">
                <div class="t1">FRI</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="6">
                <div class="t1">SAT</div>
                <div class="frm"></div>
            </div>
            <div class="td week" val="7">
                <div class="t1">SUN</div>
                <div class="frm"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_07">07:00-08:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_08">08:00-09:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_09">09:00-10:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_10">10:00-11:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_11">11:00-12:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_12">12:00-13:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_13">13:00-14:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_14">14:00-15:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_15">15:00-16:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_16">16:00-17:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_17">17:00-18:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_18">18:00-19:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_19">19:00-20:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_20">20:00-21:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_21">21:00-22:00</div>
        <div style="background:#FBFBFB;margin-bottom:5px;border:1px solid #EEE" class="time time_22">22:00-23:00</div>
    </div>

    <div class="p22-tx2">
        <div id="submit_work" class="ssbt s1">
            设为 可上课
        </div>
        <div id="submit_no_work" class="ssbt s2">
            设为 不可上课
        </div>
    </div>


    <div class="clear-15"></div>
    <div class="fullbtn normal cd_hottap" hottap="/home/coach/home">返回</div>
    <div class="bt-distance"></div>
</block>

<block name="script">
    <script>
        $(function() {
            $('.cd_hottap').click(function() {
                location.href = $(this).attr('hottap');
            })

            $('.week').click(function() {
                $('.week').removeClass('selected');

                $(this).addClass('selected');

                $('.time').removeClass('selected');

                loadTemplateTime($(this).attr('val'));
            })

            $('.time').click(function() {
                if ($(this).hasClass('selected'))
                    $(this).removeClass('selected');
                else
                    $(this).addClass('selected');

                if ($(this).hasClass('rest')) {
                    $(this).removeClass('rest');
                }
            })

            $('#submit_work').click(function() {
                saveItem(1);
            })

            $('#submit_no_work').click(function() {
                saveItem(0);
            })

            var default_week = $('.week.selected').attr('val');

            loadTemplateTime(default_week);
        });

        function saveItem(type) {
            var coach_id = localStorage.getItem('user_id');
            var week_num = $('.week.selected').attr('val');
            var times = '';
            var el_times = $('.time.selected');

            $.each(el_times, function() {
                if (times != '')
                    times = times + ',';

                times = times + $(this).html();
            })

            if (type == 1) {
                if (times == '') {
                    alert('必须选择时间段!');

                    return;
                }
            }

            var data = { 'coach_id': coach_id, 'week_num': week_num, 'time': times, 'is_work': type };//
//            alert(JSON.stringify(data));
            fit.ajax({
                url:'/api/saveCoachTemplate',
                data:data,
                success:function(result){
//                    alert(JSON.stringify(result)); //return;
                    $.toastMsg(result.msg);

                    if (result.code == 200) {
                        loadTemplateTime(week_num);
                    }
                }
            });
        }

        function loadTemplateTime(week_num) {
            var coach_id = localStorage.getItem('user_id');

            var data = { 'coach_id': coach_id, 'week_num': week_num };//
//            alert(JSON.stringify(data));
            fit.ajax({
                url:'/api/getTempletConfig',
                data:data,
                success:function(result){
//                    alert(JSON.stringify(result)); //return;
                    if (!result.data) {
                        $('.time').removeClass('rest');
                        $('.time').removeClass('selected');

                        $.toastMsg("没有配置对应工作计划!");

                        return;
                    }

                    if (result.code == 200) {
                        var order_time = result.data[0].time;
                        var order_times = order_time.split(',');

                        if (typeof(result.data[0]) != 'undefined') {
                            if (result.data[0].is_work == 0) {
                                $('.time').addClass('rest');

                                return;
                            }

                            var str_time = result.data[0].time;
                            var times = str_time.split(',');

                            $('.time').removeClass('rest');

                            $.each(times, function() {
                                var t = this.split(':')[0];

                                $('.time').removeClass('rest');
                                $('.time_'+ t).addClass('selected');
                            })
                        }
                    }
                }
            });
        }
    </script>
</block>