<link rel="shortcut icon" href="__PUBLIC__/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__PUBLIC__/statics/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/statics/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/statics/css/iconfont.css" />
<link rel="stylesheet" href="__PUBLIC__/statics/css/global.css" />
<link rel="stylesheet" href="__PUBLIC__/statics/css/frontend.css" />
<script type="text/javascript" src="__PUBLIC__/statics/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/bootstrap.min.js?v=1.01" ></script>
<script type="text/javascript" src="__PUBLIC__/statics/js/global.js"></script>