body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:50px;
  width:320px;
  height:580px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-28px;
  top:-28px;
  width:380px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:118px;
  width:320px;
  height:512px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u3 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:781px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:60px;
  top:50px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u8 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:127px;
  top:34px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:240px;
  top:30px;
  width:70px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:289px;
  top:42px;
  width:7px;
  height:7px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:285px;
  top:38px;
  width:15px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:256px;
  top:41px;
  width:9px;
  height:9px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:265px;
  top:42px;
  width:7px;
  height:7px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:249px;
  top:42px;
  width:7px;
  height:7px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:78px;
  top:140px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:132px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u28 {
  position:absolute;
  left:2px;
  top:30px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:78px;
  top:227px;
}
#u29_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:132px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u33 {
  position:absolute;
  left:2px;
  top:30px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:78px;
  top:314px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:132px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u38 {
  position:absolute;
  left:2px;
  top:30px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:78px;
  top:401px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:132px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:77px;
}
#u43 {
  position:absolute;
  left:2px;
  top:30px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
