<extend name="Base/common"/>


<block name="body">


    <style>
        .solidheadbar {
            height: 400px;
        }

        .solidheadbar .inner {
            padding-top: 140px;
            text-align: center;
        }

        .solidheadbar .t1,
        .solidheadbar .t2 {
            color: #444;
            /*text-shadow: 0 1px 5px rgba(0,0,0,.5);*/
            font-weight: 600;
        }

        .solidheadbar .inner img {
            margin-bottom: 15px;
        }

        .solidheadbar .t2 span {
            /*display:inline-block;
            background:rgba(0,0,0,.15);
            border-radius:100px;
            padding:5px 20px;*/
        }

        .svlist {
            margin: 0;
            padding: 0;
        }

        .svlist li {
            line-height: 25px;
            list-style: circle;
            margin: 0 0 0 20px;
            padding: 0;
        }

        .hdcihtc {
            padding: 15px 15px 15px 70px;
            background: #a9de6e;
            color: #FFF !important;
            border-radius: 5px;
            border-bottom:3px solid rgba(0,0,0,.2);
            display:block;
            position: relative;
        }
        .hdcihtc .leaf {
            display:block;
            position: absolute;
            left:0;
            top:50%;
            height:60px;
            width:60px;
            background:url(/Public/statics/img/filogo.png) center center no-repeat;
            background-size: contain;
            margin-top: -30px;
        }
        .hdcihtc .g1 {
            font-size: 20px;
        }
        .slgblock {
            margin-bottom: 0;
            padding-bottom: 30px;
            border-bottom: 1px dotted rgba(0, 0, 0, .1);
        }
    </style>
    <div class="solidheadbar" style="background-image: url(/Public/statics/img/slide/stock-photo-road-in-to-sky-landscape-400722967.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="inner">
                        <img src="/Public/statics/img/logo.png" width="150" />
                        <!--<div class="t1">天使圈</div>-->
                        <div class="t2">
                            <span>深度孵化，创造价值</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="sunnytct">
                    <span class="t1">关于天使圈</span>
                    <span class="t2">About Us</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slgblock">
                    天使圈是一个跨中美两地，由多位硅谷海归创办的新型超早期高科技孵化器。与传统的孵化器不同，天使圈结合自身的天使基金从理念、产品、盈利模式、销售、市场、融资等角度全方位地帮助创业公司。我们专注于产品，我们专注于数据，我们用硅谷先进的理念和经验，帮助互联网创业公司找到合适自身、可持续、可扩展的成长模式，同时将传统行业资源与互联网思维对接。培养专注于TMT, 移动，教育等领域能为人类社会带来积极影响意义的科技创业公司。
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="sunnytct">
                    <span class="t1">天使圈服务</span>
                    <span class="t2">Service</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <a href="http://www.fi.co" target="_blank" class="hdcihtc">
                    <div class="leaf"></div>
                    <div class="g1">天使圈是FI的中国运营方</div>
                    <div class="g2">通过FI的课程体系培训创始人孵化和筛选项目</div>
                </a>
            </div>
            <div class="col-xs-8">
                <ul class='svlist'>
                    <li>天使圈为中国本土创业公司提供种子期、天使期投资、创业孵化等服务。</li>
                    <li>我们不仅为创业公司提供资金上的帮助，同时也提供技术支持以及商业模式完善辅导和各种创业培训服务。</li>
                    <li>我们的目的是使中国本土创业团队的可用资源更加充足，创业各方面能力更全面，收获更高的创业成功率。</li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div class="slgblock"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="sunnytct">
                    <span class="t1">天使圈的愿景</span>
                    <span class="t2">Vision</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slgblock">
                    我相信互联网会让世界变得更加平，包括天使投资。我们优化创投的过程，让投资更加的高效和方便。我们的愿景是让中国投资人能在早期直接参与硅谷的创业投资，而不仅是跟风或者山寨。
                </div>
            </div>
        </div>
    </div>

</block>