<extend name="Base/common"/>


<block name="body">



    <!-- 页面部分 -->
    <style>
        body {
            background: #f4f4f4;
        }
        .ecproditm .imgdivhod {
            height:180px;
        }
    </style>
    <div style="height:90px;"></div>
    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="sunnytct">
                    <span class="t1">博客</span>
                    <span class="t2">Blog</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399434&idx=1&sn=a444d703975fba9060b6dfde6b6658f9&mpshare=1&scene=1&srcid=1120oTW9MZ746dhe6yrNu4FF#wechat_redirect" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/btcht01.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使动态</div>
                        <div class="ts2">天使圈CEO出席深圳智能硬件创业沙龙活动</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399343&idx=1&sn=454e2338a463597484187af2f6500dcf&mpshare=1&scene=1&srcid=1120W43wjF2i496NLZGCB82Z#wechat_redirect" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/blog/7896cc5.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">获得天使投资支持的5个技巧</div>
                        <div class="ts2">感谢深圳天使投资研究院魏炜为天使圈提供翻译稿</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a href="/article/apply" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/a3945.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">以想法之名，携梦想之行</div>
                        <div class="ts2">天使圈•创业者学院深圳新学期开始招生啦！</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=506915598&idx=1&sn=b2b4b320003f2222f1c9449762026dd2#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/648.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">硅谷项目中国行</div>
                        <div class="ts2">来自硅谷互联网、智能硬件等创业者与深圳风投机构的交流会议</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=506915573&idx=1&sn=9bb8fd28d7366c47cba6e3dfbd0cf83f#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/647.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使圈成都首期落下帷幕</div>
                        <div class="ts2">6学员项目获得1650万元种子投资</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=506915571&idx=1&sn=a78e6d721212917606568a6b21f4e232#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/646.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">创客先锋</div>
                        <div class="ts2">深圳广播“先锋898”携手天使圈特别节目</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=405414754&idx=1&sn=720cc971a6805aeafe277ccd8d413fb5#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/645.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使圈孵化项目获奖</div>
                        <div class="ts2">智能护膝获得Intel众创加速器优秀创业团队奖</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=406893387&idx=1&sn=c1acb3975a08b1ae0d8efc28f9ee0d87#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/644.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">毕业路演邀请函</div>
                        <div class="ts2">天使圈·创业者学院2016 年度成都第一期毕业路演邀请函</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=402459115&idx=1&sn=3929b2dd7b5d0a3cdcd161fa8d0523e6#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/643.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">（新导师）抹茶美妆CEO黄毅</div>
                        <div class="ts2">抹茶美妆CEO黄毅，加入天使圈导师团</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=401395654&idx=1&sn=57c5008420387b09cc953ae4f1fa69d1#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/642.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使圈“魔鬼训练”开班了</div>
                        <div class="ts2">创业主意该怎么形成？</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=401109981&idx=1&sn=9adc3697064802271b4796feaf6b5b80#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/641.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">（新导师）硅谷华人创投之父林富元</div>
                        <div class="ts2">硅谷华人创投之父，加入天使圈导师团</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=237458354&idx=1&sn=3df77b39d650b7e4d98dec9b8e6fdfa8#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/640.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使圈CEO“返乡创业</div>
                        <div class="ts2">华西都市报报道：天使圈CEO“返乡创业</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=232378743&idx=1&sn=0171fffd368c05dea71e336e6e1fc228#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-position:center top;background-image: url(http://angelhere.cn/img/blog/wx_0801.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">天使圈导师的标准</div>
                        <div class="ts2">天使圈·创业者学院：唯有成功的创业者，才有资格成为创业者的导师</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=229482272&idx=1&sn=2734c638d72a46b91ceda9a2688e105b#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/3.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">7月4日,天使圈•创业者学院成都首秀</div>
                        <div class="ts2">坐标成都，天使圈·创业者学院携手天府创业汇首秀</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=228215985&idx=1&sn=5ec5695bb5c4f7398f3ec40297430cdb#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/2.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">创业者学院落户成都</div>
                        <div class="ts2">华西都市报：天使圈-创业者学院落户成都</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=223585596&idx=1&sn=c4e803728d6dde52da9e613fc28bfea0#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/4.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">创业者学院（Founder Institute）深圳首届学员毕业</div>
                        <div class="ts2">创始人Adeo Ressi首次访华，专程到深圳助阵</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=222601102&idx=1&sn=42db4718ae44075836b4e000bc8392c1#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/1.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">4月26日，创业者学院 Founder Institute“毕业项目路演”</div>
                        <div class="ts2">坐标：深圳市软件产业基地，邀请你参加</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=219436110&idx=1&sn=75c7ae0f72a957e4c10e65dfe793ad47#rd" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/blog/6.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">创业者学院深圳第一期毕业路演首秀</div>
                        <div class="ts2">经过四个月的磨砺，创业者学院深圳第一批学员毕业了</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</block>