<extend name="Base/common"/>
<!--
    cst-space：大型slide (START)
-->
<block name="body">

<!--
    cst-space：大型slide (START)
-->
<div id="cst-space">
    <div class="sid-bts lt">
        <span class="iconfont icon-left"></span>
    </div>
    <div class="sid-bts rt">
        <span class="iconfont icon-right"></span>
    </div>
    <div id="btc-lst">
        <div class="itm selected"></div>
        <div class="itm"></div>
    </div>
    <div id="gall-wp">
        <div id="gall-list">
            <div class="gall-itm" style="background-image:url(/Public/statics/img/slide/at03_1.jpg)">
                <style>
                    .hind1,
                    .hind2 {
                        display: inline-block;
                    }

                    .hind1 .wp,
                    .hind2 .wp {
                        padding-top: 250px;
                        padding-left: 80px;
                        color: #777;
                    }

                    .hind2 .wp {
                        padding-top: 180px;
                    }

                    .hind1 .wp .t1,
                    .hind2 .wp .t1 {
                        font-size: 30px;
                        margin-bottom: 30px;
                    }

                    .hind2 .wp .t1 {
                        margin-bottom: 40px;
                    }

                    .hind1 .wp .t2,
                    .hind2 .wp .t2 {
                        font-size: 38px;
                    }

                    .hind2 .wp .t2,
                    .hind2 .wp .t3 {
                        font-size: 20px;
                    }

                    .hind2 .wp .t3 {
                        margin-bottom: 40px;
                    }

                    .hind1 .wp .t3 {
                        padding-top: 50px;
                    }

                    .hind1 .wp .st,
                    .hind2 .wp .st {
                        color: #aaa;
                        font-size: 12px;
                        display: inline-block;
                        padding-bottom: 8px;
                        border-bottom: 2px solid #3ec1f2;
                        margin-right: 10px;
                    }

                    .hind1 .wp .bst,
                    .hind2 .wp .bst {
                        background: #3ec1f2;
                        color: #FFF;
                        display: inline-block;
                        font-size: 12px;
                        height: 38px;
                        line-height: 38px;
                        width: 90px;
                        margin-left: 30px;
                        text-align: center;
                        border-radius: 3px;
                    }

                    .hind2 .wp .bst {
                        background:#FFF;
                        color:#999;
                        font-size: 16px;
                        margin: 0;
                        width: 120px;
                        transition: all .5s;
                    }

                    .hind2 .wp .bst:hover {
                        color:#FFF;
                        background:#3ec1f2;
                    }

                    .hind1 .t2.slide_show,
                    .hind2 .t2.slide_show {
                        transform: translate3d(0, -25px, 0);
                    }

                    .hind1 .t3.slide_show,
                    .hind2 .t3.slide_show,
                    .ykbw_2.slide_show {
                        transform: translate3d(0, -25px, 0);
                    }


                    .hind2 .t4.slide_show,
                    .ykbw_3.slide_show,
                    .ykbw_4.slide_show {
                        transform: translate3d(0, -25px, 0);
                    }

                    .ykbw_1 {
                        font-size: 32px;
                        margin-bottom: 30px;
                    }

                    .ykbw_2 {
                        font-size: 18px;
                        margin-bottom: 50px;
                    }

                    .ykbw_3 {
                        background: #FFF;
                        text-shadow: none;
                        text-align: center;
                        padding: 15px 20px;
                        border-radius: 4px;
                        color: #999;
                        display: inline-block;
                        font-size: 16px;
                        margin-bottom: 65px;
                    }

                    .ykbw_3:hover {
                        color: #FF6600;
                    }
                </style>
                <div style="position:absolute;left:200px;z-index:1;top:240px;color:#FFF;text-shadow:0 0 15px rgba(0,0,0,.4);">
                    <div class="t1 slide_sheet ykbw_1" sid="0">以想法之名，携梦想之行</div>
                    <div class="t2 slide_sheet ykbw_2" sid="1">天使圈•创业者学院深圳新学期开始招生啦！</div>
                    <a href="/article/apply" class="t3 slide_sheet ykbw_3" sid="2">名额有限，抢先报名</a>

                </div>
            </div>

            <div class="gall-itm" style="background-image:url(/Public/statics/img/slide/at10_1.jpg);background-position:right bottom;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hind2">
                                <div class="wp">
                                    <div class="t1 slide_sheet" sid="0">天使圈·创业者学院新学期预报名</div>
                                    <div class="t2 slide_sheet" sid="1">四地报名均已展开</div>
                                    <div class="t3 slide_sheet" sid="2">深圳，成都，广州，沈阳</div>
                                    <div class="t4 slide_sheet" sid="3">
                                        <a href="#" data-toggle="modal" data-target="#newseasonbd" class="bst">现在报名</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--
    cst-space：大型slide (END)
-->

<!-- 页面部分 -->
<style>
    .chtcg01 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
        background: rgb(244, 244, 244);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff', GradientType=0);
        /* IE6-9 */
    }
</style>
<div class="chtcg01" style="padding-top:30px;border-bottom:1px solid #f4f4f4;">
    <div class="ctimgbtt ntm">
        <div class="t1">结构化课程体系</div>
        <div class="t2">STRUCTURED APPROACH</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="ecproditm" style="background:rgba(0,0,0,.015);border:1px solid rgba(0,0,0,.15);">
                    <div style="padding:30px;">
                        <div style="font-size:24px;padding-bottom:20px;border-bottom:1px solid rgba(0,0,0,.05);margin-bottom:20px;">
                            A Structured Approach
                        </div>
                        <div style="line-height:24px;color:#aaa;text-shadow:0 1px 0 rgba(255,255,255,.85);">
                            The best way to learn is by doing. Through a structured, 4-month curriculum of weekly training courses and business-building assignments, you graduate the Founder Institute as the Founder of an enduring company. Plus, sessions are held at night, so you can keep your day job.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ecproditm">
                    <div class="imghod">
                        <img src="/Public/statics/img/slide/st_01.jpg" />
                    </div>
                    <div class="txtcht">
                        <div class="ts1">第一个月</div>
                        <div class="ts2">Idea &amp; Customer Development</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ecproditm">
                    <div class="imghod">
                        <img src="/Public/statics/img/slide/st_02.jpg" />
                    </div>
                    <div class="txtcht">
                        <div class="ts1">第二个月</div>
                        <div class="ts2">Company &amp; Team Formation</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ecproditm">
                    <div class="imghod">
                        <img src="/Public/statics/img/slide/st_03.jpg" />
                    </div>
                    <div class="txtcht">
                        <div class="ts1">第三个月</div>
                        <div class="ts2">Product Development &amp; Distribution</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="ecproditm">
                    <div class="imghod">
                        <img src="/Public/statics/img/slide/st_04.jpg" />
                    </div>
                    <div class="txtcht">
                        <div class="ts1">第四个月</div>
                        <div class="ts2">Go-To-Market, Bootstrapping, &amp; Fundraising</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ctimgbtt">
    <div class="t1">天使圈 · 精选</div>
    <div class="t2">ANGELHERE SELECTION</div>
</div>
<div class="gall3grids">
    <div class="td">
        <div class="inner">
            <div class="imgwrapper">

                <a href="/index/blog" class="crv">
                    <div class="txtct">
                        <div class="t1">
                            <span>最新活动</span>
                        </div>
                        <div class="t2">2016深圳智能硬件创业沙龙</div>
                    </div>
                </a>
                <div class="imghold" style="background-image:url(/Public/statics/img/slide/btcht01.jpg)"></div>
            </div>
        </div>
    </div>
    <div class="td">
        <div class="inner">
            <div class="imgwrapper">

                <a href="/article/curriculum" class="crv">
                    <div class="txtct">
                        <div class="t1">
                            <span>课程体系</span>
                        </div>
                        <div class="t2">让成功有章可循</div>
                    </div>
                </a>
                <div class="imghold" style="background-image:url(/Public/statics/img/slide/at02.jpg)"></div>
            </div>
        </div>
    </div>
    <div class="td">
        <div class="inner">
            <div class="imgwrapper">
                <a href="/index/mentor" class="crv">
                    <div class="txtct">
                        <div class="t1">
                            <span>著名导师</span>
                        </div>
                        <div class="t2">为您介绍天使圈导师，Evernote创始人PhilLibin</div>
                    </div>
                </a>
                <div class="imghold" style="background-image:url(/Public/statics/img/slide/btcht02.jpg)"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newseasonbd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">参加新学期</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <iframe src="http://wx.myoungoo.com/home/exenter" style="width:100%;height:600px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


</block>
<block name="script">
    <script>
        $(document).ready(function(){

        });

    </script>
</block>