<extend name="Base/common"/>


<block name="body">
<div class="solidheadbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="inner">
                    <div class="t1">超强导师团队</div>
                    <div class="t2">聚集50+创业导师为创业者出谋划策</div>
                    <div class="t3">
                        <button class="btn btn-primary" onclick="$('html,body').animate({scrollTop: '300px'}, 300);">查看导师</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 页面部分 -->
<style>
    body {
        background: #f4f4f4;
    }
</style>

<div class="container" style="margin-bottom:20px;">
<div class="row">
    <div class="col-xs-12">
        <div class="sunnytct">
            <span class="t1">导师团队</span>
            <span class="t2">Instructor Team</span>
        </div>
    </div>
</div>
<div class="row">
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399422&idx=1&sn=f7709508f0841f40952ee69ce8ef940a&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%9E%97%E5%AF%8C%E5%85%83.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">林富元</div>
            <div class="ts2">硅谷著名天使投资家</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399388&idx=1&sn=d192536ba63be1ea5f9a1487206f076c&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/phi.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Phil Libin</div>
            <div class="ts2">印象笔记创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/gcl.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">郭春龙</div>
            <div class="ts2">百合网联合创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399436&idx=1&sn=2a2553d55402b8594781153ac8991f7e&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/cxh.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">成晓华</div>
            <div class="ts2">朗科创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/wlj.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">王利杰</div>
            <div class="ts2">PreAngel创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E9%BB%84%E5%8A%B2.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">黄劲</div>
            <div class="ts2">走秀网联合创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399657&idx=1&sn=e137ec9f7010004665cbff456b7ac631&chksm=bd1fd71d8a685e0b091fece5f6b6e01866c3bdd1a7d2e2850b9dc4aed9e78392f9f6cf8ddc1e&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/m/yangjian.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">杨健</div>
            <div class="ts2">大米CEO</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399532&idx=1&sn=01f2d233d4fd1ef828407806e884ead6&chksm=bd1fd7988a685e8e7b873fb9ffa885b0b6211ab8a77ed027ceecec6f9c7b0d5c6e4662c3a31f&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/lcc.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">刘成城</div>
            <div class="ts2">36氪创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/Cyril.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Cyril Ebersweiler</div>
            <div class="ts2">Haxlr8r创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399526&idx=1&sn=54c84be87c93fabc7faea0d10abd6119&chksm=bd1fd7928a685e84cf1f5a992a22c1b652463a44c5b9bcfd220642fa3d451c6dfc0620795cec&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%AE%B7%E6%8C%AF%E5%8D%8E.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">殷振华</div>
            <div class="ts2">优客逸家创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/hy.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">黄毅</div>
            <div class="ts2">抹茶美妆创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399511&idx=1&sn=fb683b840536961f713fcd74f1cd288d&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/zw.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">张威</div>
            <div class="ts2">闺蜜圈创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399635&idx=1&sn=bb640aed02d977ed78f03bc14f452ffb&chksm=bd1fd7278a685e31144968cec00d8b8d835b1d9ce806a28c681dbbb9f9be26be2a8993e9ef04&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/dsy.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">戴赛鹰</div>
            <div class="ts2">三个爸爸CEO</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/xwd.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">谢阗地</div>
            <div class="ts2">雷锋网总经理</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/m/sunwei.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">孙威</div>
            <div class="ts2">海聚科技CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/ap.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Aaron Patzer</div>
            <div class="ts2">Mint 创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/m/maxiaoci.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">马孝慈</div>
            <div class="ts2">沈阳孝慈餐饮CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/Mark-Manning.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Mark Manning</div>
            <div class="ts2">DODOcase创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/mfh.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">马飞虹</div>
            <div class="ts2">新加坡亿胜投资集团<br/>中国首席代表</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/zf.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">朱方</div>
            <div class="ts2">力合清源创投董事长</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst link">
        <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399479&idx=1&sn=e9554dc075c97ab52522f2905d59028a&scene=4#wechat_redirect" class="crv"></a>
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%88%98%E6%99%B6.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">刘晶</div>
            <div class="ts2">Skyroam创始人</div>
        </div>
        <div class='storytag'>导师故事</div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/zb.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">钟波</div>
            <div class="ts2">极米CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/instructor/zwei.jpg)"></div>
        <div class="txtcht">
            <div class="ts1">张伟</div>
            <div class="ts2">博雅互动创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%A7%9A%E5%AE%97%E5%9C%BA.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">姚宗场</div>
            <div class="ts2">泰笛洗涤CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%91%A8%E7%BB%8D%E5%86%9B.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">周绍军</div>
            <div class="ts2">东方富海创投合伙人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%9C%B1%E6%80%9D%E8%A1%8C.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">朱思行</div>
            <div class="ts2">前IDG合伙人，迅游CIO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E8%83%A1%E5%B3%BB%E6%B5%A9.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">胡峻浩</div>
            <div class="ts2">Darma创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E9%AD%8F%E7%BA%AC.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">魏纬</div>
            <div class="ts2">成都铁皮人CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E8%B4%BA%E7%85%A7%E5%B3%B0.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">贺照峰</div>
            <div class="ts2">NEXT创业空间CEO</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%BC%A0%E5%84%86.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">张儆</div>
            <div class="ts2">集合号创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/Ziv%20Gillat.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Ziv Gillat</div>
            <div class="ts2">Eye-Fi联合创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E7%94%B0%E8%99%8E.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">田虎</div>
            <div class="ts2">微票儿成都研发中心总经理</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://angelhere.cn/img/m/xiazhongqun.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">夏忠群</div>
            <div class="ts2">和君咨询合伙人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/Colin-Gu.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Colin Gu</div>
            <div class="ts2">Whale Path联合创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%AE%B5%E6%B1%9F.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">段江</div>
            <div class="ts2">成都恒图科技董事长</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%B1%9F%E5%8B%87.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">江勇</div>
            <div class="ts2">亚马逊成都HRBP</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/Kenny.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Kenny</div>
            <div class="ts2">IoT通信应用专家</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E6%9C%B1%E5%9C%A8%E5%9B%BD.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">朱在国</div>
            <div class="ts2">融创天下董事长</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%90%B4%E6%81%92.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">吴恒</div>
            <div class="ts2">洪泰基金创始合伙人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/Q-Zhao.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">Q Zhao</div>
            <div class="ts2">两颗红豆联合创始人</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E4%BB%A3%E5%B9%BB%E6%88%90.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">代幻成</div>
            <div class="ts2">神州数码智慧城市西南总经理</div>
        </div>
    </div>
</div>
<div class="col-xs-2">
    <div class="ecproditm inst">
        <div class="imgdivhod" style="background-image: url(http://120.24.154.122/tsq/img/mentors/%E5%91%A8%E5%AE%8F%E4%BA%AE.jpg);"></div>
        <div class="txtcht">
            <div class="ts1">周宏亮</div>
            <div class="ts2">中以高投董事总经理</div>
        </div>
    </div>
</div>
</div>
</div>
</block>