<extend name="Base/common"/>


<block name="body">


    <style>
        .solidheadbar {

        }

        .solidheadbar .inner {
            padding-top: 140px;
            text-align: center;
        }

        .solidheadbar .t1,
        .solidheadbar .t2 {
            color: #444;
            /*text-shadow: 0 1px 5px rgba(0,0,0,.5);*/
            font-weight: 600;
        }
    </style>
    <div class="solidheadbar" style="background-image: url(/Public/statics/img/slide/at05_1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="inner">
                        <div class="t1">全球孵化经验</div>
                        <div class="t2">您需要的，我们都已准备好</div>
                        <div class="t3">
                            <button class="btn btn-primary" onclick="$('html,body').animate({scrollTop: '300px'}, 300);">查看孵化项目</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页面部分 -->
    <style>
        body {
            background: #f4f4f4;
        }
        .ecproditm .imgdivhod {
            height:230px;
        }
    </style>

    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="sunnytct">
                    <span class="t1">孵化项目</span>
                    <span class="t2">Project</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.fitshike.com" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-fitshike.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">沸腾时刻</div>
                        <div class="ts2">在线健身，科学灵活</div>
                    </div>

                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.keenbrace.com/v2/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-keen.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">Keenbrace</div>
                        <div class="ts2">WORLD'S SMARTEST FITNESS TRACKER</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.luoye.cc/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/luoye.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">罗爷</div>
                        <div class="ts2">让广大小企业主和老百姓找得到、用得起好律师</div>
                    </div>

                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.1tougu.com/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-diyi.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">第一投顾</div>
                        <div class="ts2">国内顶尖量化投资平台</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.sd-home.cn/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/shsq.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">送货神器</div>
                        <div class="ts2">家具配送的优步滴滴，家具行业的货运物流平台</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.mismall.cn/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-mismall.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">Mismall</div>
                        <div class="ts2">企业移动应用定制</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst link">
                    <a target="_blank" href="http://www.cheesetv.tv/" class="crv"></a>
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-cheesetv.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">芝士电视</div>
                        <div class="ts2">休闲知识，碎片推送</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/laycam.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">铼看科技</div>
                        <div class="ts2">移动视频直播SDK，几行代码让你的app具备直播功能</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/yp.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">亿派智能</div>
                        <div class="ts2">燃气平台IC卡在线支付系统和便携硬件</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/zcwx.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">众筹文学网</div>
                        <div class="ts2">在线小说文创众筹平台，协同创作，众筹梦想，互联网金融与互联网文创的结合</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/ybwl.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">研宝物联</div>
                        <div class="ts2">连锁店灯箱标识、制冷设备、照明系统的远程监控、维护、时间管理，商用大数据物联网</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-suiyan.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">随言</div>
                        <div class="ts2">随地大小言</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="ecproditm inst">
                    <div class="imgdivhod" style="background-image: url(/Public/statics/img/slide/gl-fkzs.jpg);"></div>
                    <div class="txtcht">
                        <div class="ts1">疯狂左手</div>
                        <div class="ts2">美食和互联网第一次如此亲密地接触</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</block>