<extend name="Base/common"/>

<block name="body">

<style>
    body {
        background:#f0f0f0;
    }
</style>
<div style="margin-bottom:30px;height:180px;box-sizing:content-box;padding-top:100px;background:url(/Public/statics/img/grayttc.jpg) center right no-repeat;background-size:cover;">
    <div style="padding:50px 0 0 0;text-align:center;">
        <div style="font-size:28px;margin-bottom:10px;">全球化视野</div>
        <div style="font-size:18px;">助你攀登新的创业高度</div>
    </div>
</div>

<style>

    .chit .bossimg {
        width:160px;
        height:160px;
        border-radius:5px;
        float:left;
        margin-left:30px;
    }
    .chit .bosstxt {
        padding-left:50px;
        line-height:24px;
        float:left;
        width:720px;
    }
    .chit .itmrwp {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

        margin-bottom:30px;
        position:relative;
        padding:40px 20px;
        background-color:#FFF;
        box-shadow:0 2px 15px -4px rgba(0,0,0,.15);
        border-radius:10px;

    }

    .chit .t_n {
        font-size:24px;
        margin-bottom:12px;
    }
    .chit .t_t {
        color:#F60;
        font-weight:bold;
    }
    .chit .t_x {
        padding:10px;
        margin:10px 0 10px 0;
        border-radius:4px;
        background:rgba(0,0,0,.04);
    }
    .chit .t_x li {

        padding:0;
        margin:0;
        margin-left:20px;
    }

    .abouthimlnk {
        display:inline-block;
        padding:5px 10px;
        background:#F60;
        color:#FFF !important;
        border-radius:3px;
        margin-top:15px;
        position:absolute;
        right:30px;
        top:0;
    }
</style>
<div class="chit container">
    <div class="row">

    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_R.JPG"/>
            <div class="bosstxt">
                <div class="t_n">刘唯劼 <span style="color:#aaa;font-size:16px;">Rocky Liu</span></div>
                <div class="t_t">天使圈CEO<br/>创始合伙人</div>
                <ul class="t_x">
                    <li><strong>MBA</strong>，伊利诺伊大学芝加哥分校</li>
                    <li><strong>电子工程学士</strong>，电子科技大学</li>
                </ul>
                <div class="t_o">
                    曾任硅谷多家科技公司产品经理<br/>
                    硅谷互联网投资平台angelhere（天使圈）创始人<br/>
                    互联网健身平台<a href="http://www.fitshike.com" style="color:#F60 !important;" target="_blank">“沸腾时刻”</a>创始人<br/>
                </div>
            </div>
            <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399473&idx=1&sn=16232eaf2510c4af1fa087c01e76cfa4&scene=1&srcid=0913g0kMGjlP4JGEKnGe4LJK#rd" class="abouthimlnk">更多关于刘唯劼</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_P.JPG"/>
            <div class="bosstxt">
                <div class="t_n">古莹飘 <span style="color:#aaa;font-size:16px;">Dean Gu</span></div>
                <div class="t_t">创始合伙人</div>
                <ul class="t_x">
                    <li><strong>EMBA</strong>，西南财经大学西部商学院</li>
                    <li><strong>制造业管理学与日语语言学（双学士学位）</strong>，英国诺丁汉大学</li>
                </ul>
                <div class="t_o">
                    深圳市琴江投资创始合伙人<br/>
                    Easy Touch Co., Ltd创始人<br/>
                    深圳市畅想服饰有限公司,伊梵黎品牌管理有限公司(Efenlee/ECS&KCS)联合创始人<br/>
                    香港巨华有限公司董事长
                </div>
            </div>
            <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzIwMzY3NQ==&mid=2654399406&idx=1&sn=6834a6b49402080dfc15ab2f08194a85&scene=1&srcid=0913cTQSD5J5RmrOKmYS3JIy#rd" class="abouthimlnk">更多关于古莹飘</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_F.JPG"/>
            <div class="bosstxt">
                <div class="t_n">周剑锋 <span style="color:#aaa;font-size:16px;">Jeff Chow</span></div>
                <div class="t_t">创始合伙人</div>
                <ul class="t_x">
                    <li><strong>MBA</strong>，伊利诺伊大学芝加哥分校</li>
                </ul>
                <div class="t_o">
                    陆宇投资集团董事副总裁<br/>
                    广东省客家青年商会常务副秘书长<br/>
                    深圳恒昌基业投资有限公司董事长
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_WJ.jpg"/>
            <div class="bosstxt">
                <div class="t_n">王伽</div>
                <div class="t_t">创始合伙人</div>
                <ul class="t_x">
                    <li><strong>MBA</strong>，清华大学</li>
                </ul>
                <div class="t_o">
                    深圳前海伽德资本管理有限公司董事长<br/>
                    深圳市金桥山实业有限公司总经理
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_MXG.jpg"/>
            <div class="bosstxt">
                <div class="t_n">马晓光 <span style="color:#aaa;font-size:16px;">Tiger Ma</span></div>
                <div class="t_t">合伙人</div>
                <ul class="t_x">
                    <li><strong>哲学博士</strong>，加州大学伯克利分校</li>
                </ul>
                <div class="t_o">
                    海禾资本创始管理合伙人<br/>
                    国家“千人计划”特聘专家<br/>
                    北京大学（兼职）教授<br/>
                    上海交通大学（兼职）研究院<br/>
                    中美绿色能源促进会副会长<br/>
                    中国复合材料协会理事<br/>
                    中国石墨烯产业联盟理事
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_M.jpg"/>
            <div class="bosstxt">
                <div class="t_n">马飞虹 <span style="color:#aaa;font-size:16px;">Frank Ma</span></div>
                <div class="t_t">顾问</div>
                <ul class="t_x">
                    <li><strong>MBA</strong>，新加坡国立大学</li>
                    <li><strong>精密仪器专业学士</strong>，清华大学</li>
                </ul>
                <div class="t_o">
                    新加坡亿胜投资集团中国首席代表<br/>
                    曾任新加坡IPC集团中国首席代表<br/>
                    曾任美国汉能投资集团合伙人<br/>
                    曾任清华力合创投副总裁
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/IMG_LYH.jpg"/>
            <div class="bosstxt">
                <div class="t_n">刘艳辉 <span style="color:#aaa;font-size:16px;">Harry</span></div>
                <div class="t_t">权益合伙人</div>
                <ul class="t_x">
                    <li><strong>投资专业学士</strong>，中南财经政法大学</li>
                </ul>
                <div class="t_o">
                    九鼎投资华南分公司总经理
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/texture.png"/>
            <div class="bosstxt">
                <div class="t_n">叶振辉</div>
                <div class="t_t">权益合伙人</div>
                <ul class="t_x">
                    <li><strong></strong></li>
                </ul>
                <div class="t_o">
                    <br/>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="itmrwp">
            <img class="bossimg" src="/Public/statics/img/slide/team/texture.png"/>
            <div class="bosstxt">

                <div class="t_n">彭冠华</div>
                <div class="t_t">权益合伙人</div>
                <ul class="t_x">
                    <li><strong>商业经济硕士</strong>，伦敦城市大学</li>
                    <li><strong>金融学士</strong>，深圳大学</li>
                </ul>
                <div class="t_o">
                    深圳弘桐投资管理有限公司投资总监<br/>
                    深圳市恩桐投资管理有限公司投资总监<br/>
                    深圳市安宏基房地产开发有限公司董事<br/>
                    曾任安永华明会计师事务所特殊普通合伙人
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
</div>

</block>