body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:40px;
  width:320px;
  height:580px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-28px;
  top:-28px;
  width:380px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:40px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u4 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:112px;
  top:34px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:240px;
  top:30px;
  width:70px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:289px;
  top:42px;
  width:7px;
  height:7px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:285px;
  top:38px;
  width:15px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:256px;
  top:41px;
  width:9px;
  height:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:265px;
  top:42px;
  width:7px;
  height:7px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:249px;
  top:42px;
  width:7px;
  height:7px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:108px;
  width:320px;
  height:462px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:462px;
}
#u21 {
  position:absolute;
  left:2px;
  top:223px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:50px;
  top:771px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:50px;
  top:560px;
  width:320px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:55px;
  top:108px;
  width:310px;
  height:452px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:452px;
}
#u27 {
  position:absolute;
  left:2px;
  top:218px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:115px;
  top:170px;
  visibility:hidden;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:-15px;
  top:-13px;
  width:230px;
  height:230px;
}
#u30 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:30px;
  width:160px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:20px;
  top:65px;
  width:160px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:20px;
  top:100px;
  width:160px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:20px;
  top:135px;
  width:160px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:400px;
  top:180px;
  width:190px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:240px;
  height:170px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:186px;
  word-wrap:break-word;
}
