<layout name="layout" />

<div class="container">
    <div class="aboutmain">
        <div class="neirong">
            <div class="article">
                <h3>{$article.title}</h3>
                <h4>日期：{$article['t']|date="Y-m-d H:i:s",###}</h4>
                {$article.content}
            </div>
            <div class="lianxi">
                <div class="gonggao">成为供稿人</div>
                <div class="disanf">
                    <ul>                        
                    	<li><a target= _blank href="https://weibo.com/u/6468344436?refer_flag=1001030101_&is_all=1"><img src="__IMG__/guangpu_3.jpg"></a></li>
                        <li><a href="#"><img src="__IMG__/guangpu_1.jpg"></a></li>
                        <li class="disanfli"><a href="#" class="theme-login"><img src="__IMG__/guangpu_2.jpg"></a></li>                    
                    </ul> 
                </div>
                <div class="fashi">
                    <h1>联系方式</h1>
                    <p>0755-26917851</p>
                    <p>kefu@mengxiangguangpu.com</p>
                    <p>深圳市南山区马家龙一街CTB创意工厂107室</p>
                    <p><a style="border:1px solid #333;margin-top: 30px" href="javascript:history.go(-1);" class="btn btn-default">返回上一页</a></p>
                </div>
            </div>	
        </div>
    </div>
</div>