<extend name="Base/common"/>

<block name="body">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">教练管理</h3>
            </div>
            <div class="am-modal-hd">{$title.text}</div>
            <div class="am-modal-bd">
                <div style="width: 60%;margin: auto;">
                    <div class="input-group">
                        <span class="input-group-addon">姓名</span>
                        <input type="text" class="form-control" placeholder="请输入姓名..." name="name_field" id="name_field" value="{$data['coach'][0].Name}" maxlength="50">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">级别</span>
                        <input type="text" class="form-control" placeholder="请输入级别..." name="title_field" id="title_field" value="{$data['coach_config'][0].title}" maxlength="100">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">标签</span>
                        <input type="text" class="form-control" placeholder="请输入标签..." name="label_field" id="label_field" value="{$data[coach_config][0].label}" maxlength="100">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">价格</span>
                        <input type="text" class="form-control" placeholder="请输入价格..." name="price_field" id="price_field" value="{$data[coach_config][0].price}" maxlength="100">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">vip价格</span>
                        <input type="text" class="form-control" placeholder="请输入vip价格..." name="price_vip1_field" id="price_vip1_field" value="{$data[coach_config][0].price_vip1}" maxlength="100">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">展示图片</span>
                        <input type="text" class="form-control" readonly name="tmp_show" id="tmp_show" value="请点击选择上传的图片..." >
                    </div>
                    <div class="input-group">
                        <?php if ($data['coach_config'][0]['show_pic']) :?>
                            <img id="pre-image" src="<?php echo UPLOAD_DIR . $data['coach_config'][0]['show_pic'] ?>" style="width:500px; height: 600px" />
                        <?php else :?>
                            <img id="pre-image" style="width:500px; height: 600px" />
                        <?php endif; ?>
                        <input type="file"  accept="image/*" id="upload_show_pic" style="display: none">
                        <input id="old_show_pic" name="old_show_pic" type="text" value="{$data['coach_config'][0]['show_pic']}" style="display: none">
                        <input id="show_pic_field" name="show_pic_field" type="text" value="" style="display: none">
                        <canvas id="upload-canvas" style="display:none"></canvas>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">详细大图</span>
                        <input type="text" class="form-control" readonly name="tmp_show_big" id="tmp_show_big" value="请点击选择上传的图片..." >
                    </div>
                    <div class="input-group">
                        <?php if ($data['coach_config'][0]['show_pic_big']) :?>
                        <img id="pre-image-big" src="<?php echo UPLOAD_DIR . $data['coach_config'][0]['show_pic_big'] ?>" style="width:1500; height: 1000px" />
                        <?php else :?>
                        <img id="pre-image-big" style="width:1500px; height: 1000px" />
                        <?php endif; ?>
                        <input type="file"  accept="image/*" id="upload_show_pic_big" style="display: none">
                        <input id="old_show_pic_big" name="old_show_pic_big" type="text" value="{$data['coach_config'][0]['show_pic_big']}" style="display: none">
                        <input id="show_pic_field_big" name="show_pic_field_big" type="text" value="" style="display: none">
                        <canvas id="upload-canvas-big" style="display:none"></canvas>
                    </div>
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">课程描述</span>-->
                        <!--<script type="text/plain" id="editor_remark" name="editor_remark" style="width:100%;height:240px;">-->
                            <!--<p>请输入课程描述</p>-->
                        <!--</script>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="am-modal-footer">
                <input type="hidden" id="coach_id" value="{$data['coach'][0]['id']}">
                <span id="btn_save" class="am-modal-btn">提交</span>
                <span id="btn_return" class="am-modal-btn" >返回</span>
            </div>
        </div><!-- /.box -->
    </div>
</block>

<block name="style">
    <style>
        .input-group{
            margin-top: 20px;
        }
    </style>
</block>

<block name="script">
    <script>
        var tmp_pic = null;

        $(function(){
            //实例化编辑器
//            var um = UM.getEditor('editor_remark');
//
//            um.addListener('blur',function(){
//                $('#focush2').html('编辑器失去焦点了')
//            });
//            um.addListener('focus',function(){
//                $('#focush2').html('')
//            });
//
//            um.setContent('{$data[lesson].remark}');

            $('#tmp_show').click(function() {
                $('#upload_show_pic').click();
            })

            $('#tmp_show_big').click(function() {
                $('#upload_show_pic_big').click();
            })

            //file控件选择改变 同步修改页面上image标签
            $('#upload_show_pic').change(function () {
                var file = this.files[0];

                tmp_pic = file;

                ImageOpt(file, 'pre-image', null, getImageCode);
            });

            $('#upload_show_pic_big').change(function () {
                var file = this.files[0];

                tmp_pic = file;

                ImageOpt(file, 'pre-image-big', null, getBigImageCode);
            });

            $('#btn_save').click(function() {
                saveItem();
            })

            $('#btn_return').click(function(){
                location.href = '/admin/manage/coach_list';
            });
        });

        function saveItem() {
            var id = $('#coach_id').val();

            var name = $('#name_field').val();
            var price = $('#price_field').val();
            var price_vip1 = $('#price_vip1_field').val();
            var title = $('#title_field').val();
            var label = $('#label_field').val();
            var old_show_pic = $('#old_show_pic').val();
            var show_pic = $('#show_pic_field').val();
            var old_show_pic_big = $('#old_show_pic_big').val();
            var show_pic_big = $('#show_pic_field_big').val();

            var data = { 'id':id, 'name':name, 'price':price, 'price_vip1':price_vip1, 'title':title, 'label':label, 'old_show_pic':old_show_pic, 'show_pic':show_pic, 'old_show_pic_big': old_show_pic_big, 'show_pic_big': show_pic_big };

//            alert(JSON.stringify(data));
//            return;

            if (confirm('是否保存该教练信息?')) {
                fit.ajax({
                    url:'/admin/manage/save_coach',
                    data:data,
                    success:function(result){
//                        alert(JSON.stringify(result));
                        alert(result.msg);

                        if (result.code == 200) {
                            location.href = '/admin/manage/coach_edit?id=' + result.data;
                        }
                    }
                });
            }
        }

        function getImageCode() {
            var image = document.getElementById('pre-image');
            var is_def = false;

            EXIF.getData(image, function () {
                if (EXIF.getTag(image, 'Orientation') == 6) {
                    is_def = true;
                }
                //使用插件初始化图片
                var mpImg = new MegaPixImage(tmp_pic);
                var option = null;

                if (is_def)
                    option = { maxWidth: image.width * 2, maxHeight: image.height * 2, orientation: 6 };
                else
                    option = { maxWidth: image.width * 2, maxHeight: image.height * 2, quality: 0.5 };

                var canvas = document.getElementById('upload-canvas');

                mpImg.render(canvas, option, function () {
                    var base64 = canvas.toDataURL('image/jpeg');

                    $('#show_pic_field').val(base64);

//                    alert($('#show_pic_field').val());
                });
            });
        }

        function getBigImageCode() {
            var image = document.getElementById('pre-image-big');
            var is_def = false;

            EXIF.getData(image, function () {
                if (EXIF.getTag(image, 'Orientation') == 6) {
                    is_def = true;
                }
                //使用插件初始化图片
                var mpImg = new MegaPixImage(tmp_pic);
                var option = null;

                if (is_def)
                    option = { maxWidth: image.width * 2, maxHeight: image.height * 2, orientation: 6 };
                else
                    option = { maxWidth: image.width * 2, maxHeight: image.height * 2, quality: 0.5 };

                var canvas = document.getElementById('upload-canvas-big');

                mpImg.render(canvas, option, function () {
                    var base64 = canvas.toDataURL('image/jpeg');

                    $('#show_pic_field_big').val(base64);

//                    alert($('#show_pic_field_big').val());
                });
            });
        }
    </script>
</block>