<extend name="Base/common"/>

<block name="body">

    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">意见反馈详情</h3>
            </div>
            <div class="am-modal-hd">{$title.text}</div>
            <div class="am-modal-bd">
                <div style="width: 60%;margin: auto;">
                    <div class="input-group">
                        <span class="input-group-addon">车主姓名</span>
                        <input type="text" class="form-control" readonly id="txt_user_name" value="{$data['item'].user_name}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">联系人</span>
                        <input type="text" class="form-control" readonly id="txt_nick_name" value="{$data['item'].nick_name}">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">车型名称</span>
                    <input type="text" class="form-control" readonly id="txt_car_name" value="{$data['item'].car_name}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">sn号</span>
                        <input type="text" class="form-control" readonly id="txt_car_sn" value="{$data['item'].car_sn}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">车架号</span>
                        <input type="text" class="form-control" readonly id="txt_car_frame_no" value="{$data['item'].car_frame_no}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">电机号</span>
                        <input type="text" class="form-control" readonly id="txt_car_engine_no" value="{$data['item'].car_engine_no}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">中控版本</span>
                        <input type="text" class="form-control" readonly id="txt_ctl_ver" value="{$data['item'].ctl_ver}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">标题</span>
                        <input type="text" class="form-control" readonly id="txt_title" value="{$data['item'].title}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">内容</span>
                        <input type="hidden" id="content" name="content" value="<?php echo $data['item']['content'] ?>">
                        <script type="text/plain" id="editor_content" name="editor_content" style="width:1000px;height:240px;">

                        </script>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">处理人</span>
                        <input type="text" class="form-control" readonly id="txt_inputer" value="admin">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">处理时间</span>
                        <input type="text" class="form-control" id="txt_result_at" readonly value="{$data['item'].result_at}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">处理意见</span>
                        <input type="text" class="form-control" id="txt_result" value="{$data['item'].result}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">备注</span>
                        <input type="text" class="form-control" id="txt_remark" value="{$data['item'].remark}">
                    </div>
                </div>
            </div>
            <div class="am-modal-footer">
                <input type="hidden" id="id" value="{$data.item.Id}">
                <span id="btn_save" class="am-modal-btn" >提交</span>
                <span id="btn_return" class="am-modal-btn" >返回</span>
            </div>
        </div><!-- /.box -->
    </div>
</block>

<block name="style">
    <style>
        .input-group{
            margin-top: 20px;
        }
    </style>
</block>

<block name="script">
    <script>
        $(function(){
            $('#btn_save').click(function() {
                var feedback = {};

                feedback.id = $('#id').val();
                feedback.inputer = $('#txt_inputer').val();
                feedback.result = $('#txt_result').val();
                feedback.remark = $('#txt_remark').val();

                var data = {'feedback': feedback };
                console.log(JSON.stringify(data));
                fit.ajax({
                    url:'/manage/feedback_save',
                    data:data,
                    success:function(result){
                        alert(result.msg);

                        window.location.reload();
                    }
                });
            })

            $('#btn_return').click(function(){
                history.go(-1);
            });

            //实例化编辑器
            var um = UM.getEditor('editor_content', {readonly : true});

            um.addListener('blur',function(){
                $('#focush2').html('编辑器失去焦点了')
            });
            um.addListener('focus',function(){
                $('#focush2').html('')
            });

            um.setContent($('#content').val());
        });
    </script>
</block>