<extend name="Base/common"/>

<block name="body">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">球场配置</h3>
            </div>
            <div class="am-modal-hd">球场配置</div>
            <div class="am-modal-bd">
                <div style="width: 60%;margin: auto;">
                    <div class="input-group">
                        <span class="input-group-addon">球场</span>
                        <select id="lesson_list" class="form-control">
                            <?php foreach ($data['lesson'] as $itm) :?>
                                <?php if ($data['lesson_config']['lesson_id'] == $itm['id']) :?>
                                    <option value="<?php echo $itm['id'] ?>" selected="selected"><?php echo $itm['name'] ?></option>
                                <?php else :?>
                                    <option value="<?php echo $itm['id'] ?>"><?php echo $itm['name'] ?></option>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">开课日期</span>
                        <input type="date" class="form-control" placeholder="请输入开始时间..." name="run_date_field" id="run_date_field" value="{$data['lesson_config'].run_date}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">结束日期</span>
                        <input type="date" class="form-control" placeholder="请输入结束时间..." name="end_date_field" id="end_date_field" value="{$data['lesson_config'].end_date}">
                    </div>
                    <div class="input-group" style="display: none">
                        <span class="input-group-addon">星期</span>
                        <select id="week"  class="form-control">
                            <option value="1" selected="selected">星期一</option>;
                            <option value="2">星期二</option>;
                            <option value="3">星期三</option>;
                            <option value="4">星期四</option>;
                            <option value="5">星期五</option>;
                            <option value="6">星期六</option>;
                            <option value="7">星期七</option>;
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">开始时间</span>
                        <input type="time" class="form-control" min="8" placeholder="请输入开始时间..." name="start_time_field" id="start_time_field" value="{$data['lesson_config'].start_time}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">结束时间</span>
                        <input type="time" class="form-control" max="24" placeholder="请输入结束时间..." name="end_time_field" id="end_time_field" value="{$data['lesson_config'].end_time}">
                    </div>
                    <div class="input-group" style="display: none">
                        <span class="input-group-addon">试练价格</span>
                        <input type="number" class="form-control" min="1" placeholder="请输入试练价格." name="price_field" id="price_field" value="{$data['lesson_config'].price}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">vip价格</span>
                        <input type="number" class="form-control" max="1" placeholder="请输入vip价格..." name="vip_price_1_field" id="vip_price_1_field" value="{$data['lesson_config'].vip_price_1}">
                    </div>
                    <div class="input-group" style="display: none">
                        <span class="input-group-addon">最大人数</span>
                        <input type="number" class="form-control" max="3" placeholder="请输入最大人数..." name="max_count_field" id="max_count_field" value="300">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        <select id="is_show" class="form-control">
                            <?php if ($data['lesson_config']['is_show'] == '1') :?>
                                <option value="1" selected="selected">显示</option>
                                <option value="0">不显示</option>
                            <?php else :?>
                                <option value="1">显示</option>
                                <option value="0" selected="selected">不显示</option>
                            <?php endif; ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="am-modal-footer">
                <input type="hidden" id="lesson_config_id" value="{$data['lesson_config'].id}">
                <span id="btn_save" class="am-modal-btn">提交</span>
                <span id="btn_return" class="am-modal-btn" >返回</span>
            </div>
        </div><!-- /.box -->
    </div>
</block>

<block name="style">
    <style>
        .input-group{
            margin-top: 20px;
        }
    </style>
</block>

<block name="script">
    <script>
        $(function(){
            $('#btn_save').click(function() {
                saveItem();
            })

            $('#btn_return').click(function(){
                location.href = '/admin/manage/lesson_config_list';
            });
        });

        function saveItem() {
            var id = $('#lesson_config_id').val();

            var run_date = $('#run_date_field').val();
            var end_date = $('#end_date_field').val();

            var tmp_date = new Date(run_date);

            var week_num = tmp_date.getDay();

            if (week_num == 0)
                week_num = 7;

            var lesson_id = $('#lesson_list').val();
            var start_time = $('#start_time_field').val();
            var end_time = $('#end_time_field').val();
            var price = $('#price_field').val();
            var vip_price_1 = $('#vip_price_1_field').val();
            var max_count = $('#max_count_field').val();
            var is_show = $('#is_show').val();

            if (!run_date) {
                alert('请输入授课日期!');

                return;
            }

            if (!start_time) {
                alert('请输入开始时间!');

                return;
            }

            if (!end_time) {
                alert('请输入结束时间!')

                return;
            }

//            if (!price) {
//                alert('请输入试练价格!')
//
//                return;
//            }

            if (!vip_price_1) {
                alert('请输入vip价格!')

                return;
            }

            var data = { 'id':id, 'run_date': run_date, 'end_date': end_date,  'lesson_id':lesson_id, 'start_time': start_time, 'end_time': end_time, 'price': price, 'vip_price_1': vip_price_1, 'max_count': max_count, 'week_num': week_num, 'is_show': is_show };

//            alert(JSON.stringify(data));
//            return;

            if (confirm('是否保存该课程配置?')) {
                fit.ajax({
                    url:'/admin/manage/save_lesson_config',
                    data:data,
                    success:function(result){
                        alert(result.msg);

                        if (result.code == 200) {
                            location.href = '/admin/manage/lesson_config_list';
                        }
                    }
                });
            }
        }
    </script>
</block>