<extend name="Base/common"/>

<block name="body">

    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">素材类型编辑</h3>
            </div>
            <div class="am-modal-hd">{$title.text}</div>
            <div class="am-modal-bd">
                <div style="width: 60%;margin: auto;">
                    <div class="input-group">
                        <span class="input-group-addon">素材类型名称</span>
                        <input type="text" class="form-control" placeholder="请输入素材名称..." name="text_field" id="text_field" value="{$data['item'].text}" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="am-modal-footer">
                <input type="hidden" id="id" value="{$data.item.id}">
                <span id="btn_save" class="am-modal-btn">提交</span>
                <span id="btn_return" class="am-modal-btn" >返回</span>
            </div>
        </div><!-- /.box -->
    </div>
</block>

<block name="style">
    <style>
        .input-group{
            margin-top: 20px;
        }
    </style>
</block>

<block name="script">
    <script>
        $(function(){
            $('#btn_save').click(function() {
                saveItem();
            })

            $('#btn_return').click(function(){
                location.href = '/manage/source_class_list';
            });
        });

        function saveItem() {
            var id = $('#id').val();
            var text = $('#text_field').val();

            var data = { 'id': id, 'text':text };

//            alert(JSON.stringify(data));
//            return;

            if (confirm('是否保存该素材?')) {
                fit.ajax({
                    url:'/manage/source_class_save',
                    data:data,
                    success:function(result){
//                        alert(JSON.stringify(result));
                        alert(result.msg);

                        if (result.code == 200) {
                            location.href = '/manage/source_class_edit?id=' + result.data;
                        }
                    }
                });
            }
        }
    </script>
</block>