<extend name="Base/common"/>

<block name="body">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">vip类型管理</h3>
            </div>
            <div class="am-modal-hd">{$title.text}</div>
            <div class="am-modal-bd">
                <div style="width: 60%;margin: auto;">
                    <div class="input-group">
                        <span class="input-group-addon">中文名称</span>
                        <input type="text" class="form-control" placeholder="请输入vip类型名称..." name="name_field" id="name_field" value="{$data[vip_type].name}" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="am-modal-footer">
                <input type="hidden" id="vip_type_id" value="{$data['vip_type']['id']}">
                <span id="btn_save" class="am-modal-btn">提交</span>
                <span id="btn_return" class="am-modal-btn" >返回</span>
            </div>
        </div><!-- /.box -->
    </div>
</block>

<block name="style">
    <style>
        .input-group{
            margin-top: 20px;
        }
    </style>
</block>

<block name="script">
    <script>
        var tmp_pic = null;

        $(function(){
            $('#btn_save').click(function() {
                saveItem();
            })

            $('#btn_return').click(function(){
                location.href = '/admin/manage/vip_list';
            });
        });

        function saveItem() {
            var id = $('#vip_type_id').val();

            var name = $('#name_field').val();

            var data = { 'id':id, 'name':name };

//            alert(JSON.stringify(data));
//            return;

            if (confirm('是否保存该vip类型?')) {
                fit.ajax({
                    url:'/admin/manage/save_vip_type',
                    data:data,
                    success:function(result){
                        alert(result.msg);

                        if (result.code == 200) {
                            location.href = '/admin/manage/vip_type_edit?id=' + result.data;
                        }
                    }
                });
            }
        }

    </script>
</block>