<layout name="layout" />
<div class="container">   
    <div class="splist pull-right">
        <div class="row" style="padding-top:30px;padding-bottom:45px;">
            <volist name="allvideo" id="vo" key="k">
                <div class="col-xs-6 col-sm-3 sppic">
<!--                    <center>{$vo['t']|date="Y-m-d",###}</center>-->
                    <a href="{:U('Index/detail?id='.$vo['aid'])}" class="sp-a">
                        <div class="preview" style="background:url('{$vo.thumbnail}') no-repeat; background-size:cover;"></div>
                        <div class="icovido"><img src="__IMG__/ico.png"></div>
                    </a>
                    <h3>{$vo.title}</h3>
                    <span>{$vo.description}</span>
                </div>
            </volist>    
        </div>
    </div>    
</div>