<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" action="{:U('activity_venues_update')}" method="post">
                            <input type="hidden" name="id" value="{$item.id}" id="id"/>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 场次名称：</label>
                                <div class="col-sm-9">
                                    <input type="text" name="title" id="title" placeholder="请填写场次名称"
                                           class="col-xs-10 col-sm-5" value="{$item.title}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">必填项</span>
                            </span>
                                </div>
                            </div>

                            <input type="hidden" name="activity_id" id="activity_id"
                                   value="{$activity_id}">

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-0">
                                    积分条件： </label>
                                <div class="col-sm-9">
                                    <select id="integral_state" name="integral_state" class="col-xs-4 col-sm-4">
                                        <?php foreach ($integral_state as $itm) :?>
                                        <?php if ($itm['id'] == $item['integral_state']) :?>
                                        <option value="<?php echo $itm['id'] ?>" selected><?php echo $itm['name'] ?></option>
                                        <?php else :?>
                                        <option value="<?php echo $itm['id'] ?>"><?php echo $itm['name'] ?></option>
                                        <?php endif; ?>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 积分：</label>
                                <div class="col-sm-9">
                                    <input type="text" name="integral" id="integral" placeholder="请填写积分"
                                           class="col-xs-10 col-sm-5" value="{$item.integral}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">必填项</span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 场次开始时间：</label>
                                <div class="col-sm-9">
                                    <input type="text" name="start_time" id="start_time" placeholder="请填写开始时间"
                                           class="col-xs-10 col-sm-5" value="{$item.start_time}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">请按照0000-00-00 00:00:00输入</span>
                            </span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="name"> 场次结束时间：</label>
                                <div class="col-sm-9">
                                    <input type="text" name="ending_time" id="ending_time" placeholder="请填写结束"
                                           class="col-xs-10 col-sm-5" value="{$item.ending_time}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle">请按照0000-00-00 00:00:00输入</span>
                            </span>
                                </div>
                            </div>



                            <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp;
                                <a class="btn btn-info" href="{:U('activity_venues',array('id'=>$activity_id))}" value="">返回</a>
                                &nbsp; &nbsp; &nbsp;
                                &nbsp; &nbsp; &nbsp




                            </div>
                        </form>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
        var editor = KindEditor.create('textarea[name="content"]', {
            uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
            fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
    })
</script>
</body>
</html>