body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:40px;
  width:320px;
  height:580px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:-28px;
  top:-28px;
  width:380px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:108px;
  width:320px;
  height:430px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:430px;
}
#u3 {
  position:absolute;
  left:2px;
  top:207px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:537px;
  width:320px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:771px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:470px;
  width:45px;
  height:45px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:474px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:130px;
  top:496px;
  width:121px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:55px;
  top:160px;
  width:310px;
  height:370px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:370px;
}
#u15 {
  position:absolute;
  left:2px;
  top:177px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:40px;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:128px;
  top:34px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:240px;
  top:30px;
  width:70px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:289px;
  top:42px;
  width:7px;
  height:7px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:285px;
  top:38px;
  width:15px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:256px;
  top:41px;
  width:9px;
  height:9px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:265px;
  top:42px;
  width:7px;
  height:7px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:249px;
  top:42px;
  width:7px;
  height:7px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:548px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  opacity:0.5;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:240px;
  top:0px;
  width:40px;
  height:40px;
  opacity:0.5;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:120px;
  top:0px;
  width:40px;
  height:40px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:6px;
  top:40px;
  width:29px;
  height:20px;
  opacity:0.5;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:125px;
  top:40px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099CC;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:246px;
  top:40px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:50px;
  top:110px;
  width:320px;
  height:85px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:85px;
}
#u48 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
