@{
    Layout = "~/Views/Shared/_Manage.cshtml";
}
@{
    ViewBag.Title = "教练申请";
}
<div class="main-body-relative fix">
    <div class="fix-wxp">
        <div class="fix-wxp-toolbar clearfix">
            <div class="fix-wxp-toolbar-wp">
                <a href="/manage/coachlist" class="breadcrumb-prev">教练列表</a>
                <span class="breadcrumb-prev">/</span>
                <span class="breadcrumb-t1">教练申请</span>
            </div>
        </div>
        <div class="fix-tb">
            <div class="fix-tb-ct-b1">
                <div class="fix-tb-header">
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            姓名
                        </div>
                    </div>
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            微信昵称
                        </div>
                    </div>
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            性别
                        </div>
                    </div>
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            年龄
                        </div>
                    </div>
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            手机号
                        </div>
                    </div>
                    <div class="fix-tb-header-cell">
                        <div class="th">
                            审批
                        </div>
                    </div>
                </div>
            </div>
            <div class="fix-tb-ct-b2">
                <div class="fix-tb-body">
                    <div class="fix-tb-body-row">
                        <div class="fix-tb-body-cell tc">
                            <div class="td">刘大山</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">Happylau</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">男</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">28</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">13877463748</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">
                                <a href="#" class="listoperbtn">通过</a>
                                <a href="#" class="listoperbtn danger">拒绝</a>
                            </div>
                        </div>

                    </div>

                    <div class="fix-tb-body-row">
                        <div class="fix-tb-body-cell tc">
                            <div class="td">张二蛋</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">Happylau</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">女</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">24</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">13738448372</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">
                                <a href="#" class="listoperbtn">通过</a>
                                <a href="#" class="listoperbtn danger">拒绝</a>
                            </div>
                        </div>

                    </div>

                    <div class="fix-tb-body-row">
                        <div class="fix-tb-body-cell tc">
                            <div class="td">张二蛋</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">Happylau</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">女</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">24</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">13738448372</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">
                                <a href="#" class="listoperbtn">通过</a>
                                <a href="#" class="listoperbtn danger">拒绝</a>
                            </div>
                        </div>

                    </div>

                    <div class="fix-tb-body-row">
                        <div class="fix-tb-body-cell tc">
                            <div class="td">张二蛋</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">Happylau</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">女</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">24</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">13738448372</div>
                        </div>
                        <div class="fix-tb-body-cell tc">
                            <div class="td">
                                <a href="#" class="listoperbtn">通过</a>
                                <a href="#" class="listoperbtn danger">拒绝</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


@*<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">学员信息</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->*@


<!-- /container -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".nano").nanoScroller();
		$.readjustWidth();
		$(window).resize(function(){
			$.readjustWidth();
        });

		$(".fix-tb-ct-b2").scroll(function(e) {
            var slt = $(".fix-tb-ct-b2").scrollLeft();
			$(this).closest('.fix-tb').find('.fix-tb-header').css('left', '-' + slt + 'px');
        });
	});
</script>