@{
    Layout = "~/Views/Shared/_Manage.cshtml";
}
@{
    ViewBag.Title = "训练场次设置";
}


<div class="main-body-relative relative">
    <div class="fix-wxp-toolbar unfix">
        <div class="fix-wxp-toolbar-wp">
            <div class="fix-wxp-toolbar-txt">
                <span class="breadcrumb-prev">训练场次设置</span> 
            </div>
        </div>
    </div>
    <div class="cko-wp">
        <div class="clear-20"></div>
        <!-- Tab panes -->
        <div class="tab-content tab-kiki-ct">
            <div role="tabpanel" class="tab-pane fade in active" id="ts-info">              
                <div class="opl-table">
                    <div class="ct clearfix">
                        <div class="weektbek">
                            <div class="row header week">
                                <div class="td day1">周一</div>
                                <div class="td day2">周二</div>
                                <div class="td day3">周三</div>
                                <div class="td day4">周四</div>
                                <div class="td day5">周五</div>
                                <div class="td day6">周六</div>
                                <div class="td day7">周日</div>
                            </div>
                            <div class="row dayline">
                                <div class="td day1">
                                    <div class="datetext">5月22日</div>
                                    <div class="today day1" style="display:none">今天</div>
                                </div>
                                <div class="td day2">
                                    <div class="datetext">5月23日</div>
                                    <div class="today day2" style="display:none">今天</div>
                                </div>
                                <div class="td day3">
                                    <div class="datetext">5月24日</div>
                                    <div class="today day3" style="display:none">今天</div>
                                </div>
                                <div class="td day4">
                                    <div class="datetext">5月25日</div>
                                    <div class="today day4" style="display:none">今天</div>
                                </div>
                                <div class="td day5">
                                    <div class="datetext">5月19日</div>
                                    <div class="today day5" style="display:none">今天</div>
                                </div>
                                <div class="td day6">
                                    <div class="datetext">5月20日</div>
                                    <div class="today day6" style="display:none">今天</div>
                                </div>
                                <div class="td day7">
                                    <div class="datetext">5月21日</div>
                                    <div class="today day7" style="display:none">今天</div>
                                </div>
                            </div>
                            <div class="row pricelb license">
                                <div class="td day1">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text"/></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day2">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text"/></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day3">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day4">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day5">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day6">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                                <div class="td day7">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt c1" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt c2" type="text" /></div>
                                </div>
                            </div>
                            <div class="row training-num">
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day1" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day2" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day3" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day4" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day5" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day6" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt day7" type="text" />
                                </div>
                            </div>
                            <div class="row config-time">
                                <div class="td">
                                    <div class="ieowim day1">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day1">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day2">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day2">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day3">未设置</div><!--has  已设置-->
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day3">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day4">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day4">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day5">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day5">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day6">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day6">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim day7">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal-day7">设置上课时间</button>
                                </div>
                            </div>
                            <div class="row class-state">
                                <div class="td">
                                    <div class="fb-switch day1" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day2" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day3" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day4" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day5" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day6" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch day7" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bt-btn-bar">
                    <input type="hidden" id="time-day1" />
                    <input type="hidden" id="time-day2" />
                    <input type="hidden" id="time-day3" />
                    <input type="hidden" id="time-day4" />
                    <input type="hidden" id="time-day5" />
                    <input type="hidden" id="time-day6" />
                    <input type="hidden" id="time-day7" />
                    <button class="btn btn-primary submit"><span class="glyphicons glyphicons-edit"></span> 保存设置 </button>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Modal day1 -->
<div class="modal fade" id="myModal-day1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day1">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day2 -->
<div class="modal fade" id="myModal-day2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day2">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day3 -->
<div class="modal fade" id="myModal-day3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day3">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day4 -->
<div class="modal fade" id="myModal-day4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day4">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day5 -->
<div class="modal fade" id="myModal-day5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day5">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day6 -->
<div class="modal fade" id="myModal-day6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day6">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal day7 -->
<div class="modal fade" id="myModal-day7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni time1">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time2">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time3">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time4">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time5">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time6">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time7">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time8">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time9">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time10">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time11">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time12">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time13">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time14">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time15">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time16">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time17">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time18">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time19">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time20">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time21">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time22">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time23">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni time24">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary time day7">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- /container -->
<script type="text/javascript">
    var school_id = '1';

	$(document).ready(function() {
	    initDate();

	    $(".bewdatimni").click(function () {
	        if ($(this).hasClass('selected'))
	            $(this).removeClass('selected');
	        else
	            $(this).addClass('selected');
	    })

	    $(".btn.btn-primary.time").click(function () {
	        saveTimeConfig(this);
	    });

	    $(".btn.btn-primary.submit").click(function () {
	        submit(this);
	    });

	    loadConfig();
	});

	function getDateText(days) {
	    var date = new Date();

	    date.setDate(date.getDate() + days);

	    var month = date.getMonth() + 1;
	    var day = date.getDate();

	    return month + '月' + day + '日';
	}

	function saveTimeConfig(btn) {
	    var val = $(btn).attr("class");//这里获取class值
	    
	    var array = val.split(" ");//split双引号里面是空格，把class值用空格分开，转换为数组

	    var dayIndex = array[3];

	    var select_time = $("#myModal-" + dayIndex).find(".bewdatimni.selected");
	    var time_box = $("#time-" + dayIndex);

	    time_box.val('');

	    $.each(select_time, function () {
	        if (time_box.val() != "") {
	            time_box.val(time_box.val() + ",");
	        }

	        var tmp_class = $(this).attr('class');
	        var arr_class = tmp_class.split(" ");
            
	        time = arr_class[1].replace('time', '');

	        time_box.val(time_box.val() + time);
	    });

	    $(".row.config-time").find(".ieowim." + dayIndex).addClass("has");
	    $(".row.config-time").find(".ieowim." + dayIndex).html("已设置");
	}
	var succ = 0;

	function submit() {
	    for (var i = 1; i < 8; i++) {
	        var c1 = $(".row.pricelb.license").find(".td.day" + i).find(".c1").val();
	        var c2 = $(".row.pricelb.license").find(".td.day" + i).find(".c2").val();
	        var num = $(".row.training-num").find(".shortpricetxt.day" + i).val();
	        var status = $(".row.class-state").find(".fb-switch.day" + i).attr("status");

	        if (status == "on")
	            status = 1;
	        else
	            status = 0;

	        var time = $("#time-day" + i.toString()).val();

	        var data = { 'C1': c1, 'C2': c2, 'Num': num, 'IsEnable': status, 'Time': time, 'WeekNum': i, 'SchoolID': school_id };

	        if (!c1 || !c2 || !num || !time)
	            continue;

	        saveConfig(data);
	    }
	}
	
	function saveConfig(data) {
	    var params = {
	        url: '/api/training/Config',
	        data: data,
	        successFun: success,
	        errorFun: error
	    }

	    ajaxTo(params);
	}

	function success(data) {
	    //alert(data.message);
	    //var opertion = {
	    //    msg: data.message,
	    //    exitText: "关闭!"
	    //};

	    //$.alertbox(opertion);

	    //if (data.code == "200") {

	    //}
	    succ = succ + 1;

	    if (succ == 7) {
	        location.reload();
	    }
	}

	function error() {
	    var opertion = {
	        msg: "保存菜单权限配置失败!!",
	        exitText: "关闭!"
	    };

	    $.alertbox(opertion);
	}

	function loadConfig() {
	    var data = { 'SchoolID':school_id };

	    var params = {
	        url: '/api/training/LoadConfig',
	        data: data,
	        successFun: success_load,
	        errorFun: error_load
	    }

	    ajaxTo(params);
	}

	function success_load(data) {
	    var datainfo = eval('[' + data.data + ']');

	    if (data.code = '200') {
	        $.each(datainfo, function () {
	            var weeknum = 'day'+ this.WeekNum;

	            loadData(this, weeknum);
	        })
	    }
	}

	function loadData(data, weeknum) {
	    $(".row.pricelb.license").find(".td." + weeknum).find(".c1").val(data.C1);
	    $(".row.pricelb.license").find(".td." + weeknum).find(".c2").val(data.C2);
	    $(".row.training-num").find(".shortpricetxt." + weeknum).val(data.Num);

        if (data.IsEnable == '1')
            $(".row.class-state").find(".fb-switch." + weeknum).attr("status", "on");
	    else
            $(".row.class-state").find(".fb-switch." + weeknum).attr("status", "off");

        var times = data.Time;

        $("#time-" + weeknum).val(times);

        var arr_time = times.split(',');

        var time_model = $("#myModal-" + weeknum);

        for (i = 0; i < arr_time.length; i++) {
            time_model.find(".time" + arr_time[i].toString()).addClass('selected');
        }

        if (arr_time.length > 0) {
            $(".row.config-time").find(".ieowim." + weeknum).addClass("has");
            $(".row.config-time").find(".ieowim." + weeknum).html("已设置");
        }
	}

	function error_load() {

	}

	function initDate() {
	    var date = new Date();

	    var month = date.getMonth() + 1;
	    var day = date.getDate();

	    var dayIndex = date.getDay();

	    var week = $(".dayline");

	    switch (dayIndex) {
	        case 0: {
	            week.find('.today.day7').show();

	            week.find('.day1').find('.datetext').html(getDateText(-6));
	            week.find('.day2').find('.datetext').html(getDateText(-5));
	            week.find('.day3').find('.datetext').html(getDateText(-4));
	            week.find('.day4').find('.datetext').html(getDateText(-3));
	            week.find('.day5').find('.datetext').html(getDateText(-2));
	            week.find('.day6').find('.datetext').html(getDateText(-1));
	            week.find('.day7').find('.datetext').html(month + '月' + day + '日');

	            break;
	        }
	        case 1: {
	            week.find('.today.day1').show();

	            week.find('.day1').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day2').find('.datetext').html(getDateText(1));
	            week.find('.day3').find('.datetext').html(getDateText(2));
	            week.find('.day4').find('.datetext').html(getDateText(3));
	            week.find('.day5').find('.datetext').html(getDateText(4));
	            week.find('.day6').find('.datetext').html(getDateText(5));
	            week.find('.day7').find('.datetext').html(getDateText(6));

	            break;
	        }
	        case 2: {
	            week.find('.today.day2').show();

	            week.find('.day1').find('.datetext').html(getDateText(-1));
	            week.find('.day2').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day3').find('.datetext').html(getDateText(1));
	            week.find('.day4').find('.datetext').html(getDateText(2));
	            week.find('.day5').find('.datetext').html(getDateText(3));
	            week.find('.day6').find('.datetext').html(getDateText(4));
	            week.find('.day7').find('.datetext').html(getDateText(5));

	            break;
	        }
	        case 3: {
	            week.find('.today.day3').show();

	            week.find('.day1').find('.datetext').html(getDateText(-2));
	            week.find('.day2').find('.datetext').html(getDateText(-1));
	            week.find('.day3').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day4').find('.datetext').html(getDateText(1));
	            week.find('.day5').find('.datetext').html(getDateText(2));
	            week.find('.day6').find('.datetext').html(getDateText(3));
	            week.find('.day7').find('.datetext').html(getDateText(4));

	            break;
	        }
	        case 4: {
	            week.find('.today.day4').show();

	            week.find('.day1').find('.datetext').html(getDateText(-3));
	            week.find('.day2').find('.datetext').html(getDateText(-2));
	            week.find('.day3').find('.datetext').html(getDateText(-1));
	            week.find('.day4').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day5').find('.datetext').html(getDateText(1));
	            week.find('.day6').find('.datetext').html(getDateText(2));
	            week.find('.day7').find('.datetext').html(getDateText(3));

	            break;
	        }
	        case 5: {
	            week.find('.today.day5').show();

	            week.find('.day1').find('.datetext').html(getDateText(-4));
	            week.find('.day2').find('.datetext').html(getDateText(-3));
	            week.find('.day3').find('.datetext').html(getDateText(-2));
	            week.find('.day4').find('.datetext').html(getDateText(-1));
	            week.find('.day5').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day6').find('.datetext').html(getDateText(1));
	            week.find('.day7').find('.datetext').html(getDateText(2));

	            break;
	        }
	        case 6: {
	            week.find('.today.day6').show();

	            week.find('.day1').find('.datetext').html(getDateText(-5));
	            week.find('.day2').find('.datetext').html(getDateText(-4));
	            week.find('.day3').find('.datetext').html(getDateText(-3));
	            week.find('.day4').find('.datetext').html(getDateText(-2));
	            week.find('.day5').find('.datetext').html(getDateText(-1));
	            week.find('.day6').find('.datetext').html(month + '月' + day + '日');
	            week.find('.day7').find('.datetext').html(getDateText(1));

	            break;
	        }
	    }
	}
</script>