@{
    Layout = "~/Views/Shared/_Manage.cshtml";
}
@{
    ViewBag.Title = "训练场次设置";
}


<div class="main-body-relative relative">
    <div class="fix-wxp-toolbar unfix">
        <div class="fix-wxp-toolbar-wp">
            <div class="fix-wxp-toolbar-txt">
                <span class="breadcrumb-prev">训练场次设置</span> 
            </div>
        </div>
    </div>


    <div class="cko-wp">

        <div class="clear-20"></div>

        <!-- Tab panes -->
        <div class="tab-content tab-kiki-ct">
            <div role="tabpanel" class="tab-pane fade in active" id="ts-info">
                
                <div class="opl-table">
                    <div class="ct clearfix">
                        <div class="weektbek">
                            <div class="row header">
                                <div class="td">周一</div>
                                <div class="td">周二</div>
                                <div class="td">周三</div>
                                <div class="td">周四</div>
                                <div class="td">周五</div>
                                <div class="td">周六</div>
                                <div class="td">周日</div>
                            </div>
                            <div class="row dayline">
                                <div class="td">
                                    <div>5月22日</div>
                                </div>
                                <div class="td">
                                    <div>5月23日</div>
                                </div>
                                <div class="td">
                                    <div>5月24日</div>
                                </div>
                                <div class="td">
                                    <div>5月25日</div>
                                </div>
                                <div class="td">
                                    <div>5月19日</div>
                                    <div class="today">今天</div>
                                </div>
                                <div class="td">
                                    <div>5月20日</div>
                                </div>
                                <div class="td">
                                    <div>5月21日</div>
                                </div>
                            </div>
                            <div class="row pricelb">
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text"/></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                                <div class="td">
                                    <div class="iweo">C1自动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                    <div class="iweo">C2手动：<input placeholder="每小时价格" class="shortpricetxt" type="text" /></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                                <div class="td">
                                    <div class="jeidi">每小时容纳人数</div>
                                    <input class="shortpricetxt" type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim has">已设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                                <div class="td">
                                    <div class="ieowim">未设置</div>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">设置上课时间</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="fb-switch" id="sendcouponkey" status="on">
                                        <div class="dd"></div>
                                        <div class="txt" for="on">开课</div>
                                        <div class="txt" for="off">停课</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bt-btn-bar">
                    <button class="btn btn-primary"><span class="glyphicons glyphicons-edit"></span> 保存设置 </button>
                </div>
            </div>

        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width:800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置上课时间</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>00:00 - 01:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>01:00 - 02:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>02:00 - 03:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>03:00 - 04:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>04:00 - 05:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>05:00 - 06:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>06:00 - 07:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>07:00 - 08:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>08:00 - 09:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>09:00 - 10:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>10:00 - 11:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>11:00 - 12:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>12:00 - 13:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>13:00 - 14:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>14:00 - 15:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>15:00 - 16:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>16:00 - 17:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni">
                            <div class="wp">
                                <div>17:00 - 18:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>18:00 - 19:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>19:00 - 20:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>20:00 - 21:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>21:00 - 22:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>22:00 - 23:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                        <div class="bewdatimni selected">
                            <div class="wp">
                                <div>23:00 - 24:00</div>
                                <div class="on">上课</div>
                                <div class="off">不上课</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<!-- /container -->
<script type="text/javascript">
	$(document).ready(function() {
		
	});

	
</script>