@{
    Layout = "~/Views/Shared/_Manage.cshtml";
}
@{
    ViewBag.Title = "角色权限设置";
}

<div class="main-body-relative relative">
    <div class="fix-wxp-toolbar unfix">
        <div class="fix-wxp-toolbar-wp">
            <div class="fix-wxp-toolbar-txt">
                <span class="breadcrumb-prev">角色权限设置</span> 
            </div>
        </div>
    </div>


    <div class="cko-wp">

        <div class="clear-20"></div>

        <!-- Tab panes -->
        <div class="tab-content tab-kiki-ct">
            <div role="tabpanel" class="tab-pane fade in active" id="ts-info">
                <div class="opl-table">
                    <div class="tt">
                        <span>模块名称</span>
                        <select style="margin-left:10px;">
                            <option>请选择访问类型</option>
                        </select>
                    </div>
                    <div class="ct clearfix">
                        <table class="switchlistgroup">
                            <tr>
                                <td class="sidecol colleft">
                                    <div class="sidett">角色</div>
                                    <div class="list-group bs">
                                        <a href="#" class="list-group-item">LEFT ITEM 901</a>
                                        <a href="#" class="list-group-item">LEFT ITEM 902</a>
                                        <a href="#" class="list-group-item">LEFT ITEM 903</a>
                                        <a href="#" class="list-group-item">LEFT ITEM 904</a>
                                        <a href="#" class="list-group-item">LEFT ITEM 905</a>
                                        <a href="#" class="list-group-item">LEFT ITEM 906</a>
                                    </div>
                                </td>
                                <td class="colmiddle">
                                    <button class="btn btn-default movetoleft">
                                        <span class="halflings halflings-backward"></span>
                                    </button>
                                    <button class="btn btn-default movetoright">
                                        <span class="halflings halflings-forward"></span>
                                    </button>
                                </td>
                                <td class="sidecol colright">
                                    <div class="sidett">权限</div>
                                    <div class="list-group bs switchlistgroup">
                                        <a href="#" class="list-group-item">RIGHT ITEM 801</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 802</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 803</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 804</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 805</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 806</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 807</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 808</a>
                                        <a href="#" class="list-group-item">RIGHT ITEM 809</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="btnrow"><button class="btn btn-primary">保存设置</button></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>

<!-- /container -->
<script type="text/javascript">
	$(document).ready(function() {
	    switchListBox();
	});

	
</script>