body {
    background: #f4f4f4;
    padding-top: 110px;
}

.pages {
    float: right;
}

.pages a, .pages span {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 1px;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pages a, .pages li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #58A0D3;
}

.pages a.first, .pages a.prev, .pages a.next, .pages a.end {
    margin: 0;
}

.pages a:hover {
    border-color: #50A8E6;
}

.pages span.current {
    background: #50A8E6;
    color: #FFF;
    font-weight: 700;
    border-color: #50A8E6;
}

.tr_border {
    border-right: 1px solid #E1E1E1;
    text-align: center;
}

.floor {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px
}

.bottom-time {
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.line {
    border: 0px;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

.line-2 {
    border: 0px;
    border-bottom: rgba(0, 0, 0, 0.5) 2px solid;
}

.container_wrap {
    position: relative;
    margin: 10px auto;
}

.wrap_990 {
    width: 990px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contain_plate {
    margin-top: 100px;
}

.clearfix {
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.contain_header {
    background: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 0 10px 0;
    padding: 0 0 0 260px;
    position: relative;
    font-size: 12px;
    width: 728px;
}

.contain_left {
    z-index: 1;
    float: left;
    width: 250px;
    margin-right: 10px;
    position: relative;
}

.fr {
    float: right;
    margin-right: 0;
}

.left_wrap {
    background: #fff;
    margin-bottom: 15px;
}

.con {
    border: 1px solid #e6e6e6;
    padding: 0 19px 25px 29px;
}

.contain_right {
    width: 880px;
    float: right;
    position: relative;
}

.fl {
    float: left;
}

.theme {
    background: #fff;
    border: 1px solid #e6e6e6;
}

.filtrate {
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}

.theme .theme_con {
    margin: 20px 30px;
}

.hotspot h4 {
    text-indent: 15px;
}

.hotspot h3, .hotspot h4 {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 4px;
    margin: 16px 0 0 0;
}

.hotspot .moderator_wrap .head {
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: -5px 5px 0 0;
    vertical-align: middle;
}

.hotspot .moderator_wrap a {
    display: block;
}

.hotspot ul li a {
    width: 180px;
    line-height: 34px;
    font-size: 12px;
    color: #333;
}

.sidebarplate {
    border: 1px solid #e6e6e6;
    padding: 15px;
    overflow: hidden;
    font-size: 14px;
}

.sidebarplate ul {
    padding: 20px;
    width: 252px;
    margin-right: -1px;
}

.sidebarplate ul li {
    float: left;
    width: 125px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.sidebarplate ul li a {
    color: #333;
    display: block;
}

.sidebarplate .sidebarplate_tab {
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    font-weight: bold;
}