
<!DOCTYPE html>
<html>
<head>
    <title>居民提交问题详细</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/Public/Home/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/files/居民提交问题详细/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/Public/Home/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/Public/Home/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/Public/Home/resources/scripts/axure/axQuery.js"></script>
    <script src="/Public/Home/resources/scripts/axure/globals.js"></script>
    <script src="/Public/Home/resources/scripts/axutils.js"></script>
    <script src="/Public/Home/resources/scripts/axure/annotation.js"></script>
    <script src="/Public/Home/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/Public/Home/resources/scripts/axure/doc.js"></script>
    <script src="/Public/Home/data/document.js"></script>
    <script src="/Public/Home/resources/scripts/messagecenter.js"></script>
    <script src="/Public/Home/resources/scripts/axure/events.js"></script>
    <script src="/Public/Home/resources/scripts/axure/action.js"></script>
    <script src="/Public/Home/resources/scripts/axure/expr.js"></script>
    <script src="/Public/Home/resources/scripts/axure/geometry.js"></script>
    <script src="/Public/Home/resources/scripts/axure/flyout.js"></script>
    <script src="/Public/Home/resources/scripts/axure/ie.js"></script>
    <script src="/Public/Home/resources/scripts/axure/model.js"></script>
    <script src="/Public/Home/resources/scripts/axure/repeater.js"></script>
    <script src="/Public/Home/resources/scripts/axure/sto.js"></script>
    <script src="/Public/Home/resources/scripts/axure/utils.temp.js"></script>
    <script src="/Public/Home/resources/scripts/axure/variables.js"></script>
    <script src="/Public/Home/resources/scripts/axure/drag.js"></script>
    <script src="/Public/Home/resources/scripts/axure/move.js"></script>
    <script src="/Public/Home/resources/scripts/axure/visibility.js"></script>
    <script src="/Public/Home/resources/scripts/axure/style.js"></script>
    <script src="/Public/Home/resources/scripts/axure/adaptive.js"></script>
    <script src="/Public/Home/resources/scripts/axure/tree.js"></script>
    <script src="/Public/Home/resources/scripts/axure/init.temp.js"></script>
    <script src="/Public/Home/files/居民提交问题详细/data.js"></script>
    <script src="/Public/Home/resources/scripts/axure/legacy.js"></script>
    <script src="/Public/Home/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '/Public/Home/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '/Public/Home/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '/Public/Home/resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Shape) -->
    <div id="u0" class="ax_shape">
        <img id="u0_img" class="img " src="/Public/Home/images/居民提交问题详细/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u2" class="ax_shape">
        <img id="u2_img" class="img " src="/Public/Home/images/居民提交问题详细/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
            <p><span></span></p>
        </div>
    </div>


    <!-- Unnamed (Shape) -->
    <div id="u5" class="ax_paragraph">
        <img id="u5_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
            <p><span>问题</span><span>详细</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u7" class="ax_paragraph">
        <img id="u7_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u8" class="text">
            <p><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">发送者：</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;"> {$item['user']['name']}</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u9" class="ax_paragraph">
        <img id="u9_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u10" class="text">
            <p><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">时间</span><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">：</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">&nbsp;</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">{$item['times']}</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u11" class="ax_paragraph">
        <img id="u11_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u12" class="text">
            <p><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">类型</span><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">：</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">&nbsp;</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">{$item['types']['name']}</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u13" class="ax_paragraph">
        <img id="u13_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u14" class="text">
            <p><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">问题</span><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">描述</span><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">：</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">&nbsp;</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">{$item['content']}</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;"></span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;"></span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u15" class="ax_paragraph">
        <img id="u15_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u16" class="text">
            <p><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">联系电话</span><span style="font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;">：</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">&nbsp;</span><span style="font-family:'微软雅黑 Regular', '微软雅黑';font-weight:400;">{$item['user']['phone']}</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <!--<div id="u17" class="ax_image">-->
        <!--<img id="u17_img" class="img " src="/Public/Home/images/我提出的问题/u36.png"/>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u18" class="text">-->
            <!--<p><span></span></p>-->
        <!--</div>-->
    <!--</div>-->

    <!-- Unnamed (Image) -->
    <div  style="position:absolute; left:40px; top:311px; width:220px; height:100px;" class="ax_image">
        <div  class="img ">
            <volist name="consult" id="val">
            <img style="width:50px; height:50px;"  class="ax_image " src="{$val['img']}"/>
                <span></span>
            </volist>
        </div>
    </div>
    <!-- Unnamed (Image) -->
    <!--<div id="u21" class="ax_image">-->
        <!--<img id="u21_img" class="img " src="/Public/Home/images/我提出的问题/u36.png"/>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u22" class="text">-->
            <!--<p><span></span></p>-->
        <!--</div>-->
    <!--</div>-->

        <!--<tr>-->
            <!--<volist name="consult" id="val">-->
            <!--<td><img id="u21_img" class="img " src="{$val['img']}"  /></td>-->
            <!--</volist>-->
        <!--</tr>-->

    <!-- Unnamed (Shape) -->
    <div id="u23" class="ax_paragraph">
        <img id="u23_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u24" class="text">
            <p><span>图片</span></p>
        </div>
    </div>
    <form class="form-horizontal" role="form" id="form" method="get" action="{:U('edit')}">
        <!-- Unnamed (HTML Button) -->
    <!-- Unnamed (Droplist) -->
        <input name="id" id="id" value="{$item['id']}" type="hidden">
    <div id="u25" class="ax_droplist">
        <select name="field" id="u25_input">
            <option<if condition="I('field') eq name">selected</if> value="请分配负责处理工作人员">请分配负责处理工作人员</option>
            <volist name="type" id="val">
            <option<if condition="I('field') eq name">selected</if> value="{$val['name']}">{$val['name']}</option>
            </volist>
        </select>
    </div>
        <div id="u4" class="ax_html_button">
            <input id="u4_input" type="submit" value="分配工作"/>
        </div>
    </form>
    <!-- Unnamed (Shape) -->
    <div id="u26" class="ax_shape">
        <img id="u26_img" class="img " src="/Public/Home/images/我提出的问题/u24.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
            <p><span>智慧社区</span></p>
        </div>
    </div>
</div>


</body>
</html>
