<!DOCTYPE html>
<html>
<head>
    <title>工作人员首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/Public/Home/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/Public/Home/files/工作人员首页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="/Public/Home/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="/Public/Home/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="/Public/Home/resources/scripts/axure/axQuery.js"></script>
    <script src="/Public/Home/resources/scripts/axure/globals.js"></script>
    <script src="/Public/Home/resources/scripts/axutils.js"></script>
    <script src="/Public/Home/resources/scripts/axure/annotation.js"></script>
    <script src="/Public/Home/resources/scripts/axure/axQuery.std.js"></script>
    <script src="/Public/Home/resources/scripts/axure/doc.js"></script>
    <script src="/Public/Home/data/document.js"></script>
    <script src="/Public/Home/resources/scripts/messagecenter.js"></script>
    <script src="/Public/Home/resources/scripts/axure/events.js"></script>
    <script src="/Public/Home/resources/scripts/axure/action.js"></script>
    <script src="/Public/Home/resources/scripts/axure/expr.js"></script>
    <script src="/Public/Home/resources/scripts/axure/geometry.js"></script>
    <script src="/Public/Home/resources/scripts/axure/flyout.js"></script>
    <script src="/Public/Home/resources/scripts/axure/ie.js"></script>
    <script src="/Public/Home/resources/scripts/axure/model.js"></script>
    <script src="/Public/Home/resources/scripts/axure/repeater.js"></script>
    <script src="/Public/Home/resources/scripts/axure/sto.js"></script>
    <script src="/Public/Home/resources/scripts/axure/utils.temp.js"></script>
    <script src="/Public/Home/resources/scripts/axure/variables.js"></script>
    <script src="/Public/Home/resources/scripts/axure/drag.js"></script>
    <script src="/Public/Home/resources/scripts/axure/move.js"></script>
    <script src="/Public/Home/resources/scripts/axure/visibility.js"></script>
    <script src="/Public/Home/resources/scripts/axure/style.js"></script>
    <script src="/Public/Home/resources/scripts/axure/adaptive.js"></script>
    <script src="/Public/Home/resources/scripts/axure/tree.js"></script>
    <script src="/Public/Home/resources/scripts/axure/init.temp.js"></script>
    <script src="/Public/Home/files/工作人员首页/data.js"></script>
    <script src="/Public/Home/resources/scripts/axure/legacy.js"></script>
    <script src="/Public/Home/resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '/Public/Home/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '/Public/Home/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '/Public/Home/resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Shape) -->
    <div id="u0" class="ax_shape">
        <img id="u0_img" class="img " src="/Public/Home/images/管理后台（移动端）/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u2" class="ax_shape">
        <img id="u2_img" class="img " src="/Public/Home/images/工作人员首页/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u4" class="ax_paragraph">
        <img id="u4_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u5" class="text">
            <p><span>我的工作站</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u6" class="ax_shape">
        <img id="u6_img" class="img " src="/Public/Home/images/我提出的问题/u24.png"/>
        <!-- Unnamed () -->
        <div id="u7" class="text">
            <p><span>智慧社区</span></p>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u8" class="ax_dynamic_panel">
        <div id="u8_state0" class="panel_state" data-label="State1">
            <div id="u8_state0_content" class="panel_state_content">

                <!-- Unnamed (Shape) -->
                <div id="u9" class="ax_shape">
                    <img id="u9_img" class="img " src="/Public/Home/images/工作人员首页/u9.png"/>
                    <!-- Unnamed () -->
                    <div id="u10" class="text">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u11" class="ax_h1">
                    <img id="u11_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u12" class="text">
                        <p><span>2018年10月1日 12:32:43</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u13" class="ax_h1">
                    <img id="u13_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u14" class="text">
                        <p><span style="color:#333333;">张文提出 环境卫生 </span><span style="color:#FF6666;">待解决</span></p>
                    </div>
                </div>

                <!-- Unnamed (Horizontal Line) -->
                <div id="u15" class="ax_horizontal_line">
                    <img id="u15_start" class="img " src="/Public/Home/resources/images/transparent.gif" alt="u15_start"/>
                    <img id="u15_end" class="img " src="/Public/Home/resources/images/transparent.gif" alt="u15_end"/>
                    <img id="u15_line" class="img " src="/Public/Home/images/工作人员首页/u15_line.png" alt="u15_line"/>
                </div>
            </div>
        </div>
    </div>


    <!-- Unnamed (Dynamic Panel) -->
    <div id="u16" class="ax_dynamic_panel">
        <div id="u16_state0" class="panel_state" data-label="State1">
            <div id="u16_state0_content" class="panel_state_content">

                <!-- Unnamed (Shape) -->
                <!--<div id="u17" class="ax_shape">-->
                    <!--<img id="u17_img" class="img " src="/Public/Home/images/工作人员首页/u9.png"/>-->
                    <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
                    <!--<div id="u18" class="text">-->
                        <!--<p><span></span></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Unnamed (Shape) &ndash;&gt;-->
                <!--<div id="u19" class="ax_h1">-->
                    <!--<img id="u19_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>-->
                    <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
                    <!--<div id="u20" class="text">-->
                        <!--<p><span>2018年</span><span>7</span><span>月1</span><span>3</span><span>日 12:</span><span>21</span><span>:</span><span>24</span></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Unnamed (Shape) &ndash;&gt;-->
                <!--<div id="u21" class="ax_h1">-->
                    <!--<img id="u21_img" class="img " src="/Public/Home/resources/images/transparent.gif"/>-->
                    <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
                    <!--<div id="u22" class="text">-->
                        <!--<p><span style="color:#333333;">刘明</span><span style="color:#333333;">提出 </span><span style="color:#333333;">安全</span><span style="color:#333333;">问题</span><span style="color:#333333;">&nbsp;</span><span style="color:#999999;">已解决</span></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--&lt;!&ndash; Unnamed (Horizontal Line) &ndash;&gt;-->
                <!--<div id="u23" class="ax_horizontal_line">-->
                    <!--<img id="u23_start" class="img " src="/Public/Home/resources/images/transparent.gif" alt="u23_start"/>-->
                    <!--<img id="u23_end" class="img " src="/Public/Home/resources/images/transparent.gif" alt="u23_end"/>-->
                    <!--<img id="u23_line" class="img " src="/Public/Home/images/工作人员首页/u15_line.png" alt="u23_line"/>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>
